<template>
    <div class="modal fade" role="dialog" id="modal-add-photo-rumah">
        <div class="modal-dialog" role="document" style="max-width:950px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add About
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">
                                File
                            </label>
                            <div>
                                <croppa v-model="fileCroppa"
                                        @draw="handleDrawFile"
                                        @new-image-drawn="handleDrawFile"
                                        :width="500"
                                        :height="225"
                                        :quality="2"
                                        :placeholder="'Choose an image'"
                                        :accept="'image/*'"
                                        :file-size-limit="0"
                                        :placeholder-font-size="0"
                                        :disabled="false"
                                        :prevent-white-space="true"
                                        :show-remove-button="true">
                                </croppa>
                            </div>
                            <error-reference v-if="errors.file"
                                             :message="errors.file[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Divisi
                            </label>
                            <select class="form-control" v-model="item.divisi_id">
                                <option value="">Homepage</option>
                                <template v-for="divisi in divisis">
                                    <option :value="divisi.id">{{ divisi.name}}</option>
                                </template>
                            </select>
                            <error-reference v-if="errors.divisi_id"
                                             :message="errors.divisi_id[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Style
                            </label>
                            <select class="form-control" v-model="item.style">
                                <option value="left">Left</option>
                                <option value="right">Right</option>
                            </select>
                            <error-reference v-if="errors.style"
                                             :message="errors.style[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Title
                            </label>
                            <input type="text" class="form-control" v-model="item.title"
                                   placeholder="Enter title here"/>
                            <error-reference v-if="errors.title"
                                             :message="errors.title[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Description
                            </label>
                            <textarea class="form-control" v-model="item.description"
                                      placeholder="Enter description here"></textarea>
                            <error-reference v-if="errors.description"
                                             :message="errors.description[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Seed
                            </label>
                            <input type="text" class="form-control" v-model="item.seed"
                                   placeholder="Enter seed here"/>
                            <error-reference v-if="errors.seed"
                                             :message="errors.seed[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" class="form-control" :value="1" v-model="item.show"/>
                                Show
                            </label>
                            <error-reference v-if="errors.show"
                                             :message="errors.show[0]"></error-reference>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props     : [],
        components: {},
        data() {
            return {
                fileCroppa: {},
                fileBlob  : null,
                divisis   : [],
                item      : {
                    seed       : 1,
                    show       : 0,
                    style      : "left",
                    title      : "",
                    description: "",
                    divisi_id  : "",
                    file       : {
                        full_url: ""
                    },
                },
                loading   : false,
                errors    : [],
                base_url  : base_url
            }
        },
        methods   : {
            open(oid, item) {
                if (oid == 'modal-add-photo-rumah') {
                    this.getDivisi();
                    $('#modal-add-photo-rumah').modal("show");
                }
            },
            handleDrawFile() {
                this.fileCroppa.generateBlob(
                    fileBlob => {
                        this.fileBlob = fileBlob;
                    },
                    'image/jpeg',
                    1
                );
            },
            getDivisi() {
                axios.get(window.base_url + '/admin/api/divisi/dropdown').then(response => {
                    this.divisis = response.data;
                }).catch(errors => {
                });
            },
            save() {
                var formData = new FormData();
                formData.append('file', this.fileBlob);
                formData.append('_token', this.$root.csrf_token);
                formData.append('title', this.item.title);
                formData.append('style', this.item.style);
                formData.append('seed', this.item.seed);
                formData.append('show', this.item.show);
                formData.append('description', this.item.description);
                formData.append('divisi_id', this.item.divisi_id);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/about', formData).then(response => {
                    this.loading          = false;
                    this.item.divisi_id   = "";
                    this.item.title       = "";
                    this.item.style       = "left";
                    this.item.seed        = 1;
                    this.item.show        = 0;
                    this.item.description = "";
                    this.fileCroppa.remove();
                    this.$root.makeNotification('New About has been added!', 'ok');
                    window.eventHub.$emit('refresh-ajaxtable', 'data-about');
                    $('#modal-add-photo-rumah').modal("hide");
                }).catch(errors => {
                    this.loading = false;
                    this.errors  = errors.response.data.errors;
                });
            },
            cancel() {
                this.item = {};
                $('#modal-add-photo-rumah').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
