<template>
    <div class="modal fade" role="dialog" id="modal-edit-sekjen">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Edit Sekertariat Jenderal
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">
                                Station
                            </label>
                            <input type="text" class="form-control" v-model="item.nama"
                                   placeholder="Enter nama here"/>
                            <error-reference v-if="errors.nama"
                                             :message="errors.nama[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                KIB
                            </label>
                            <input type="text" class="form-control" v-model="item.nip"
                                   placeholder="Enter nip here"/>
                            <error-reference v-if="errors.nip"
                                             :message="errors.nip[0]"></error-reference>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props  : [],
        data() {
            return {
                item    : {},
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-edit-kendaraan-dinas') {
                    this.item = item;
                    $('#modal-edit-kendaraan-dinas').modal("show");
                }
            },
            initStartup() {
                this.item = {
                    nama         : "",
                    nip             : "",

                };
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('_method', "PUT");
                formData.append('nama', this.item.nama);
                formData.append('nip', this.item.nip);


                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/sekjen/' + this.item.id, formData).then(response => {
                    this.loading = false;
                    this.initStartup();
                    this.$root.makeNotification('Sekertariat Jenderal has been edited!', 'ok');
                    window.eventHub.$emit('refresh-ajaxtable', 'data-sekjen');
                    $('#modal-edit-sekjen').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-edit-sekjen').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
