<template>
    <div class="modal fade" role="dialog" id="modal-delete-satker">
        <div class="modal-dialog modal-sm" role="document" style="max-width:950px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Delete Satker
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                Are you sure you want to delete this Satker?
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            No
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Yes'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props  : [],
        data() {
            return {
                myCroppa: {},
                item    : {},
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-delete-satker') {
                    this.item = item;
                    $('#modal-delete-satker').modal("show");
                }
            },
            save() {
                axios.delete(window.base_url + '/admin/api/Satker/' + this.item.id).then(response => {
                    this.loading = false;
                    this.$root.makeNotification('satker has been deleted!', 'ok');
                    window.eventHub.$emit('refresh-ajaxtable', 'data-satker');
                    $('#modal-delete-satker').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-delete-satker').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        }
    }
</script>
