<template>
    <div class="modal fade" role="dialog" id="modal-edit-satker">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Edit Satker
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">
                                Alamat
                            </label>
                            <input type="text" class="form-control" v-model="item.alamat"
                                   placeholder="Enter alamat here"/>
                            <error-reference v-if="errors.alamat"
                                             :message="errors.alamat[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Kode Pos
                            </label>
                            <input type="text" class="form-control" v-model="item.kode_pos"
                                   placeholder="Enter kode pos here"/>
                            <error-reference v-if="errors.kode_pos"
                                             :message="errors.kode_pos[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Country
                            </label>
                            <multiselect v-model="selectedCountries" :options="countries" :allow-empty="false"
                                         :multiple="true" :close-on-select="false" :clear-on-select="false"
                                         :preserve-search="true" :searchable="true"
                                         label="name"
                                         placeholder="Select country" track-by="id"></multiselect>
                            <error-reference v-if="errors.country_ids"
                                             :message="errors.country_ids[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Email
                            </label>
                            <input type="text" class="form-control" v-model="item.email"
                                   placeholder="Enter email here"/>
                            <error-reference v-if="errors.email"
                                             :message="errors.email[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Phone
                            </label>
                            <input type="text" class="form-control" v-model="item.phone"
                                   placeholder="Enter phone here"/>
                            <error-reference v-if="errors.phone"
                                             :message="errors.phone[0]"></error-reference>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props   : [],
        data() {
            return {
                item             : {},
                countries        : [],
                selectedCountries: [],
                loading          : false,
                errors           : [],
                base_url         : base_url
            }
        },
        computed: {
            selectedCountryIds: function () {
                var selectedCountryIds = [];

                for (var i = 0; i < this.selectedCountries.length; i++) {
                    selectedCountryIds.push(this.selectedCountries[i].id);
                }

                return selectedCountryIds;
            },
        },
        methods : {
            open(oid, item) {
                if (oid == 'modal-edit-satker') {
                    this.getCountries();
                    this.item              = item;
                    this.selectedCountries = item.countries;
                    $('#modal-edit-satker').modal("show");
                }
            },
            initStartup() {
                this.item = {
                    alamat     : "",
                    kode_pos   : "",
                    email      : "",
                    phone      : "",
                    country_ids: "",
                };
            },
            getCountries() {
                axios.get(window.base_url + '/admin/api/country/dropdown').then(response => {
                    this.countries = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('_method', "PUT");
                formData.append('alamat', this.item.alamat);
                formData.append('kode_pos', this.item.kode_pos);
                formData.append('email', this.item.email);
                formData.append('phone', this.item.phone);

                formData.append('country_ids', this.selectedCountryIds);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/satker/' + this.item.id, formData).then(response => {
                    this.loading = false;
                    this.initStartup();
                    this.$root.makeNotification('Satker has been edited!', 'ok');
                    window.eventHub.$emit('refresh-ajaxtable', 'data-satker');
                    $('#modal-edit-satker').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-edit-satker').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
