<template>
    <div class="modal fade" role="dialog" id="modal-add-location">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Location
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">
                                Location
                            </label>

                            <button type="button" class="btn btn-sm btn-info btn-circle" @click="useMyLocation">
                                <i class="fa fa-location-arrow"></i>
                            </button>

                            <location-picker
                                    v-model="item.location"
                                    :options="options">
                            </location-picker>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import {LocationPicker} from 'vue2-location-picker'

    export default {
        props     : ['tipe'],
        components: {
            LocationPicker
        },
        data() {
            return {
                item    : {
                    location: {
                        lat: 41.0082376,
                        lng: 28.97835889999999
                    },
                },
                options : { // is not required
                    map         : {/** other map options **/},
                    marker      : {/** marker options **/},
                    autocomplete: {/** autocomplete options **/}
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            open(oid, item) {
                if (oid == 'modal-add-location') {

                    this.item.id       = item.id;
                    this.item.location = {
                        lat: parseFloat(item.lat),
                        lng: parseFloat(item.lng),
                    };

                    $('#modal-add-location').modal("show");
                }
            },
            useMyLocation() {
                var that = this;
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        that.item.location = {
                            lat: parseFloat(position.coords.latitude),
                            lng: parseFloat(position.coords.longitude),
                        };

                        // infoWindow.setPosition(pos);
                        // infoWindow.setContent('Location found.');
                        // infoWindow.open(map);
                        // map.setCenter(pos);
                    }, function () {
                        // handleLocationError(true, infoWindow, map.getCenter());
                    });
                }
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('lat', this.item.location.lat);
                formData.append('lng', this.item.location.lng);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/location/' + this.tipe + '/' + this.item.id, formData).then(response => {
                    this.loading = false;
                    this.$root.makeNotification('New Location has been added!', 'ok');
                    if (this.tipe == 'rumah') {
                        window.eventHub.$emit('refresh-ajaxtable', 'data-rumah-negara');
                    } else {
                        window.eventHub.$emit('refresh-ajaxtable', 'data-' + this.tipe);
                    }
                    $('#modal-add-location').modal("hide");
                }).catch(errors => {
                    this.loading = false;
                    this.errors  = errors.response.data.errors;
                });
            },
            cancel() {
                this.item = {};
                $('#modal-add-location').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
