<template>
    <div class="modal fade" role="dialog" id="modal-edit-photos">
        <div class="modal-dialog" role="document" style="max-width:1000px">
            <div class="modal-content" v-show="showDelete">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Delete Photo
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        Are you sure you want to delete this photo?

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="changeStateToList">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="deletePhoto" :text="'Yes'"></ladda-reference>
                    </div>
                </form>
            </div>
            <div class="modal-content" v-show="showAdd">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Photos
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">
                                File
                            </label>
                            <div>
                                <croppa v-model="fileCroppa"
                                        @draw="handleDrawFile"
                                        @new-image-drawn="handleDrawFile"
                                        :quality="1"
                                        :width="750"
                                        :height="500"
                                        :placeholder="'Choose an image'"
                                        :placeholder-color="'gray'"
                                        :accept="'image/*'"
                                        :file-size-limit="0"
                                        :placeholder-font-size="0"
                                        :disabled="false"
                                        :prevent-white-space="true"
                                        :show-remove-button="true">
                                </croppa>
                            </div>
                            <error-reference v-if="errors.file"
                                             :message="errors.file[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Seed
                            </label>
                            <input type="text" class="form-control" v-model="item.seed"
                                   placeholder="Enter seed here"/>
                            <error-reference v-if="errors.seed"
                                             :message="errors.seed[0]"></error-reference>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="changeStateToList">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
            <div class="modal-content" v-show="showList">
                <div class="modal-header">
                    <h4 class="modal-title">
                        List Photos
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-info min-width-125 mb-3" @click="changeStateToAdd">+ Add
                        Photos
                    </button>
                    <ajax-table
                        :url="base_url + '/admin/api/photos/' + tipe"
                        :oid="'data-photos'"
                        :params="params"
                        :config="{
                                      autoload: true,
                                      show_all: false,
                                      has_number: true,
                                      has_entry_page: false,
                                      has_pagination: true,
                                      has_action: true,
                                      has_search_input: true,
                                      has_search_header: false,
                                      custom_header: '',
                                      default_sort: 'id',
                                      default_sort_dir: 'desc',
                                      custom_empty_page: false,
                                      search_placeholder: 'Cari',
                                      class: {
                                        table: ['table-condensed'],
                                        wrapper: ['table-responsive'],
                                      }
                                }"
                        :rowparams="{tanggal: params.nama_kedutaan}"
                        :rowtemplate="'tr-data-photos'"
                        :columns="{
                                  'preview': 'Preview',
                                  'seed': 'Seed',
                            }">
                    </ajax-table>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {LocationPicker} from 'vue2-location-picker'

    export default {
        props     : ['tipe'],
        components: {
            LocationPicker
        },
        data() {
            return {
                fileCroppa: {},
                fileBlob  : null,
                deleteid  : '',
                item      : {
                    id  : '',
                    seed: 1,
                    file: {
                        full_url: ""
                    },
                },
                params    : {
                    id: ''
                },
                options   : { // is not required
                    map         : {/** other map options **/},
                    marker      : {/** marker options **/},
                    autocomplete: {/** autocomplete options **/}
                },
                state     : 'list',
                loading   : false,
                errors    : [],
                base_url  : base_url
            }
        },
        computed  : {
            showDelete: function () {
                return this.state == 'delete';
            },
            showAdd   : function () {
                return this.state == 'add';
            },
            showList  : function () {
                return this.state == 'list';
            },
        },
        methods   : {
            open(oid, item) {
                if (oid == 'modal-edit-photos') {

                    this.item.id   = item.id;
                    this.params.id = item.id;

                    this.changeStateToList();

                    $('#modal-edit-photos').modal("show");
                }
            },
            changeState(oid, state, item) {
                if (oid == 'modal-edit-photos') {
                    if (state == 'delete') {
                        this.deleteid = item.id;
                        this.changeStateToDelete();
                    }
                }
            },
            handleDrawFile() {
                this.fileCroppa.generateBlob(
                    fileBlob => {
                        this.fileBlob = fileBlob;
                    },
                    'image/jpeg',
                    1
                );
            },
            changeStateToAdd() {
                this.state = 'add';
            },
            changeStateToList() {
                this.state = 'list';
                window.eventHub.$emit('refresh-ajaxtable', 'data-photos');
            },
            changeStateToDelete() {
                this.state = 'delete';
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('file', this.fileBlob);
                formData.append('seed', this.item.seed);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/photos/' + this.tipe + '/' + this.item.id, formData).then(response => {
                    this.loading   = false;
                    this.item.seed = 1;
                    this.fileCroppa.remove();
                    this.changeStateToList();
                    this.$root.makeNotification('New Photos has been added!', 'ok');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            deletePhoto() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('_method', 'DELETE');

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/photos/' + this.tipe + '/' + this.deleteid, formData).then(response => {
                    this.loading = false;
                    this.changeStateToList();
                    this.$root.makeNotification('Photo has been deleted!', 'ok');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-edit-photos').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
                window.eventHub.$on('change-state', this.changeState);
            }.bind(this));
        },
    }
</script>
