<template>
    <div class="modal fade" role="dialog" id="modal-edit-user">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Edit User
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">
                                Role
                            </label>
                            <select class="form-control" v-model="item.role_id">
                                <option value="">-- pilih role --</option>
                                <template v-for="role in roles">
                                    <option :value="role.id">{{ role.display_name }}</option>
                                </template>
                            </select>
                            <error-reference v-if="errors.role_id"
                                             :message="errors.role_id[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Wilayah
                            </label>
                            <select class="form-control" v-model="item.wilayah_id">
                                <option :value="null">-- pilih wilayah --</option>
                                <template v-for="wilayah in wilayahs">
                                    <option :value="wilayah.id">{{ wilayah.nama_wilayah }}</option>
                                </template>
                            </select>
                            <error-reference v-if="errors.wilayah_id"
                                             :message="errors.wilayah_id[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Satker
                            </label>
                            <select class="form-control" v-model="item.satker_id">
                                <option :value="null">-- pilih satker --</option>
                                <template v-for="satker in satkers">
                                    <option :value="satker.id">{{ satker.nama_satker }}</option>
                                </template>
                            </select>
                            <error-reference v-if="errors.satker_id"
                                             :message="errors.satker_id[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Username
                            </label>
                            <input type="text" class="form-control" v-model="item.username"
                                   placeholder="Enter username here"/>
                            <error-reference v-if="errors.username"
                                             :message="errors.username[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Name
                            </label>
                            <input type="text" class="form-control" v-model="item.name"
                                   placeholder="Enter name here"/>
                            <error-reference v-if="errors.name"
                                             :message="errors.name[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                E-mail
                            </label>
                            <input type="text" class="form-control" v-model="item.email"
                                   placeholder="Enter email here"/>
                            <error-reference v-if="errors.email"
                                             :message="errors.email[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                <toggle-button v-model="item.is_active"
                                               color="#82C7EB"
                                               :sync="true"
                                               :labels="false"/>
                                Active
                            </label>
                            <error-reference v-if="errors.is_active"
                                             :message="errors.is_active[0]"></error-reference>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props  : [],
        data() {
            return {
                roles   : [],
                wilayahs: [],
                satkers : [],
                item    : {},
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-edit-user') {
                    this.getRoles();
                    this.getWilayahs();
                    this.getSatkers();
                    this.item         = item;
                    this.item.role_id = item.roles[0].id;
                    $('#modal-edit-user').modal("show");
                }
            },
            initStartup() {
                this.item = {
                    username  : "",
                    name      : "",
                    email     : "",
                    is_active : false,
                    role_id   : "",
                    wilayah_id: "",
                    satker_id : "",
                };
            },
            getRoles() {
                axios.get(base_url + '/admin/api/role/dropdown').then(response => {
                    this.roles = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            getWilayahs() {
                axios.get(base_url + '/admin/api/wilayah/dropdown').then(response => {
                    this.wilayahs = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            getSatkers() {
                axios.get(base_url + '/admin/api/satker/dropdown').then(response => {
                    this.satkers = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            save() {
                var formData = new FormData();
                formData.append('_method', 'PUT');
                formData.append('_token', this.$root.csrf_token);
                formData.append('username', this.item.username);
                formData.append('name', this.item.name);
                formData.append('email', this.item.email);
                formData.append('is_active', this.item.is_active);
                formData.append('role_id', this.item.role_id);
                formData.append('wilayah_id', this.item.wilayah_id);
                formData.append('satker_id', this.item.satker_id);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/user/' + this.item.id, formData).then(response => {
                    this.loading = false;
                    this.initStartup();
                    this.$root.makeNotification('User has been edited!', 'ok');
                    window.eventHub.$emit('refresh-ajaxtable', 'data-user');
                    $('#modal-edit-user').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-edit-user').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
