<template>
    <div class="modal fade" role="dialog" id="modal-add-kendaraan-dinas">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Pajak & Asuransi
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">
                                Station
                            </label>
                            <input type="text" class="form-control" v-model="item.station"
                                   placeholder="Enter station here"/>
                            <error-reference v-if="errors.station"
                                             :message="errors.station[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                KIB
                            </label>
                            <input type="text" class="form-control" v-model="item.kib"
                                   placeholder="Enter kib here"/>
                            <error-reference v-if="errors.kib"
                                             :message="errors.kib[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Jenis
                            </label>
                            <input type="text" class="form-control" v-model="item.jenis"
                                   placeholder="Enter jenis here"/>
                            <error-reference v-if="errors.jenis"
                                             :message="errors.jenis[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Tipe
                            </label>
                            <input type="text" class="form-control" v-model="item.tipe"
                                   placeholder="Enter tipe here"/>
                            <error-reference v-if="errors.tipe"
                                             :message="errors.tipe[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Merk
                            </label>
                            <input type="text" class="form-control" v-model="item.merk"
                                   placeholder="Enter merk here"/>
                            <error-reference v-if="errors.merk"
                                             :message="errors.merk[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Warna
                            </label>
                            <input type="text" class="form-control" v-model="item.warna"
                                   placeholder="Enter warna here"/>
                            <error-reference v-if="errors.warna"
                                             :message="errors.warna[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Tahun
                            </label>
                            <input type="text" class="form-control" v-model="item.tahun"
                                   placeholder="Enter tahun here"/>
                            <error-reference v-if="errors.tahun"
                                             :message="errors.tahun[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                BPKB
                            </label>
                            <input type="text" class="form-control" v-model="item.bpkb"
                                   placeholder="Enter bpkb here"/>
                            <error-reference v-if="errors.bpkb"
                                             :message="errors.bpkb[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                No Mesin
                            </label>
                            <input type="text" class="form-control" v-model="item.no_mesin"
                                   placeholder="Enter no mesin here"/>
                            <error-reference v-if="errors.no_mesin"
                                             :message="errors.no_mesin[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                No Rangka
                            </label>
                            <input type="text" class="form-control" v-model="item.no_rangka"
                                   placeholder="Enter no rangka here"/>
                            <error-reference v-if="errors.no_rangka"
                                             :message="errors.no_rangka[0]"></error-reference>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Penanggung Jawab
                            </label>
                            <input type="text" class="form-control" v-model="item.penanggung_jawab"
                                   placeholder="Enter penanggung jawab here"/>
                            <error-reference v-if="errors.penanggung_jawab"
                                             :message="errors.penanggung_jawab[0]"></error-reference>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                                <div class="form-group">
                                    <label class="control-label">
                                        No Polis
                                    </label>
                                    <input type="text" class="form-control" v-model="item.no_polis"
                                           placeholder="Enter no polis here"/>
                                    <error-reference v-if="errors.no_polis"
                                                     :message="errors.no_polis[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Perusahaan Asuransi
                                    </label>
                                    <input type="text" class="form-control" v-model="item.perusahaan_asuransi"
                                           placeholder="Enter perusahaan asuransi here"/>
                                    <error-reference v-if="errors.perusahaan_asuransi"
                                                     :message="errors.perusahaan_asuransi[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Premi
                                    </label>
                                    <vue-autonumeric
                                            :placeholder="'Enter premi here'"
                                            ref="premi"
                                            :class="'form-control'"
                                            v-model="item.premi"
                                            :options="{
                                         digitGroupSeparator: ',',
                                         decimalCharacter: '.',
                                         decimalCharacterAlternative: '.',
                                         roundingMethod: 'U',
                                         minimumValue: '0',
                                         modifyValueOnWheel: false,
                                     }"
                                    ></vue-autonumeric>
                                    <error-reference v-if="errors.premi"
                                                     :message="errors.premi[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Tertanggung
                                    </label>
                                    <vue-autonumeric
                                            :placeholder="'Enter tertanggung here'"
                                            ref="tertanggung"
                                            :class="'form-control'"
                                            v-model="item.tertanggung"
                                            :options="{
                                         digitGroupSeparator: ',',
                                         decimalCharacter: '.',
                                         decimalCharacterAlternative: '.',
                                         roundingMethod: 'U',
                                         minimumValue: '0',
                                         modifyValueOnWheel: false,
                                     }"
                                    ></vue-autonumeric>
                                    <error-reference v-if="errors.tertanggung"
                                                     :message="errors.tertanggung[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Jatuh Tempo Awal
                                    </label>
                                    <VueCtkDateTimePicker v-model="item.jatuh_tempo_awal" :only-date="true"
                                                          formatted="D MMMM Y"></VueCtkDateTimePicker>
                                    <!--                                    <datetime v-model="item.jatuh_tempo_awal" value-zone="UTC+07"-->
                                    <!--                                              placeholder="Enter jatuh tempo awal here"-->
                                    <!--                                              input-class="form-control"></datetime>-->
                                    <error-reference v-if="errors.jatuh_tempo_awal"
                                                     :message="errors.jatuh_tempo_awal[0]"></error-reference>
                                </div>

                                <div class="form-group jatuh-akhir">
                                    <label class="control-label">
                                        Jatuh Tempo Akhir
                                    </label>
                                    <VueCtkDateTimePicker v-model="item.jatuh_tempo_akhir" :only-date="true"
                                                          formatted="D MMMM Y"></VueCtkDateTimePicker>
<!--                                    <datetime v-model="item.jatuh_tempo_akhir" value-zone="UTC+07"-->
<!--                                              placeholder="Enter jatuh tempo akhir here"-->
<!--                                              input-class="form-control"></datetime>-->
                                    <error-reference v-if="errors.jatuh_tempo_akhir"
                                                     :message="errors.jatuh_tempo_akhir[0]"></error-reference>
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <div class="form-group">
                                    <label class="control-label">
                                        No Polisi
                                    </label>
                                    <input type="text" class="form-control" v-model="item.no_polisi"
                                           placeholder="Enter no polisi here"/>
                                    <error-reference v-if="errors.no_polisi"
                                                     :message="errors.no_polisi[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Tanggal Pajak
                                    </label>
                                    <VueCtkDateTimePicker v-model="item.tanggal_pajak" :only-date="true"
                                                          formatted="D MMMM Y"></VueCtkDateTimePicker>
<!--                                    <datetime v-model="item.tanggal_pajak" value-zone="UTC+07"-->
<!--                                              placeholder="Enter jatuh tempo akhir here"-->
<!--                                              input-class="form-control"></datetime>-->
                                    <error-reference v-if="errors.tanggal_pajak"
                                                     :message="errors.tanggal_pajak[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        No Polisi RFS
                                    </label>
                                    <input type="text" class="form-control" v-model="item.no_polisi_rfs"
                                           placeholder="Enter no polisi rfs here"/>
                                    <error-reference v-if="errors.no_polisi_rfs"
                                                     :message="errors.no_polisi_rfs[0]"></error-reference>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Tanggal Pajak RFS
                                    </label>
                                    <VueCtkDateTimePicker v-model="item.tanggal_pajak_rfs" :only-date="true"
                                                          formatted="D MMMM Y"></VueCtkDateTimePicker>
<!--                                    <datetime v-model="item.tanggal_pajak_rfs" value-zone="UTC+07"-->
<!--                                              placeholder="Enter jatuh tempo akhir here"-->
<!--                                              input-class="form-control"></datetime>-->
                                    <error-reference v-if="errors.tanggal_pajak_rfs"
                                                     :message="errors.tanggal_pajak_rfs[0]"></error-reference>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props  : [],
        data() {
            return {
                item    : {},
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-add-kendaraan-dinas') {
                    this.initStartup();
                    $('#modal-add-kendaraan-dinas').modal("show");
                }
            },
            initStartup() {
                this.item = {
                    station         : "",
                    kib             : "",
                    jenis           : "",
                    tipe            : "",
                    merk            : "",
                    warna           : "",
                    tahun           : "",
                    bpkb            : "",
                    no_mesin        : "",
                    no_rangka       : "",
                    penanggung_jawab: "",

                    no_polis           : "",
                    perusahaan_asuransi: "",
                    premi              : "",
                    tertanggung        : "",
                    jatuh_tempo_awal   : "",
                    jatuh_tempo_akhir  : "",

                    no_polisi        : "",
                    tanggal_pajak    : "",
                    no_polisi_rfs    : "",
                    tanggal_pajak_rfs: "",
                };
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('station', this.item.station);
                formData.append('kib', this.item.kib);
                formData.append('jenis', this.item.jenis);
                formData.append('tipe', this.item.tipe);
                formData.append('merk', this.item.merk);
                formData.append('warna', this.item.warna);
                formData.append('tahun', this.item.tahun);
                formData.append('bpkb', this.item.bpkb);
                formData.append('no_mesin', this.item.no_mesin);
                formData.append('no_rangka', this.item.no_rangka);
                formData.append('penanggung_jawab', this.item.penanggung_jawab);

                formData.append('no_polis', this.item.no_polis);
                formData.append('perusahaan_asuransi', this.item.perusahaan_asuransi);
                formData.append('premi', this.item.premi);
                formData.append('tertanggung', this.item.tertanggung);
                formData.append('jatuh_tempo_awal', this.item.jatuh_tempo_awal);
                formData.append('jatuh_tempo_akhir', this.item.jatuh_tempo_akhir);

                formData.append('no_polisi', this.item.no_polisi);
                formData.append('tanggal_pajak', this.item.tanggal_pajak);
                formData.append('no_polisi_rfs', this.item.no_polisi_rfs);
                formData.append('tanggal_pajak_rfs', this.item.tanggal_pajak_rfs);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/kendaraan-dinas', formData).then(response => {
                    this.loading = false;
                    this.initStartup();
                    this.$root.makeNotification('New Pajak & Asuransi has been added!', 'ok');
                    window.eventHub.$emit('refresh-ajaxtable', 'data-kendaraan-dinas');
                    $('#modal-add-kendaraan-dinas').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-add-kendaraan-dinas').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
