<template>
    <div class="modal fade" role="dialog" id="modal-edit-penghapusan-signature">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                       Edit Penghapusan Signature
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>

                                    <legend class="mt-4 mb-3">Surat Pernyataan Signature</legend>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Nama
                                            </label>
                                            <input type="text" class="form-control" v-model="suratPernyataanSignature.nama"
                                                   placeholder="Enter nama here"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                NIP
                                            </label>
                                            <input type="text" class="form-control" v-model="suratPernyataanSignature.nip"
                                                   placeholder="Enter jabatan nip here"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Pangkat
                                            </label>
                                            <select class="form-control" v-model="suratPernyataanSignature.pangkat"
                                               placeholder="-----------Pilih Pangkat-----">
                                               <option value="Golongan 1">Golongan 1</option>
                                                 <option value="I A">Golongan 1a</option>
                                                 <option value="I B">Golongan 1b</option>
                                                 <option value="I C">Golongan 1c</option>
                                                 <option value="I D">Golongan 1d</option>
                                                 <option value="II A">Golongan 2a</option>
                                                 <option value="II B">Golongan 2b</option>
                                                 <option value="II C">Golongan 2c</option>
                                                 <option value="II D">Golongan 2d</option>
                                                 <option value="III A">Golongan 3a</option>
                                                 <option value="III B">Golongan 3b</option>
                                                 <option value="III C">Golongan 3c</option>
                                                 <option value="III D">Golongan 3d</option>
                                                 <option value="IV A">Golongan 4a</option>
                                                 <option value="IV B">Golongan 4b</option>
                                                 <option value="IV C">Golongan 4c</option>
                                                 <option value="IV D">Golongan 4d</option>
                                                 <option value="IV E">Golongan 4e</option>
                                        </select>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Jabatan
                                            </label>
                                            <input type="text" class="form-control"
                                                   v-model="suratPernyataanSignature.jabatan"
                                                   placeholder="Enter jabatan tim panitia here"/>
                                        </div>

                                </fieldset>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    legend {
        font-size: 1.2rem;
    }

    .btn.btn-circle.btn-sm, .btn-group-sm > .btn.btn-circle {
        padding: 1px 0;
        font-size: 14px;
        line-height: 1;
        border-radius: inherit;
        min-width: 25px;
        height: 25px;
    }

    .tooltip {
        display: block !important;
        z-index: 9999;
        opacity: 1;
    }

    .tooltip .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 20px;
        max-width: 450px;
    }

    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

    .tooltip[x-placement^="bottom"] .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="right"] {
        margin-left: 5px;
    }

    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    .tooltip[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }

</style>
<script>
    export default {
        props  : ['penghapusanid'],
        data() {
            return {
                msg                          : "Penjualan Tidak Secara lelang:<br/>" +
                    "Panitia dapat menjual langsung ke calon pembeli tanpa melalui badan/balai lelang resmi.<br/>" +
                    "<br/>" +
                    "Penjualan Secara Lelang:<br/>" +
                    "Panitia menjual melalui perantara badan/balai lelang resmi.<br/>" +
                    "<br/>" +
                    "Pemusnahan:<br/>" +
                    "Pemusnahan dengan dihancurkan/scrap melalui perusahaan penyedia jasa pemusnah/penghancur barang.",

                suratPernyataanSignature     : {},
                loading                      : false,
                errors                       : [],
                base_url                     : base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-edit-penghapusan-signature') {
                    this.initialProcess();
                    this.getAutoCompletePengajuanPenghapusan();
                    $('#modal-edit-penghapusan-signature').modal("show");
                }
            },
            getAutoCompletePengajuanPenghapusan() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-variable-signature/' + this.penghapusanid).then(response => {
                    this.loading       = false;
                    this.suratPernyataanSignature = response.data.data;
                    if (this.suratPernyataanSignature.length == 0)
                        this.initialProcess();
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            initialProcess() {
                this.suratPernyataanSignature = {
                    nama                      : '',
                    nip               : '',
                    pangkat       : '',
                    jabatan       : '',
                };
            },

            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('nama', this.suratPernyataanSignature.nama);
                formData.append('nip', this.suratPernyataanSignature.nip);
                formData.append('pangkat', this.suratPernyataanSignature.pangkat);
                formData.append('jabatan', this.suratPernyataanSignature.jabatan);


                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/edit-penghapusan-signature/' + this.penghapusanid, formData).then(response => {
                    this.loading = false;
                    this.initialProcess();
                    this.$root.makeNotification('New Pengajuan Penghapusan has been updated!', 'ok');
                    window.location.href = window.base_url + '/admin/pengajuan-penghapusan-kendaraan/detail/' + response.data.data.id;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-create-penghapusan').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
