<template>
    <div class="modal fade" role="dialog" id="modal-upload-penghapusan-detail">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Upload Penghapusan Detail
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="">
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="custom-file">
                                    <input type="file" ref="file" v-on:change="handleFileUpload"
                                           accept="application/pdf"
                                           class="custom-file-input"
                                           id="example-file-input-custom"
                                           name="example-file-input-custom" data-toggle="custom-file-input"/>
                                    <label class="custom-file-label" for="example-file-input-custom">Choose file</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="alert alert-warning" style="margin: 0">
                                    File yang diupload berupa <strong style="font-style: italic; text-decoration: underline">PDF</strong> (hasil tanda tangan).
                                </div>
                                <div class="alert alert-danger" style="margin: 0">
                                    Minimal upload <strong style="font-style: italic; text-decoration: underline">Maksimal</strong> (3 Mb)
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <ladda-reference class="btn btn-alt-primary" :loading="loading" @click="save"
                                                 :text="'Submit'"></ladda-reference>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props  : ['penghapusanid'],
        data() {
            return {
                state   : 'edit',
                step    : "",
                item    : {
                    file: null,
                },
                detail  : {},
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods: {
            open(oid, item, step) {
                if (oid == 'modal-upload-penghapusan-detail') {
                    this.state  = 'edit';
                    this.detail = item;
                    this.step   = step;
                    $('#modal-upload-penghapusan-detail').modal("show");
                }
            },
            handleFileUpload() {
                this.item.file = this.$refs.file.files[0];
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('file', this.item.file);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/upload/' + this.penghapusanid + '/' + this.step, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                    this.loading = false;
                    window.eventHub.$emit('refresh-details');
                    this.$root.makeNotification('Your file has been uploaded successfully!', 'ok');
                    $('#modal-upload-penghapusan-detail').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-upload-penghapusan-detail').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
