<template>
    <div class="modal fade" role="dialog" id="modal-add-kendaraan-penghapusan">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Silahkan pilih Kendaraan yang akan dihapus
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body long-table">
                    <form @submit.prevent="">
                    <h4 class="modal-title">
                         Silahkan pilih Kendaraan rusak ringan yang akan dihapus
                    </h4>
                    <ajax-table
                            :url="base_url + '/admin/api/kendaraan/ringan'"
                            :oid="'data-kendaraan-add-penghapusan'"
                            :params="params"
                            :config="{
                                      autoload: true,
                                      show_all: false,
                                      has_number: true,
                                      has_entry_page: false,
                                      has_pagination: true,
                                      has_action: true,
                                      has_search_input: true,
                                      has_search_header: false,
                                      custom_header: '',
                                      default_sort: 'id',
                                      default_sort_dir: 'desc',
                                      custom_empty_page: false,
                                      search_placeholder: 'Cari',
                                      class: {
                                        table: ['table-condensed'],
                                        wrapper: ['table-responsive'],
                                      }
                                }"
                            :rowparams="{selected: kendaraans}"
                            :rowtemplate="'tr-data-kendaraan-add-penghapusan'"
                            :columns="{
                                      'kode_barang': 'Kode Barang',
                                      'nup': 'NUP',
                                      'kode_satker': 'Kode Satker',
                                      'nama_satker': 'Nama Satker',
                                      'kib': 'KIB',
                                      'nama_barang': 'Nama Barang',
                                      'kondisi': 'Kondisi',
                                      'merk_type': 'Merk/Type',
                                      'tanggal_rekam_pertama': 'Tgl Rekam Pertama',
                                      'tanggal_perolehan': 'Tgl Perolehan',
                                      'nilai_perolehan_pertama': 'Nilai Perolehan Pertama',
                                      'nilai_mutasi': 'Nilai Mutasi',
                                      'nilai_perolehan': 'Nilai Perolehan',
                                      'nilai_penyusutan': 'Nilai Penyusutan',
                                      'nilai_buku': 'Nilai Buku',
                                      'kuantitas': 'Kuantitas',
                                      'jumlah_foto': 'Jumlah Foto',
                                      'status_penggunaan': 'Status Penggunaan',
                                      'status_pengelolaan': 'Status Pengelolaan',
                                      'no_psp': 'No. PSP',
                                      'tanggal_psp': 'Tgl PSP',
                                      'no_bpkb': 'No. BPKB',
                                      'no_polisi': 'No. Polisi',
                                      'pemakai': 'Pemakai',
                                      'jumlah_kib': 'Jumlah KIB',
                                }">
                        </ajax-table>
                         <h4 class="modal-title">
                        Silahkan pilih Kendaraan rusak berat yang akan dihapus
                        </h4>
                        <ajax-table
                            :url="base_url + '/admin/api/kendaraan/berat'"
                            :oid="'data-kendaraan-add-penghapusan'"
                            :params="params"
                            :config="{
                                      autoload: true,
                                      show_all: false,
                                      has_number: true,
                                      has_entry_page: false,
                                      has_pagination: true,
                                      has_action: true,
                                      has_search_input: true,
                                      has_search_header: false,
                                      custom_header: '',
                                      default_sort: 'id',
                                      default_sort_dir: 'desc',
                                      custom_empty_page: false,
                                      search_placeholder: 'Cari',
                                      class: {
                                        table: ['table-condensed'],
                                        wrapper: ['table-responsive'],
                                      }
                                }"
                            :rowparams="{selected: kendaraans}"
                            :rowtemplate="'tr-data-kendaraan-add-penghapusan'"
                            :columns="{
                                      'kode_barang': 'Kode Barang',
                                      'nup': 'NUP',
                                      'kode_satker': 'Kode Satker',
                                      'nama_satker': 'Nama Satker',
                                      'kib': 'KIB',
                                      'nama_barang': 'Nama Barang',
                                      'kondisi': 'Kondisi',
                                      'merk_type': 'Merk/Type',
                                      'tanggal_rekam_pertama': 'Tgl Rekam Pertama',
                                      'tanggal_perolehan': 'Tgl Perolehan',
                                      'nilai_perolehan_pertama': 'Nilai Perolehan Pertama',
                                      'nilai_mutasi': 'Nilai Mutasi',
                                      'nilai_perolehan': 'Nilai Perolehan',
                                      'nilai_penyusutan': 'Nilai Penyusutan',
                                      'nilai_buku': 'Nilai Buku',
                                      'kuantitas': 'Kuantitas',
                                      'jumlah_foto': 'Jumlah Foto',
                                      'status_penggunaan': 'Status Penggunaan',
                                      'status_pengelolaan': 'Status Pengelolaan',
                                      'no_psp': 'No. PSP',
                                      'tanggal_psp': 'Tgl PSP',
                                      'no_bpkb': 'No. BPKB',
                                      'no_polisi': 'No. Polisi',
                                      'pemakai': 'Pemakai',
                                      'jumlah_kib': 'Jumlah KIB',
                                }">
                        </ajax-table>

                        <div class="form-group row">
                            <div class="col-12">
                                <ladda-reference class="btn btn-alt-primary" :loading="loading" @click="save"
                                                 :text="'Save'"></ladda-reference>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props  : ['penghapusanid'],
        data() {
            return {
                kendaraans: [],
                loading   : false,
                errors    : [],
                base_url  : base_url,
                params    : [],
            }
        },
        methods: {
            open(oid, item, step) {
                if (oid == 'modal-add-kendaraan-penghapusan') {
                    $('#modal-add-kendaraan-penghapusan').modal("show");
                }
            },
            selectKendaraan(oid, item) {
                if (oid == 'modal-add-kendaraan-penghapusan') {
                    this.kendaraans.push(item);
                }
            },
            removeKendaraan(oid, item) {
                if (oid == 'modal-add-kendaraan-penghapusan') {
                    for (var i = 0; i < this.kendaraans.length; i++) {
                        if (item.id == this.kendaraans[i].id) {
                            this.kendaraans.splice(i, 1);
                            break;
                        }
                    }
                }
            },
            handleFileUpload() {
                this.item.file = this.$refs.file.files[0];
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                var ids = [];
                for (var i = 0; i < this.kendaraans.length; i++) {
                    ids.push(this.kendaraans[i].id);
                }
                formData.append('ids', JSON.stringify(ids));

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/add-kendaraan/' + this.penghapusanid, formData)
                    .then(response => {
                        this.loading = false;
                        window.eventHub.$emit('refresh-data-kendaraan-penghapusan');
                        this.$root.makeNotification('Kendaraan has been saved successfully!', 'ok');
                        $('#modal-add-kendaraan-penghapusan').modal("hide");
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
            },
            cancel() {
                this.item = {};
                $('#modal-add-kendaraan-penghapusan').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
                window.eventHub.$on('select-kendaraan', this.selectKendaraan);
                window.eventHub.$on('remove-kendaraan', this.removeKendaraan);
            }.bind(this));
        },
    }
</script>
