<template>
    <div class="modal fade" role="dialog" id="modal-edit-penghapusan-pimpinan">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Penghapusan Pimpinan
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-md-6">

                                <fieldset class="mt-4">
                                    <legend class="mt-4 mb-3">Surat Usulan</legend>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            No Surat Usulan
                                        </label>
                                        <input type="text" class="form-control" v-model="miscAttribute.nosurat"
                                               placeholder="Enter no surat here"/>
                                        <error-reference v-if="errors.nosurat"
                                                         :message="errors.nosurat[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            No Surat Keputusan
                                        </label>
                                        <input type="text" class="form-control" v-model="miscAttribute.nokeputusan"
                                               placeholder="Enter no keputusan here"/>
                                        <error-reference v-if="errors.nokeputusan"
                                                         :message="errors.nokeputusan[0]"></error-reference>
                                    </div>

                                </fieldset>

                            </div>

                            <div class="col-md-6">

                                <fieldset class="mt-4">
                                    <legend class="mt-4 mb-3">Surat Pernyataan Signature</legend>
                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Nama Kepala Biro
                                        </label>
                                        <input type="text" class="form-control" v-model="miscAttribute.nama"
                                               placeholder="Enter nama here"/>
                                        <error-reference v-if="errors.nama"
                                                         :message="errors.nama[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            NIP Kepala Biro
                                        </label>
                                        <input type="text" class="form-control" v-model="miscAttribute.nip"
                                               placeholder="Enter nip here"/>
                                        <error-reference v-if="errors.nip"
                                                         :message="errors.nip[0]"></error-reference>
                                    </div>
<div class="form-group">
                                        <label class="control-label mb-2">
                                            Pangkat / Golongan Kepala Biro
                                        </label>
                                        <select class="form-control" v-model="miscAttribute.pangkat"
                                               placeholder="-----------Pilih Pangkat-----">
                                               <option value="Golongan 1">Golongan 1</option>
                                                 <option value="I A">Golongan 1a</option>
                                                 <option value="I B">Golongan 1b</option>
                                                 <option value="I C">Golongan 1c</option>
                                                 <option value="I D">Golongan 1d</option>
                                                 <option value="II A">Golongan 2a</option>
                                                 <option value="II B">Golongan 2b</option>
                                                 <option value="II C">Golongan 2c</option>
                                                 <option value="II D">Golongan 2d</option>
                                                 <option value="III A">Golongan 3a</option>
                                                 <option value="III B">Golongan 3b</option>
                                                 <option value="III C">Golongan 3c</option>
                                                 <option value="III D">Golongan 3d</option>
                                                 <option value="IV A">Golongan 4a</option>
                                                 <option value="IV B">Golongan 4b</option>
                                                 <option value="IV C">Golongan 4c</option>
                                                 <option value="IV D">Golongan 4d</option>
                                                 <option value="IV E">Golongan 4e</option>
                                        </select>
                                        <error-reference v-if="errors.pangkat"
                                                         :message="errors.pangkat[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Jabatan Kepala Biro
                                        </label>
                                        <input type="text" class="form-control"
                                               v-model="miscAttribute.jabatan"
                                               placeholder="Enter jabatan here"/>
                                        <error-reference v-if="errors.jabatan"
                                                         :message="errors.jabatan[0]"></error-reference>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Nama Sekretaris Jendral
                                        </label>
                                        <input type="text" class="form-control" v-model="miscAttribute.namasekjen"
                                               placeholder="Enter nama sekertaris jenderal here"/>
                                        <error-reference v-if="errors.namasekjen"
                                                         :message="errors.namasekjen[0]"></error-reference>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            NIP Sekretaris Jendral
                                        </label>
                                        <input type="text" class="form-control" v-model="miscAttribute.nipsekjen"
                                               placeholder="Enter nama sekertaris jenderal here"/>
                                        <error-reference v-if="errors.nipsekjen"
                                                         :message="errors.nipsekjen[0]"></error-reference>
                                    </div>
                                </fieldset>

                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    legend {
        font-size: 1.2rem;
    }

    .btn.btn-circle.btn-sm, .btn-group-sm > .btn.btn-circle {
        padding: 1px 0;
        font-size: 14px;
        line-height: 1;
        border-radius: inherit;
        min-width: 25px;
        height: 25px;
    }

    .tooltip {
        display: block !important;
        z-index: 9999;
        opacity: 1;
    }

    .tooltip .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 20px;
        max-width: 450px;
    }

    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

    .tooltip[x-placement^="bottom"] .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="right"] {
        margin-left: 5px;
    }

    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    .tooltip[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }

</style>
<script>
    export default {
        props  : ['penghapusanid'],
        data() {
            return {
                miscAttribute: {},
                loading      : false,
                errors       : [],
                base_url     : base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-edit-penghapusan-pimpinan') {
                    this.initialProcess();
                    this.getAutoCompletePengajuanPenghapusan();

                    $('#modal-edit-penghapusan-pimpinan').modal("show");
                }
            },
            getAutoCompletePengajuanPenghapusan() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-variable-pimpinan/' + this.penghapusanid).then(response => {
                    this.loading       = false;
                    this.miscAttribute = response.data.data;
                    if (this.miscAttribute.length == 0)
                        this.initialProcess();
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            initialProcess() {
                this.miscAttribute = {
                    nokeputusan: '',
                    nosurat    : '',
                    nama       : '',
                    nip        : '',
                    pangkat    : '',
                    jabatan    : '',
                    namasekjen    : '',
                };
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('nokeputusan', this.miscAttribute.nokeputusan);
                formData.append('nosurat', this.miscAttribute.nosurat);
                formData.append('nama', this.miscAttribute.nama);
                formData.append('nip', this.miscAttribute.nip);
                formData.append('pangkat', this.miscAttribute.pangkat);
                formData.append('jabatan', this.miscAttribute.jabatan);
                formData.append('namasekjen', this.miscAttribute.namasekjen);
                formData.append('nipsekjen', this.miscAttribute.nipsekjen);
                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/edit-penghapusan-pimpinan/' + this.penghapusanid, formData).then(response => {
                    this.loading = false;
                    this.initialProcess();
                    this.$root.makeNotification('Penghapusan Pimpinan has been updated!', 'ok');
                    $('#modal-edit-penghapusan-pimpinan').modal("hide");
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                $('#modal-edit-penghapusan-pimpinan').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
