<template>
    <div class="modal fade" role="dialog" id="modal-edit-penghapusan-panitia">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Edit Panitia
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6">
                               <fieldset>
                                    <legend class="mt-4 mb-3">Susunan Panitia</legend>

                                    <error-reference v-if="errors.susunan_panitia"
                                                     :message="errors.susunan_panitia[0]"></error-reference>

                                    <template v-for="(anggota, index) in susunanPanitia">
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Nama
                                            </label>
                                            <input type="text" class="form-control" v-model="anggota.nama"
                                                   placeholder="Enter nama here"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Jabatan/NIP
                                            </label>
                                            <input type="text" class="form-control" v-model="anggota.jabatan_nip"
                                                   placeholder="Enter jabatan nip here"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Jabatan Tim Panitia
                                            </label>
                                            <input type="text" class="form-control"
                                                   v-model="anggota.jabatan_tim_panitia"
                                                   placeholder="Enter jabatan tim panitia here"/>
                                        </div>
                                        <button type="button" class="btn btn-circle btn-sm btn-danger"
                                                @click="removeAnggota(index)">
                                            <i
                                                class="fa fa-minus"/>
                                        </button>
                                        <hr/>
                                    </template>

                                    <button type="button" class="btn btn-circle btn-sm btn-primary" @click="addAnggota">
                                        <i
                                            class="fa fa-plus"/>
                                    </button>

                                </fieldset>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    legend {
        font-size: 1.2rem;
    }

    .btn.btn-circle.btn-sm, .btn-group-sm > .btn.btn-circle {
        padding: 1px 0;
        font-size: 14px;
        line-height: 1;
        border-radius: inherit;
        min-width: 25px;
        height: 25px;
    }

    .tooltip {
        display: block !important;
        z-index: 9999;
        opacity: 1;
    }

    .tooltip .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 20px;
        max-width: 450px;
    }

    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

    .tooltip[x-placement^="bottom"] .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="right"] {
        margin-left: 5px;
    }

    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    .tooltip[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }

</style>
<script>
    export default {
        props  : ['penghapusanid'],
        data() {
            return {
                msg                          : "Penjualan Tidak Secara lelang:<br/>" +
                    "Panitia dapat menjual langsung ke calon pembeli tanpa melalui badan/balai lelang resmi.<br/>" +
                    "<br/>" +
                    "Penjualan Secara Lelang:<br/>" +
                    "Panitia menjual melalui perantara badan/balai lelang resmi.<br/>" +
                    "<br/>" +
                    "Pemusnahan:<br/>" +
                    "Pemusnahan dengan dihancurkan/scrap melalui perusahaan penyedia jasa pemusnah/penghancur barang.",

                susunanPanitia               : [],
                suratPernyataanSignature     : {},
                loading                      : false,
                errors                       : [],
                base_url                     : base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-edit-penghapusan-panitia') {
                    this.initialProcess();
                    this.getAutoCompletePengajuanPenghapusan();
                    $('#modal-edit-penghapusan-panitia').modal("show");
                }
            },
            getAutoCompletePengajuanPenghapusan() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-variable-panitia/' + this.penghapusanid).then(response => {
                    this.loading       = false;
                    this.SusunanPanitia = response.data.data;
                    if (this.SusunanPanitia.length == 0)
                        this.initialProcess();
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            initialProcess() {
                this.susunanPanitia           = [];
            },
            addAnggota() {
                this.susunanPanitia.push({
                    nama               : "",
                    jabatan_nip        : "Staf Tata Usaha",
                    jabatan_tim_panitia: "Anggota",
                });
            },
            removeAnggota(index) {
                this.susunanPanitia.splice(index, 1);
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('susunan_panitia', JSON.stringify(this.susunanPanitia));
                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/edit-penghapusan-panitia/' + this.penghapusanid, formData).then(response => {
                    this.loading = false;
                    this.initialProcess();
                    this.$root.makeNotification('New Pengajuan Penghapusan has been updated!', 'ok');
                    window.location.href = window.base_url + '/admin/pengajuan-penghapusan-kendaraan/detail/' + response.data.data.id;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-create-penghapusan').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
