<template>
    <div class="modal fade" role="dialog" id="modal-template-penghapusan-detail">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Upload Penghapusan Detail
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="">
                        <template v-if="step == 2 || step == '2'">
                            <div class="form-group">
                                <label class="control-label">
                                    No Surat
                                </label>
                                <input type="text" class="form-control" v-model="detail.no_surat"
                                       placeholder="Enter no surat here"/>
                                <error-reference v-if="errors.no_surat"
                                                 :message="errors.no_surat[0]"></error-reference>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    No Surat Kepala
                                </label>
                                <input type="text" class="form-control" v-model="detail.no_surat_kepala"
                                       placeholder="Enter no surat kepala here"/>
                                <error-reference v-if="errors.no_surat_kepala"
                                                 :message="errors.no_surat_kepala[0]"></error-reference>
                            </div>
                            <hr/>
                            <h5>Anggota</h5>
                            <button class="btn btn-circle btn-sm" @click="addAnggota"><i class="fa fa-plus"/></button>
                            <template v-for="anggota in detail.anggotas">
                                <hr/>
                                <div class="form-group">
                                    <label class="control-label">
                                        Nama
                                    </label>
                                    <input type="text" class="form-control" v-model="anggota.nama"
                                           placeholder="Enter nama here"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Jabatan
                                    </label>
                                    <input type="text" class="form-control" v-model="anggota.jabatan"
                                           placeholder="Enter tahun jabatan here"/>
                                </div>
                            </template>
                            <hr/>
                            <h5>Kendaraan</h5>
                            <template v-for="kendaraan in detail.kendaraans">
                                <hr/>
                                <div class="form-group">
                                    <label class="control-label">
                                        Tipe
                                    </label>
                                    {{ kendaraan.tipe }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        No Rangka
                                    </label>
                                    <input type="text" class="form-control" v-model="kendaraan.no_rangka"
                                           placeholder="Enter no rangka here"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Tahun Pembuatan
                                    </label>
                                    <input type="text" class="form-control" v-model="kendaraan.tahun_pembuatan"
                                           placeholder="Enter tahun pembuatan here"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Alasan
                                    </label>
                                    <input type="text" class="form-control" v-model="kendaraan.alasan"
                                           placeholder="Enter alasan here"/>
                                </div>
                            </template>
                        </template>

                        <!--                        <template v-else>-->
                        <!--                            <div class="form-group row">-->
                        <!--                                <div class="col-12">-->
                        <!--                                    <div class="custom-file">-->
                        <!--                                        <input type="file" ref="file" v-on:change="handleFileUpload"-->
                        <!--                                               class="custom-file-input"-->
                        <!--                                               id="example-file-input-custom"-->
                        <!--                                               name="example-file-input-custom" data-toggle="custom-file-input"/>-->
                        <!--                                        <label class="custom-file-label" for="example-file-input-custom">Choose-->
                        <!--                                            file</label>-->
                        <!--                                    </div>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </template>-->

                        <div class="form-group row">
                            <div class="col-12">
                                <ladda-reference class="btn btn-alt-primary" :loading="loading" @click="save"
                                                 :text="'Submit'"></ladda-reference>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props  : ['penghapusanid'],
        data() {
            return {
                step    : "",
                item    : {
                    no_surat       : "",
                    no_surat_kepala: "",
                    anggotas       : [],
                    kendaraans     : [],
                },
                detail  : {
                    no_surat       : "",
                    no_surat_kepala: "",
                    anggotas       : [],
                    kendaraans     : [],
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods: {
            open(oid, item, step) {
                if (oid == 'modal-template-penghapusan-detail') {
                    this.step = step;
                    if (item) {
                        this.item   = item;
                        this.detail = item;
                    } else {
                        this.item   = {
                            no_surat       : "",
                            no_surat_kepala: "",
                            anggotas       : [],
                            kendaraans     : [],
                        };
                        this.detail = {
                            no_surat       : "",
                            no_surat_kepala: "",
                            anggotas       : [],
                            kendaraans     : [],
                        };
                    }
                    this.initFunction(item);
                    this.getKendaraans();
                    $('#modal-template-penghapusan-detail').modal("show");
                }
            },
            initFunction(item) {
                if (this.step == 2 || this.step == '2') {
                    this.detail.anggotas   = [];
                    this.detail.kendaraans = [];
                    if (item) {
                        this.detail.no_surat_kepala = this.item.attribute_fillter.no_surat_kepala;
                        this.detail.anggotas        = this.item.attribute_fillter.anggotas;
                    }
                }
            },
            addAnggota() {
                this.detail.anggotas.push({
                    nama   : "",
                    jabatan: "Anggota",
                });
            },
            handleFileUpload() {
                this.item.file = this.$refs.file.files[0];
            },
            getKendaraans() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-kendaraan/' + this.penghapusanid).then(response => {
                    this.loading           = false;
                    var kendaraans         = response.data.data;
                    this.detail.kendaraans = [];
                    for (var i = 0; i < kendaraans.length; i++) {
                        var found = false;
                        for (var j = 0; j < this.item.kendaraans; j++) {
                            if (this.item.kendaraans[j].id == kendaraans[i].id) {
                                found = true;
                                break;
                            }
                        }
                        if (found) {
                            this.detail.kendaraans.push({
                                id             : kendaraans[i].id,
                                tipe           : kendaraans[i].merk_type,
                                no_rangka      : this.item.kendaraans[j].no_rangka,
                                tahun_pembuatan: this.item.kendaraans[j].tahun_pembuatan,
                                alasan         : this.item.kendaraans[j].alasan,
                            });
                        } else {
                            this.detail.kendaraans.push({
                                id             : kendaraans[i].id,
                                tipe           : kendaraans[i].merk_type,
                                no_rangka      : '',
                                tahun_pembuatan: '',
                                alasan         : '',
                            });
                        }
                    }
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);

                if (this.step == 2 || this.step == '2') {
                    formData.append('no_surat', this.detail.no_surat);
                    formData.append('no_surat_kepala', this.detail.no_surat_kepala);
                    formData.append('anggotas', JSON.stringify(this.detail.anggotas));
                    formData.append('kendaraans', JSON.stringify(this.detail.kendaraans));

                    this.errors  = [];
                    this.loading = true;
                    axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/template/' + this.penghapusanid + '/' + this.step, formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }).then(response => {
                        this.loading = false;
                        window.eventHub.$emit('refresh-details');
                        this.$root.makeNotification('Your file has been uploaded successfully!', 'ok');
                        $('#modal-template-penghapusan-detail').modal("hide");
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
                }
            },
            cancel() {
                this.item = {};
                $('#modal-template-penghapusan-detail').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
