<template>
    <form @submit.prevent="">
        <div class="form-group row">
            <div class="col-12">
                <div class="custom-file">
                    <input type="file" ref="file" v-on:change="handleFileUpload" class="custom-file-input"
                           id="example-file-input-custom"
                           name="example-file-input-custom" data-toggle="custom-file-input"/>
                    <label class="custom-file-label" for="example-file-input-custom">Choose file</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <ladda-reference class="btn btn-alt-primary" :loading="loading" @click="save"
                                 :text="'Submit'"></ladda-reference>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        props     : ['tipe'],
        components: {},
        data() {
            return {
                item    : {
                    file: null,
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            handleFileUpload() {
                this.item.file = this.$refs.file.files[0];
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('file', this.item.file);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/input-excel/' + this.tipe, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                    this.loading = false;
                    window.eventHub.$emit('refresh-log-import-excel');
                    if (response.data.result == 'success')
                        this.$root.makeNotification('Your data has been sync successfully!', 'ok');
                    else
                        this.$root.makeNotification('There is a problem in syncing the document, please check the excel data!', 'Oops', 'danger');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            mounted() {
                this.$nextTick(function () {
                }.bind(this));
            }
        },
    }
</script>
