<template>
    <table class="table table-bordered table-striped table-vcenter table-sm-responsive">
        <tbody>
        <template v-for="log in logs">
            <tr>
                <td class="date" style="width: 175px">{{ log.created_at }}</td>
                <td class="inf" v-html="log.message_html"></td>
            </tr>
        </template>
        </tbody>
    </table>
</template>
<script>
    export default {
        props     : ['tipe'],
        components: {},
        data() {
            return {
                logs    : [],
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            getData() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/log-input-excel/' + this.tipe).then(response => {
                    this.loading = false;
                    this.logs    = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('refresh-log-import-excel', this.getData);
                this.getData();
            }.bind(this));
        }
    }
</script>
