body {
    -webkit-text-size-adjust: auto !important;
    -ms-text-size-adjust: auto !important;
    -moz-text-size-adjust: auto !important;
    font-size: 13px;
    font-family: Muli,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 23px;
    font-weight: 400;
    width: 100%;
    height: auto;
    background-color: #e9e9e9;
    background-repeat: repeat-y repeat-x;
    position: fixed;
}
body::after {
  content: "";
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.header-body {
    width: 100%;
    padding: 10px;
    left: 0;
    top: 0;
    height: 75px;
    background: rgba(0, 80, 157, 1);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-body > a{

    width: 100%;
    position: fixed;
    left: 40px;
}
.header-command {

    width: 100%;
    text-align: center;
}
.title-dashboard{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
}
.title-content{
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    line-height: 20px;
}
.header-body > .img-ssl{

    width: 100%;
    right: 40px;
    position: fixed;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.header-body > .img-ssl.mobile {
    left: 133px;
    right: unset;
}
.header-body > .img-ssl img{
    background: linear-gradient(to right, #000046, #1cb5e0,#00FFFF);
    width: 100%;
    max-width: 150px;
    width: 105px;
}
.header-body .search-bar,
.header-body .button-bar{
    position: fixed;
    right: 50px;
}
/*.header-body .button-bar .btn{
    font-weight: 600;
    color: #fff;
    background: #2b85a9;
    border: 2px solid #fff;
    border-radius: 10px;
}*/
.form-search {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 8px 8px 8px 45px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-color: #EDF5F8;
    color: #2A84A7;
    border: none;
    width: 200px;
    font-size: 14px;
}
.form-login{
    height: calc(2.6rem + 2px);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 8px 8px 8px 8px;
    background-color: #EDF5F8;
    color: #2A84A7;
    border: none;
    font-size: 14px;
}

@media (max-width: 767px) {

    .title-dashboard {
        font-size: 8px;
        color: #ffffff;
        font-weight: 50;
        margin-bottom: 0;
    }
    .title-content {
        font-size: 8px;
        color: #ffffff;
        font-weight: 50;
        line-height: 5px;
    }
    .img-ssl{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .header-body > a{
        left: 20px;
    }
    .header-body{
        height: 75px;
    }
    .header-body > a img{
        width: 40px;
    }
    #sidebar{
        top: 75px;
    }
    #main-container{
      height: calc(100vh - 75px);
      margin-top: 75px;
    }
}
@media (max-width: 991px) {
    .header-body > .img-ssl{
        display: none;
    }
    /*.header-body > a{
        display: none;
    }*/
    .header-body .search-bar{
        display: none;
    }
}
