/* keyframes */

/* keyframes animation */
  
  @keyframes anm-hover {
    0% {
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity: 1;
    }

    100% {
      -moz-transform: translate3d(0,-2vh,0);
      -webkit-transform: translate3d(0,-2vh,0);
      -ms-transform: translate3d(0,-2vh,0);
      transform: translate3d(0,-2vh,0);
      opacity: 1;
    }
  }
  
  @keyframes anm-up {
    0% {
      -moz-transform: translate3d(0,2vh,0);
      -webkit-transform: translate3d(0,2vh,0);
      -ms-transform: translate3d(0,2vh,0);
      transform: translate3d(0,2vh,0);
      opacity: 0;
    }

    100% {
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  
  @keyframes anm-down {
    0% {
      -moz-transform: translate3d(0,-2vh,0);
      -webkit-transform: translate3d(0,-2vh,0);
      -ms-transform: translate3d(0,-2vh,0);
      transform: translate3d(0,-2vh,0);
      opacity: 0;
    }

    100% {
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  
  @keyframes anm-right {
    0% {
      -moz-transform: translate3d(-2vh,0,0);
      -webkit-transform: translate3d(-2vh,0,0);
      -ms-transform: translate3d(-2vh,0,0);
      transform: translate3d(-2vh,0,0);
      opacity: 0;
    }

    100% {
      -moz-transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
