
html, body{
    overflow: hidden;
}
body {
    -webkit-text-size-adjust: auto !important;
    -ms-text-size-adjust: auto !important;
    -moz-text-size-adjust: auto !important;
    font-size: 13px;
    font-family: Muli,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 23px;
    font-weight: 400;
    width: 100%;
    height: auto;
    background-color: #e9e9e9;
    background-repeat: repeat-y repeat-x;
    position: fixed;
}
body::after {
  content: "";
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
button,
button:focus{
    outline: none;
}
a:hover{
    text-decoration: none;
}
#scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: outset 0 0 3px #dddddd;
  background-color: #dddddd;
  border-radius: 2px;
}

#scrollbar::-webkit-scrollbar
{
  width: 2px;
  border-radius: 2px;
  background-color: #fff;
}

#scrollbar::-webkit-scrollbar-thumb
{
  background-color: #91969f;
  border-radius: 2px;
}
.header-body {
    width: 100%;
    padding: 10px;
    left: 0;
    top: 0;
    height: 20 px;
    background: rgba(0, 80, 157, 1);
    position: fixed;
    z-index: 10;
    /*opacity:0;
    -moz-animation: anm-down 0.33s 0.5s forwards;
    -webkit-animation: anm-down 0.33s 0.5s forwards;
    -ms-animation: anm-down 0.33s 0.5s forwards;
    animation: anm-down 0.33s 0.5s forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;*/
}
.title-front{
    text-align: center;
    font-size: .9rem;
    font-weight: 700;
    margin-top: 1rem;
}
.map-dark{
    display: none;
}
.header-body > a{
    position: fixed;
    left: 20px;
}
.header-body > a img{

    width: 40px;
}
.header-command {

    width: 100%;
    text-align: center;
}
.title-dashboard{
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 5px;
}
.title-content{
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    line-height: 20px;
}
.header-body > .img-ssl{
    right: 170px;
    position: fixed;
    opacity: 0;
    transition: opacity .3s ease-in;
}
.header-body > .img-ssl.header-login{
    right: 40px;
}
.header-body > .img-ssl.mobile {
    left: 133px;
    right: unset;
}
.header-body > .img-ssl img{
    max-width: 150px;
    width: 105px;
}
.header-body .search-bar,
.header-body .button-bar,
.header-body .login-bar{
    position: fixed;
    right: 50px;
    height: 22px;
}
/*.header-body .button-bar .btn{
    font-weight: 600;
    color: #fff;
    background: #2b85a9;
    border: 2px solid #fff;
    border-radius: 10px;
}*/
.form-search {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 8px 8px 8px 45px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-color: #EDF5F8;
    color: #2A84A7;
    border: none;
    width: 200px;
    font-size: 14px;
}
.form-login{
    height: calc(2.6rem + 2px);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 8px 8px 8px 8px;
    background-color: #EDF5F8;
    color: #2A84A7;
    border: none;
    font-size: 14px;
}
/*.login-username{
    background-image: url(../images/user-login.png) !important;
    background-repeat: no-repeat;
    background-position: 15px 50%;
}
.login-password{
    background-image: url(../images/password-login.png) !important;
}*/
.main-menu{
    position: relative;
    z-index: 2;
    height: calc(100vh - 75px);
    margin-top: 75px;
    overflow-y: hidden;
    overflow-x: hidden;
}
area{
    outline: none;
}
#map-landscape,
#map-darkmode,
#map-potrait,
#map-potrait-dark{
    opacity: 0;
    transition: all .3s ease-in;
    transform: scale(0,0);
}

.title-login {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    padding: 1.25rem 0;
    margin: 15px 0 5px;
}
.login-dashboard{
    width: 300px;
}
.login-dashboard .img-user{
    width: 80px;
    position: absolute;
    top: -40px;
    left: calc(50% - 80px/2);
}
.login-dashboard{
    border-radius: 20px;
    background-color: rgba(179, 177, 177, 0.4);
}
.btn-submit{
    background-color: #4aa4bc;
    border-color: #4aa4bc;
    color: #fff;
    height: calc(2.6rem + 2px);
    transition: opacity .3s ease;
}
.btn-submit:hover,
.btn-submit:focus{
    opacity: .8
}
.input-group-text{
    height: calc(2.6rem + 4px);
    background-color: #EDF5F8;
    margin-top: -1px;
    border-radius: 6px;
}
.form-control:focus {
    box-shadow: none;
}
.title-banner{
    background: #a1ca4c;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    padding: 15px;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 700;
}
.btn-survey > a .card{
    /*padding: 35px 30px;*/
    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgb(231, 231, 231) 0%, rgba(231, 231, 231,1) 32%, rgba(255,255,255,1) 100%);
    border-radius: 10px;
    box-shadow: 3px 2px 7px 1px rgba(0,0,0,0.08);
    transition: filter .3s ease;
}
.btn-survey > a .card:hover,
.btn-survey > a .card:focus{
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
}
/*.btn-survey.data-survey > a{
    padding: 35px 19px;
}
.btn-survey img {
    max-width: 103px;
    width: 100%;
    margin-bottom: 2rem;
}
.btn-survey.data-survey img{
    max-width: 132px;
}*/
.text-image {
    width: 100%;
    color: #648087 !important;
    font-weight: 500;
    font-size: 18px;
}
.menu-dashboard{
    position: fixed;
    bottom: 5%;
    left: 50px;
    cursor: pointer;
    z-index: 1000;
}
.menu-home.open-menu{
    visibility: visible;
    opacity: 1;
    width: 200px;
    bottom: 13%;
}
.menu-home {
    position: fixed;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    width: 0;
    border-radius: 5px;
    left: 50px;
    background-color: #fff;
    z-index: 999;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.menu-home ul.no-type{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-home ul li a{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #747474;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}
.menu-home ul li a:hover,
.menu-home ul li a:focus{
    background: #f9f5f5;
}
.btn-secondary {
    color: #212529;
    background-color: #f0f2f5;
    border-color: #cbd2dd;
}
#search-bar .dropdown-search{
    display: none;
}
#search-bar .dropdown-search.open-dropdown{
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    will-change: transform;
    padding: 0 8px;
    padding-top: 5px;
    box-shadow: 3px 2px 7px 1px rgba(0,0,0,0.08);

}
#search-bar .dropdown-search.open-dropdown .dropdown-item:hover, #search-bar .dropdown-search.open-dropdown .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f0f2f5;
}
#search-bar .dropdown-search.open-dropdown .dropdown-item{
    display: block;
    width: 100%;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    color: #575757;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-bottom: 5px;
    border-radius: 4px;
}

.filter-country .img-container:hover {
    background: #d4d5d6;
}

.content-filter-country .input-country {
    padding-top: 85px;
    padding-bottom: 20px;
    margin-bottom: 0;
    background: #e4dfdf;
    margin-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 2vh rgba(158, 158, 158, 0.75);
}

.search-map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 222;
  box-shadow: 0 0 2vh rgba(158, 158, 158, 0.75);
  height: 56px;
  background: #4285f4;
  padding: 10px 10px;
  background: linear-gradient(90deg, rgba(228,223,223,1) 20%, rgba(233,233,233,1), rgba(228,223,223,1) 80%);
}

.card-info .card, .main-inverse .card-info .content-list-maps {
    background: #ffffff;
}

.bottom-menu-icon {
    display: inline-block;
    border-radius: 1vh;
    background: linear-gradient(-45deg, rgba(210,210,210,1), rgba(245,245,245,1));
    box-shadow: inset 0 0.5vh 2vh rgba(255,255,255,0.25), 0 0.5vh 1vh rgba(0,0,0,0.2);
    padding: 0;
    margin: 0;
    background: #2a84a7;
    /* background: linear-gradient(90deg, rgb(228, 223, 223) 20%, rgba(204, 204, 204, 0.95), rgba(204, 204, 204, 0.95) 80%); */
    box-shadow: 0 0 2vh rgba(148, 148, 148, 0.75);
}

.card-info::after {
    /*background: white;
    -webkit-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    content: "";
    z-index: 1;
    height: 30px;
    left: 0;
    position: absolute;
    bottom: -30px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 30px;
    left: calc(50% - 6px / 2);*/
    background: white;
    -webkit-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    box-shadow: -5px -2px 3px -1px rgba(178, 178, 178, .4);
    content: "";
    z-index: -1;
    height: 30px;
    left: 0;
    position: absolute;
    top: 208px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 30px;
    left: calc(50% - 1px / 2);
    left: 3rem;
    background: #ffffff;
}

.marker-image > .m-dark{
    display: block;
}
.marker-image > .m-light{
    display: none;
}

@media (max-width: 767px){
    .header-command {
        width: calc(100% - 160px);
        text-align: left;
        position: relative;
        left: 66px;
    }
    .mx-ins{
        margin-right: .6rem;
        margin-left:  .6rem;

    }
    .header-command.header-login {
        width: calc(100% - 82px);
    }
    .header-body .search-bar, .header-body .button-bar, .header-body .login-bar {
        position: fixed;
        right: 16px;
        height: 33px;
    }
    .title-dashboard {
        font-size: 13px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 0;
    }
    .title-content {
        font-size: 13px;
        color: #ffffff;
        font-weight: 400;
        line-height: 15px;
    }
    .img-ssl{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .title-banner{
        font-size: 25px;
        line-height: 25px;
    }
    .menu-dashboard {
        position: fixed;
        bottom: 2%;
        left: 18px;
        cursor: pointer;
        z-index: 1000;
    }
    .menu-dashboard img{
        height: 34px !important;
        width: auto !important;
    }
    .menu-home{
        left: 18px;
    }
    .menu-home.open-menu{
        bottom: 10%;
    }
    .btn-survey img {
        max-width: 85px;
        width: 100%;
        margin-bottom: 2rem;
    }
}
@media (min-width: 768px){
    .header-body{
        height: 95px;
    }
    .main-menu{
        height: calc(100vh - 94px);
        margin-top: 95px;
    }
    .header-body > a{
        position: fixed;
        left: 40px;
    }
    .header-body > a img{
        width: 50px;
    }
    .title-front{
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 2rem;
    }
}
@media (min-width: 992px){
    .title-front{
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 2rem;
    }
}
@media (min-width: 1200px){
    .title-front{
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 2rem;
    }
}
