<template id="table-template">
    <div v-bind:id="oid">
        <div v-if="config.has_entry_page || config.has_search_input" style="margin-bottom: 10px">
            <div class="form-inline" style="position: relative;min-height:35px;float: right;">
                <div class="pull-left" v-if="config.has_entry_page">
                    Show &nbsp;
                    <select class="input-sm" v-model="pagination.perpage" v-on:change="changePage()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="500">500</option>
                    </select>
                    Entry &nbsp;
                </div>
                <div class="pull-right table-search" v-if="config.has_search_input">
                    Pilih Satker &nbsp;
                    <input class="input-sm form-control" type="text" v-model="search_input" @keyup="doSearchDebounce">
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <div v-bind:class="{ 'dimmed': isLoading }" v-show="!showCustomEmptyPage">
            <div v-bind:class="config.class.wrapper">
                <table class="table table-bordered table-striped"
                       v-bind:class="config.class.table">
                    <thead v-bind:class="config.class.thead" v-if="!config.disable_header || config.has_search_header">
                    <tr :is="config.custom_header" v-if="!config.disable_header && config.custom_header != ''"
                        :sort="sort" :sort-column.sync="sortColumn" :sort-dir.sync="sortDir"></tr>
                    <tr v-if="!config.disable_header">
                        <th v-if="config.has_number" class="header_no" style="width: 1%">No</th>
                        <th v-for="(column_name,column) in columns" :key="column_name"
                            v-bind:style="columnsStyle ? columnsStyle[column] : {}" class="ewPointer"
                            v-on:click="sort(column)">
                            {{column_name}}
                            <sorter :sort-dir.sync="sortDir" :column-name="column"
                                    :sort-column.sync="sortColumn"></sorter>
                        </th>

                    </tr>
                    <tr v-if="config.has_search_header">
                        <th v-bind:colspan="totalColumns" class="th_search">
                            <i class="icon-bdg_search"></i>
                            <input type="search" class="table-search form-control b-none w-full"
                                   v-bind:placeholder="config.search_placeholder ? config.search_placeholder : 'Cari'"
                                   v-model="search_input" @keyup="doSearchDebounce">
                        </th>
                    </tr>
                    </thead>
                    <tbody v-bind:class="config.class.tbody">
                    <tr v-for="(item,index) in items" :is="rowtemplate" :rowparams.sync="rowparams" :index="index"
                        :key="index"
                        :item="item" :pagination="pagination"></tr>
                    <tr v-if="pagination.count == 0">
                        <td v-bind:colspan="totalColumns">No data to be showed</td>
                    </tr>
                    </tbody>
                    <tfoot v-if="config.custom_footer && config.custom_footer != ''" :is="config.custom_footer"
                           :info.sync="info"></tfoot>
                </table>
            </div>
            <div v-if="config.has_pagination && config.pagination_type == 'jumptopage'"
                 style="margin-top: 10px;display: none" v-show="pagination.count > 0">
                <div class="row">
                    <div class="col-sm-6" style="line-height: 40px">
                        <div class="pagination-summary">
                            Entry&nbsp;{{ (pagination.page - 1) * pagination.perpage + 1 }}&nbsp;
                            To&nbsp;{{ Math.min(pagination.count, pagination.page * pagination.perpage) }}&nbsp;
                            from&nbsp;{{ pagination.total }} page
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right form-group pagination-summary">
                            Page
                            <a class="btn btn-default btn-xs" v-on:click="paginate('first')"><i
                                class="os-icon os-icon-skip-back"></i></a>
                            <a class="btn btn-default btn-xs" v-on:click="paginate('previous')"><i
                                class="os-icon os-icon-chevron-left"></i></a>
                            <input class="input-sm" type="text" size="4" v-model="pagination.page"
                                   v-on:change="changePage()">
                            <a class="btn btn-default btn-xs" v-on:click="paginate('next')"><i
                                class="os-icon os-icon-chevron-right"></i></a>
                            <a class="btn btn-default btn-xs" v-on:click="paginate('last')"><i
                                class="os-icon os-icon-skip-forward"></i></a>
                            &nbsp;from&nbsp;{{ pagination.total }}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div v-else-if="config.has_pagination && pagination.count > 0" class="row pagination-wrapper">
                <div class="col-sm-12 col-md-5" style="margin-top: 10px;">
                    <div class="paging_info">
                        Entry&nbsp;{{ (pagination.page - 1) * pagination.perpage + 1 }}&nbsp;
                        To&nbsp;{{ Math.min(pagination.count, pagination.page * pagination.perpage) }}&nbsp;
                        from&nbsp;{{ pagination.total }} page
                    </div>
                </div>
                <div class="col-sm-12 col-md-7" style="margin-top: 10px;">
                    <div class="paging paging_simple_numbers">
                        <ul class="pagination">
                            <li class="paginate_button page-item" :class="{disabled: pagination.page == 1}">
                                <a href="#" class="page-link" v-on:click="paginate('prev')">Previous</a>
                            </li>
                            <li class="paginate_button page-item" :class="{active: pagination.page == page}"
                                v-for="page in arrayPage" :key="page">
                                <a href="#" class="page-link" v-if="pagination.page == page">{{page}}</a>
                                <a href="#" class="page-link" v-if="pagination.page != page" @click="paginate(page)"
                                   style="cursor:pointer">{{page}}</a>
                            </li>
                            <li class="paginate_button page-item"
                                :class="{disabled: pagination.page >= pagination.total}">
                                <a href="#" class="page-link" v-on:click="paginate('next')">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: none" v-show="showCustomEmptyPage">
            <slot name="empty-page">
                <div class="empty-state">
                    <p>No data to be showed</p>
                </div>
            </slot>
        </div>
    </div>
</template>

<style scoped>
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    @media (max-width: 800px) {
        .table-search {
            text-align: right;
        }

        .form-inline .form-control {
            width: 60%;
        }
    }

    @media (max-width: 576px) {
        .form-inline .form-control {
            width: 50%;
        }
    }

    @media (max-width: 455px) {
        .form-inline .form-control {
            width: 40%;
        }
    }

    @media (max-width: 435px) {
        .table-search {
            float: none;
            width: 100%;
        }

        .form-inline .form-control {
            width: calc(100% - 60px);
        }
    }
</style>

<style>
    .dimmed:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
    }

    /*.input-sm {
        padding: 0.5rem 0.7rem;
        font-size: 0.9rem;
        line-height: 1.25;
        color: #464a4c;
        text-align: center;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #cecece;
        border-radius: 0.25rem;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }*/

    /*.table td .btn, .table-sm td .btn {
        border-radius: 2px;
        background-color: #e9f2ff;
        border: solid 1px #0067ff;
        padding: 7px 9px;
        margin-left: 8px !important;
        text-align: left;
        color: #0067ff;
    }*/

    /*.table td .btn span, .table-sm td .btn span {
        text-align: left;
        color: #0067ff;
        position: relative;
        top: 2px;
    }

    .table td .btn-warning, .table-sm td .btn-warning {
        border-color: #ff8500;
        background-color: #ffffff;
        color: #ff8500;
    }

    .table td .badge-warning, .table-sm td .badge-warning {
        background-color: #ffb200;
        color: white;
    }

    .table td .btn-warning span, .table-sm td .btn-warning span {
        color: #ff8500;
    }*/

    .table td.clear-text, .table-sm td.clear-text {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #141e33;
    }

    div.pagination-wrapper div.paging_info {
        padding-top: 0.5em;
        white-space: nowrap;
    }

    div.pagination-wrapper div.paging {
        margin: 0;
        white-space: nowrap;
        float: right;
    }
</style>

<script>
    export default {
        props   : ['oid', 'url', 'params', 'columns', 'config', 'rowparams', 'rowtemplate', 'columnsStyle'],
        data() {
            return {
                isLoading   : true,
                items       : [],
                info        : {},
                pagination  : {
                    page    : 1,
                    previous: false,
                    next    : false,
                    perpage : 300,
                    count   : 0,
                    total   : 0
                },
                search      : '',
                search_input: '',
                sortColumn  : null,
                sortDir     : null,
                detail      : {},
                showDetail  : false,
            }
        },
        methods : {
            paginate(direction) {
                if (direction === 'previous') {
                    if (this.pagination.page > 1) {
                        --this.pagination.page;
                        this.changePage();
                    }
                } else if (direction === 'next') {
                    if (Math.floor((this.pagination.count - 1) / this.pagination.perpage) != (this.pagination.page - 1)) {
                        ++this.pagination.page;
                        this.changePage();
                    }
                } else if (direction === 'first') {
                    this.pagination.page = 1;
                    this.changePage();
                } else if (direction === 'last') {
                    this.pagination.page = Math.floor((this.pagination.count - 1) / this.pagination.perpage) + 1;
                    this.changePage();
                } else {
                    this.pagination.page = direction;
                    this.changePage();
                }
            },
            changePage(page) {
                if (isNaN(parseInt(this.pagination.page)) || this.pagination.page < 1) {
                    this.pagination.page = 1;
                }
                this.getData(this.pagination.page);
            },
            clearFilter() {
                for (var key in this.params) {
                    if (this.params.hasOwnProperty(key)) {
                        this.params[key] = '';
                    }
                }
                this.search          = '';
                this.search_input    = '';
                this.sortColumn      = null;
                this.sortDir         = null;
                this.pagination.page = 1;
                this.changePage();
            },
            sort(col, default_sort_dir) {
                if (this.sortColumn == col) {
                    this.sortDir = default_sort_dir ? default_sort_dir : ((this.sortDir == 'asc') ? 'desc' : 'asc');
                } else {
                    this.sortColumn = col;
                    this.sortDir    = default_sort_dir ? default_sort_dir : 'asc';
                }
                if (this.config.local_sort) {

                } else {
                    this.pagination.page = 1;
                    this.changePage();
                }
            },
            doSearch() {
                this.search          = this.search_input;
                this.pagination.page = 1;
                this.changePage();
            },
            doSearchDebounce: _.debounce(function () {
                this.doSearch();
            }, 300),
            getData(page) {
                var that       = this;
                that.isLoading = true;
                $.getJSON(that.url,
                    {
                        page           : page,
                        perpage        : that.config.show_all ? 99999 : that.pagination.perpage,
                        params         : that.params,
                        search         : that.search,
                        order          : that.sortColumn,
                        order_direction: that.sortDir,
                    },
                    function (data) {
                        that.items            = data.data;
                        that.info             = data.info;
                        that.isLoading        = false;
                        that.pagination.count = data.count;
                        that.pagination.total = Math.ceil(that.pagination.count / that.pagination.perpage);
                        if (that.pagination.count > 0 && that.pagination.page > Math.floor((that.pagination.count - 1) / that.pagination.perpage) + 1) {
                            that.pagination.page = Math.floor((that.pagination.count - 1) / that.pagination.perpage) + 1;
                            that.changePage();
                        }

                        setTimeout(function () {
                            $('.long-table tbody > tr > td').equalHeights();
                            $('.long-table thead > tr > th').equalHeights();
                        }, 700);
                    });
            },
        },
        computed: {
            showCustomEmptyPage: function () {
                return this.config.custom_empty_page == true && this.pagination.count == 0 && !this.isLoading && this.search == '';
            },
            totalColumns       : function () {
                return (this.config.has_number ? 1 : 0) + _.size(this.columns) + (this.config.has_action ? 1 : 0);
            },
            arrayPage          : function () {
                var arr   = [];
                var awal  = 1;
                var akhir = this.pagination.total;

                if (akhir > 5) akhir = 5;

                if (this.pagination.page > 3) {
                    awal  = this.pagination.page - 2;
                    akhir = this.pagination.page + 2;

                    if ((this.pagination.total - this.pagination.page) == 1 || this.pagination.total == this.pagination.page) {
                        akhir = this.pagination.total;
                        awal  = this.pagination.total - 4;

                        if (awal == 0) {
                            awal = 1;
                        }
                    }
                }

                var no = 0;
                for (var i = awal; i <= akhir; i++) {
                    arr[no] = i;

                    no += 1;
                }
                return arr;
            },
        },
        events  : {
            'do-search'(objid) {
                if (objid == this.oid) {
                    this.doSearch();
                }
            },
            'clear-filter'(objid) {
                if (objid == this.oid) {
                    this.clearFilter();
                }
            },
            'reset-search'(objid) {
                if (objid == this.oid) {
                    this.search          = '';
                    this.search_input    = '';
                    this.sortColumn      = null;
                    this.sortDir         = null;
                    this.pagination.page = 1;
                    this.doSearch();
                }
            },
        },
        mounted() {
            var that = this;
            this.$nextTick(function () {
                if (that.config.default_sort) {
                    if (that.config.autoload) {
                        that.sort(that.config.default_sort, that.config.default_sort_dir)
                    } else {
                        that.sortColumn = that.config.default_sort;
                        that.sortDir    = that.config.default_sort_dir ? that.config.default_sort_dir : 'asc';
                    }
                } else if (that.config.autoload) {
                    that.changePage(1)
                }
                $('.empty-state').show();
                window.eventHub.$on('refresh-ajaxtable', function (objid) {
                    if (objid == that.oid) {
                        that.changePage();
                    }
                });
            });
        }
    }
</script>
