<template>
    <span class="help-block text-danger">{{ message }}</span>
</template>

<style scoped>
    .invalid-feedback {
        font-size: 12px;
        display: block;
    }
</style>

<script>
    export default {
        props: ["message"],
        data() {
            return {}
        },
        methods: {},
        mounted() {
        }
    }
</script>
