<template>
    <vue-ladda :class="classVue" dataStyle="slide-left" :loading="loading" @click="clickCallback">{{ text }}</vue-ladda>
</template>

<style scoped>
    .ladda-button {
        /*width: 100%;*/
        border-radius: 4px;
        background-color: #0067ff;
        padding-top: 10px;
        padding-bottom: 10px;
        height: unset;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }

    .ladda-button:hover {
        background-color: #0063d1;
    }
</style>

<script>
    export default {
        props  : {
            loading : {
                default: false,
            },
            text    : {
                default: "SUBMIT",
            },
            classVue: {
                default: "",
            },
        },
        data() {
            return {}
        },
        methods: {
            clickCallback(e) {
                this.$emit('click', e)
            }
        },
        mounted() {
        }
    }
</script>
