html {
    scroll-behavior: smooth;
}

.content-chart .block .block-content {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.block-yellow {
    border-left: 5px solid #f3c436;
}

.block-blue {
    border-left: 5px solid #4e72e2;
}

.block-green2 {
    border-left: 5px solid #38b6cc;
}

.block-green {
    border-left: 5px solid #1bc98a;
}

.block-yellow i {
    color: #f3c436 !important;
}

.block-blue i {
    color: #4e72e2 !important;
}

.block-green2 i {
    color: #38b6cc !important;
}

.block-green i {
    color: #1bc98a !important;
}


.bg-main-gray {
    background-color: #f0f2f5
}

div.long-table {
    width: auto;
    margin-right: 89px;
    overflow-y: visible;
    padding-bottom: 1px;
}


.long-table > div > :nth-child(1) {
    margin-bottom: 10px;
    width: calc(100% + 89px);
}

.long-table > div > :nth-child(2) > :nth-child(2) {
    margin-bottom: 10px;
    width: calc(100% + 119px);
}

/*#data-rumah-negara .headcol,
#data-gedung .headcol,
#data-tanah .headcol,
#data-kendaraan .headcol,
#data-kendaraan-dinas .headcol,
#data-premi-kendaraan .headcol,
#data-wilayah .headcol,
#data-pengajuan-penghapusan .headcol,
#data-kendaraan-penghapusan .headcol,
#data-kendaraan-add-penghapusan .headcol*/
.long-table .headcol {
    position: absolute;
    width: 90px;
    right: 20px;
    /*height: 81px !important;*/
    margin-top: 12px;
    top: auto;
    border-right: 0px none black;
    border-top-width: 1px;
    margin-top: 0px;
    border-right: 1px solid rgba(228, 231, 237, 0.35) !important;
}

/*#data-rumah-negara .table-action,
#data-gedung .table-action,
#data-tanah .table-action,
#data-kendaraan .table-action,
#data-kendaraan-dinas .table-action,
#data-premi-kendaraan .table-action,
#data-wilayah .table-action,
#data-pengajuan-penghapusan .table-action,
#data-kendaraan-penghapusan .table-action,
#data-kendaraan-add-penghapusan .table-action*/
.long-table .table-action {
    width: 90px;
    right: 20px;
    /*height: 82px !important;*/
    display: flex;
    margin-top: -1px;
    border-top: 2px solid rgba(228, 231, 237, 0.35) !important;
    border-bottom: 1px solid rgba(228, 231, 237, 0.35) !important;
    justify-content: center;
    align-items: center;
}

#data-kendaraan-penghapusan .table-action,
#data-kendaraan-penghapusan .headcol {
    right: -74px;
}

#data-kendaraan-add-penghapusan .table-action,
#data-kendaraan-add-penghapusan .headcol {
    right: -69px;
    border-top: 2px solid rgba(228, 231, 237, 0.75) !important;
    border-bottom: 2px solid rgba(228, 231, 237, 0.75) !important;
    border-right: 2px solid rgba(228, 231, 237, 0.75) !important;
}

#data-kendaraan-penghapusan > div:first-child,
#data-kendaraan-add-penghapusan > div:first-child {
    width: calc(100% + 89px);
}

#data-wilayah .table-action,
#data-wilayah .headcol {
    width: 92px;
}

#data-barang .header_action,
#data-barang tbody tr > :last-child {
    display: none !important;
}

/*#data-satker .headcol-td{
  height: 180px !important;
}*/
/*#data-satker .headcol.table-action{
  height: 46px !important;
}*/
.table .thead-light th {
    color: #575757;
    background-color: #f6f7f9;
    border-color: #e4e7ed;
}

div.long-table .table th, div.long-table .table td {
    padding: 5px;
    /*vertical-align: baseline;*/
    min-height: 80px;
    height: 80px;
}

/*div.long-table .table td{
    min-height: 135px;
}*/
.table-responsive > .table.table-bordered thead th, [class*="table-responsive-"] > .table.table-bordered thead th {
    border-top: 1px solid #e4e7ed;
    text-align: center;
    vertical-align: inherit;
    min-width: 90px;
}

div.long-table #data-kendaraan-dinas .table th, div.long-table #data-kendaraan-dinas .table td {
    padding: 5px;
    vertical-align: inherit;
    height: 80px;
}

div.long-table #data-pengajuan-penghapusan table tbody tr > :nth-child(5),
div.long-table #data-pengajuan-penghapusan table tbody tr > :nth-child(7) {
    width: auto;
}

div.long-table .table td > div:not(.btn-group) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.btn-alert {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-weight: 900;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    color: #646464;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    position: relative;
    display: inline !important;
    line-height: 2em;
}

.bg-gray-cell {
    background-color: #f9f6f6;
}

div.long-table .btn-group {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.notif-admin #page-header-notifications .fa-bell-o {
    font-size: 20px;
}

.notif-admin #page-header-notifications .badge-pill {
    position: absolute;
    top: 3px;
    left: 23px;
    font-size: 70%;
}

.notif-admin > .dropdown-menu {
    padding: 0;
}

.notif-admin > .dropdown-menu .table-active {
    background-color: #ff000d;
}

.notif-admin > .dropdown-menu ul > li {
    padding: .5rem 0;
}

.title-login {
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    padding: 1.25rem 0;
    margin: 15px 0 5px;
}

.login-dashboard {
    width: 300px;
}

.login-dashboard .img-user {
    width: 80px;
    position: absolute;
    top: -40px;
    left: calc(50% - 80px / 2);
}

.login-dashboard {
    border-radius: 20px;
    background-color: rgba(179, 177, 177, 0.4);
}

.icon-pswd span {
    height: 37px;
}

.change-password input {
    border: 1px solid #ff0000;
}

.content-header {
    height: 45px;
    padding: 6px 18px;
}

.content-side.content-side-full {
    padding-bottom: 18px;
    padding-top: 18px;
}

.status-notif {
    background: #ff0000;
}

.status-notif.read {
    background: #fff;
}

.nav-main .nav-main-heading {
    padding: 20px 18px 6px 18px;
}

.css-switch .css-control-input ~ .css-control-indicator {
    background-color: #ff0000;
}

.dropdown-menu.active-notif,
.dropdown-menu.active-user {
    display: block;
}

/*.js-dataTable-simple .table-action{
  right: -75px;
}
.js-dataTable-simple .headcol{
  right: -73px;
}
*/


/*.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(5),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(7),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(10),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(12),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(25),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(28){
  display: block;
  width: 200px;
}
.long-table #data-tanah table thead tr > :nth-child(5),
.long-table #data-tanah table thead tr > :nth-child(7),
.long-table #data-tanah table thead tr > :nth-child(10),
.long-table #data-tanah table thead tr > :nth-child(12),
.long-table #data-tanah table thead tr > :nth-child(26),
.long-table #data-tanah table thead tr > :nth-child(35),
.long-table #data-tanah table thead tr > :nth-child(37){
  display: block;
  width: 200px;
}
.long-table table tbody tr > :nth-child(5),
.long-table table tbody tr > :nth-child(7),
.long-table table tbody tr > :nth-child(25){
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.long-table #data-kendaraan-dinas table tbody tr > :nth-child(5),
.long-table #data-kendaraan-dinas table tbody tr > :nth-child(8),
.long-table #data-kendaraan-dinas table tbody tr > :nth-child(25){
  overflow: hidden;
  text-overflow: ellipsis;
      width: 200px;
    display: -webkit-inline-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.long-table #data-kendaraan-dinas table tbody tr > :nth-child(7){
  display: table-cell;
}
.long-table #data-premi-kendaraan table tbody tr > :nth-child(5),
.long-table #data-premi-kendaraan table tbody tr > :nth-child(7),
.long-table #data-premi-kendaraan table tbody tr > :nth-child(25){
    display: table-cell;
}
.long-table #data-premi-kendaraan table tbody tr > :nth-child(6){
  overflow: hidden;
  text-overflow: ellipsis;
      width: 200px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
*/
.create-list-penghapusan {
    list-style: none;
}

.create-list-penghapusan li {
    margin-bottom: 5px;
}

.btn-alt-success {
    color: #fff;
    background-color: #5c852c;
    border-color: #5c852c;
}

.btn-alt-success:hover, .btn-alt-success:focus, .btn-alt-success.focus {
    color: #5c852c;
    background-color: #d3e9b8;
    border-color: #d3e9b8;
    box-shadow: none;
}

.btn-alt-danger {
    color: #fff;
    background-color: #af1310;
    border-color: #af1310;
}

.btn-alt-danger:hover, .btn-alt-danger:focus, .btn-alt-danger.focus {
    color: #af1310;
    background-color: #f1c1be;
    border-color: #f1c1be;
    box-shadow: none;
}

.long-table .table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: outset 0 0 3px #dddddd;
    background-color: #dddddd;
    border-radius: 5px;
}

.long-table .table-responsive::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.long-table .table-responsive::-webkit-scrollbar-thumb {
    background-color: #91969f;
    border-radius: 5px;
}

/*.btn-danger {
    color: #fff !important;
    background-color: #ef5350 !important;
    border-color: #ea1c18 !important;
}
.btn-info {
    color: #fff !important;
    background-color: #26c6da !important;
    border-color: #1c97a6 !important;
}
*/
.dark-mode .switch-dark {
    position: absolute;
    top: 50%;
    right: 15px;
    left: unset;
    width: 20px;
    height: 20px;
    display: block;
    line-height: 20px;
    font-size: 14px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.nav-main label {
    position: relative;
    display: block;
    padding: 9px 15px 9px 18px;
}

/*sidebar-maps*/
.sidebar-maps {
    position: fixed;
    width: 400px;
    left: 0;
    height: 100%;
    background: #f8f7f7;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all .5s ease;
}

.sidebar-maps.active {
    left: -400px;
}
.sidebar-maps .open-sidebarr {
    position: absolute;
    right: -20px;
    width: 20px;
    display: flex;
    cursor: pointer;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 19px;
    color: #333;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.sidebar-maps .open-sidebar {
    position: absolute;
    right: -20px;
    width: 20px;
    display: flex;
    cursor: pointer;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 19px;
    color: #333;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.hero-header {
    overflow: hidden;
    direction: ltr;
    display: block;
    width: 100%;
    height: 200px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition-property: opacity, -webkit-filter, filter;
    transition-duration: 0.15s, 0.3s, 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    opacity: 0;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
}

.hero-header.fade-in {
    opacity: 1;
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}

.hero-header-description {
    padding: 16px 24px 16px;
    background-color: #4285F4;
    color: #fff;
    margin-bottom: 8px;
}

.hero-header-title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}

.hero-header-subtitle {
    font-size: 13px;
    margin-top: 4px;
}

.hero-header-subtitle-badge {
    color: #fff;
}

.hero-header-description-container {
    color: inherit;
}

.section-weather {
    font-size: 13px;
    margin-top: 8px;
}

.weather-link, .weather-text {
    display: inline-block;
    vertical-align: top;
}

.weather-link {
    margin-right: 7px;
    height: 32px;
    width: 32px;
}

.weather-text {
    line-height: 16px;
    max-width: 300px;
}

.weather-link-href {
    text-decoration: none;
    position: absolute;
}

.weather-icon {
    height: 32px;
    width: 32px;
    direction: ltr;
}

.hero-header-directions {
    float: right;
    position: relative;
    cursor: pointer;
    color: inherit;
    text-align: center;
    padding: 10px 0;
    margin: -38px 8px 10px;
    min-width: 89px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    background: transparent;
    border: none;
}

.hero-header-directions:focus {
    outline: none;
}

.hero-header-directions-base {
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 150ms cubic-bezier(.4, 0, 1, 1);
    color: #4285F4;
    position: relative;
    overflow: hidden;
    padding: 18px
}

.hero-header-directions-icon {
    background-size: 20px;
    width: 20px;
    height: 20px
}

.hero-header-directions-label {
    display: block;
    overflow: visible;
    font-weight: 500;
    margin-top: 16px;
    cursor: inherit;
    color: #fff;
}

.subheader {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 10px 14px;
}

.subheader-header {
    letter-spacing: 0.00625em;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 0
}

.img-container {
    padding: 0 14px;
    overflow: hidden;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    transform: translateZ(0);
}

.img-container .img-left {
    height: 120px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.img-container .img-right {
    height: 120px;
    margin-left: 8px;
    margin-bottom: 8px;
    display: inline-block;
}

.img-container .button {
    background: transparent;
    border: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.img-container .button:hover .shade {
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.20) 60%, rgba(0, 0, 0, 0.40) 80%, rgba(0, 0, 0, 0.50) 100%);
    transition: all .3s ease-in-out;
}

.image-pack-image-container {
    position: relative;
    overflow: hidden;
    z-index: -1;
    direction: ltr;
}

.image-pack-image-container img {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
}

.shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    cursor: pointer;
    background-image: linear-gradient(transparent 0%, transparent 20%, rgba(0, 0, 0, 0.15) 40%, rgba(0, 0, 0, 0.40) 60%, rgba(0, 0, 0, 0.60) 80%, rgba(0, 0, 0, 0.70) 100%);
    transition: all .3s ease-in-out;
}

.label {
    line-height: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    text-align: left;
    padding: 4px 8px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}

.pano {
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../media/360_white_24dp.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.gm2-body-2 {
    letter-spacing: 0.01428571em;
    font-family: Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.related-place-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin-top: 3px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    font-size: inherit;
    line-height: 14px;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 5px;
}

.related-place-category {
    color: #777;
    font-size: x-small;
    margin-top: 2px;
    line-height: 12px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.divider {
    margin-top: 8px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 8px;
}

.action-maps {

}

.blue-button-text {
    color: #4285F4;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
}

.info-hoverable span {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.info-hoverable > a {
    display: block;
    padding: 2px 5px;
}

.info-hoverable > a:hover {
    background-color: rgba(0, 0, 0, .03);
}

.slimScrollDiv {
    scroll-behavior: smooth;
}

.search-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 56px;
    background: #4285f4;
    padding: 10px 10px;
}

.search-map .input-group-text {
    background-color: #fff;
}

.content-list-maps .hero-header-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    margin-bottom: 5px;
    color: #333;
}

.content-list-maps {
    margin-top: 57px;
    height: calc(100vh - 132px) !important;
    display: none;
}

.content-list-maps a {
    display: block;
    border-bottom: 1px solid #e6e6e6;
}

.content-list-maps > a:nth-child(even) {

}

.z-marker {
    z-index: 56 !important;
}

#search-bar .dropdown-search {
    display: none;
}

#search-bar .dropdown-search.open-dropdown {
    display: block;
    position: absolute;
    background: #fff;
    width: calc(100% - 41px);
    will-change: transform;
    padding: 0 8px;
    padding-top: 5px;
    top: 34px;
    left: 41px;
    box-shadow: 3px 2px 7px 1px rgba(0, 0, 0, 0.08);

}

#search-bar .dropdown-search.open-dropdown .dropdown-item:hover, #search-bar .dropdown-search.open-dropdown .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f0f2f5;
}

#search-bar .dropdown-search.open-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    color: #575757;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-bottom: 5px;
    border-radius: 4px;
}

.overlay-header {
    z-index: 22;
}

#table-1_wrapper > .row:nth-child(2) {
    width: calc(100% + 117px);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 615px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 768px) {
    .content p, .content .push, .content .block, .content .items-push > div {
        margin-bottom: 15px;
    }

    #page-header {
        margin-bottom: 15px;
    }

    .content {
        margin: 0 auto;
        padding: 15px 15px 1px;
        width: 100%;
        overflow-x: visible;
    }

    div.long-table {
        width: auto;
        margin-right: 89px;
        overflow-y: visible;
        padding-bottom: 1px;
    }
}
