html{
  scroll-behavior: smooth;
}
button,
button:focus{
    outline: none;
}
.p-75{
  padding: .75rem !important;
}
.px-75{
  padding-left: .75rem !important;
  padding-right: .75rem !important;
}
.py-75{
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
}

.bg-main-gray{
  background-color: #f0f2f5
}

div.long-table {
    width: auto;
    margin-right: 89px;
    overflow-y: visible;
    padding-bottom: 1px;
}

#data-rumah-negara .headcol,
#data-gedung .headcol,
#data-tanah .headcol,
#data-kendaraan .headcol  {
    position: absolute;
    width: 90px;
    right: 20px;
    height: 81px !important;
    margin-top: 12px;
    top: auto;
    border-right: 0px none black;
    border-top-width: 1px;
    margin-top: 0px;
    border-right: 1px solid rgba(228, 231, 237, 0.35) !important;
}

#data-rumah-negara .table-action,
#data-gedung .table-action,
#data-tanah .table-action,
#data-kendaraan .table-action {
  width: 90px;
  right: 20px;
  height: 82px !important;
  display: flex;
  margin-top: -1px;
  border-top: 2px solid rgba(228, 231, 237, 0.35) !important;
  border-bottom: 1px solid rgba(228, 231, 237, 0.35) !important;
  justify-content: center;
  align-items: center;
}
.table .thead-light th {
    color: #575757;
    background-color: #f6f7f9;
    border-color: #e4e7ed;
}
div.long-table .table th, div.long-table .table td {
    padding: 5px;
    vertical-align: baseline;
    height: 80px;
}
div.long-table .table td > div:not(.btn-group){
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.bg-gray-cell{
  background-color: #f6f7f9;
}

div.long-table .btn-group{
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.title-login {
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    padding: 1.25rem 0;
    margin: 15px 0 5px;
}
.login-dashboard{
    width: 300px;
}
.login-dashboard .img-user{
    width: 80px;
    position: absolute;
    top: -40px;
    left: calc(50% - 80px/2);
}
.login-dashboard{
    border-radius: 20px;
    background-color: rgba(179, 177, 177, 0.4);
}
.icon-pswd span{
  height: 37px;
}
.change-password input{
  border: 1px solid #d4dae3;
}
.content-header{
  height: 45px;
  padding: 6px 18px;
}
.content-side.content-side-full {
    padding-bottom: 18px;
    padding-top: 18px;
}
.status-notif{
  background: #c8e2f8;
}
.status-notif.read{
  background: #fff;
}
.nav-main .nav-main-heading{
  padding: 20px 18px 6px 18px;
}
.css-switch .css-control-input ~ .css-control-indicator{
  background-color: #bebcbc;
}
.dropdown-menu.active-notif,
.dropdown-menu.active-user{
  display: block;
}

/*.js-dataTable-simple .table-action{
  right: -75px;
}
.js-dataTable-simple .headcol{
  right: -73px;
}
*/
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(5),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(7),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(10),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(12),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(25),
.long-table > :nth-child(2):not(#data-tanah) table thead tr > :nth-child(28){
  display: block;
  width: 200px;
}
.long-table #data-tanah table thead tr > :nth-child(5),
.long-table #data-tanah table thead tr > :nth-child(7),
.long-table #data-tanah table thead tr > :nth-child(10),
.long-table #data-tanah table thead tr > :nth-child(12),
.long-table #data-tanah table thead tr > :nth-child(26),
.long-table #data-tanah table thead tr > :nth-child(35),
.long-table #data-tanah table thead tr > :nth-child(37){
  display: block;
  width: 200px;
}
.long-table table tbody tr > :nth-child(5),
.long-table table tbody tr > :nth-child(7),
.long-table table tbody tr > :nth-child(25){
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.long-table > div > :nth-child(1){
  margin-bottom: 10px;
  width: calc(100% + 89px);
}
.long-table > div > :nth-child(2) > :nth-child(2){
  margin-bottom: 10px;
  width: calc(100% + 119px);
}
/*.btn-danger {
    color: #fff !important;
    background-color: #ef5350 !important;
    border-color: #ea1c18 !important;
}
.btn-info {
    color: #fff !important;
    background-color: #26c6da !important;
    border-color: #1c97a6 !important;
}
*/
.dark-mode .switch-dark {
    position: absolute;
    top: 50%;
    right: 15px;
    left: unset;
    width: 20px;
    height: 20px;
    display: block;
    line-height: 20px;
    font-size: 14px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.nav-main label {
    position: relative;
    display: block;
    padding: 9px 15px 9px 18px;
}

/*sidebar-maps*/
.sidebar-maps{
  position: absolute;
  width: 402px;
  left: 15px;
  height: calc(100vh - 75px);
  overflow-y: hidden;
  overflow-x: hidden;
  background: #e4dfdf;
  z-index: 2;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*/
  transition: all .5s ease;
  box-shadow: 0 0 2vh rgba(0,0,0,0.75);
  opacity:0;
  -moz-animation: anm-right 0.33s 0.7s forwards;
  -webkit-animation: anm-right 0.33s 0.7s forwards;
  -ms-animation: anm-right 0.33s 0.7s forwards;
  animation: anm-right 0.33s 0.7s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.sidebar-maps.active{
  left: -400px;
}
.h-scroll{
  height: calc(100vh - 95px);
  overflow-y: auto;
  overflow-x: hidden;
}
.h-scroll.h-country{
  height: calc(100vh - 288px);
}
.open-sidebar{
  position: absolute;
  left: 416px;
  width: 20px;
  z-index: 22;
  display: flex;
  cursor: pointer;
  height: 56px;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: left .5s ease;
  font-size: 19px;
  color: #333;
  background: rgba(255,255,255,1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  opacity:0;
  -moz-animation: anm-right 0.33s 0.7s forwards;
  -webkit-animation: anm-right 0.33s 0.7s forwards;
  -ms-animation: anm-right 0.33s 0.7s forwards;
  animation: anm-right 0.33s 0.7s forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.open-sidebar.active{
  left: 15px;
}
.hero-header {
    overflow: hidden;
    direction: ltr;
    display: block;
    width: 100%;
    height: 200px;
    margin-top: 56px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition-property: opacity,-webkit-filter,filter;
    transition-duration: 0.15s,0.3s,0.3s;
    transition-timing-function: cubic-bezier(0.4,0,1,1);
    opacity: 0;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
}
.hero-header.fade-in {
    opacity: 1;
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}
.hero-header-description {
    padding: 16px 24px 16px;
    background-color: #4285F4;
    color: #fff;
    margin-bottom: 0;
}
.hero-header-title {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}
.hero-header-subtitle {
    font-size: 13px;
    margin-top: 4px;
}
.hero-header-subtitle-badge{
  color: #fff;
}
.hero-header-description-container {
    color: inherit;
}
.section-weather {
    font-size: 13px;
    margin-top: 8px;
}
.weather-link, .weather-text {
    display: inline-block;
    vertical-align: top;
}
.weather-link {
    margin-right: 7px;
    height: 32px;
    width: 32px;
}
.weather-text {
    line-height: 16px;
    max-width: 300px;
}
.weather-link-href {
    text-decoration: none;
    position: absolute;
}
.weather-icon {
    height: 32px;
    width: 32px;
    direction: ltr;
}
.hero-header-directions {
    float: right;
    position: relative;
    cursor: pointer;
    color: inherit;
    text-align: center;
    padding: 10px 0;
    margin: -38px 8px 10px;
    min-width: 89px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    background: transparent;
    border: none;
}
.hero-header-directions:focus{
  outline: none;
}
.hero-header-directions-base {
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 150ms cubic-bezier(.4,0,1,1);
    color: #4285F4;
    position: relative;
    overflow: hidden;
    padding:18px
}
.hero-header-directions-icon{
  background-size:20px;width:20px;height:20px
}
.hero-header-directions-label {
    display: block;
    overflow: visible;
    font-weight: 500;
    margin-top: 16px;
    cursor: inherit;
    color: #fff;
}
.action-maps .card{
  background-color: transparent;
  border: none;
}
.subheader {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 10px 14px;
}
.subheader-header {
    letter-spacing: 0.00625em;
    font-family: 'Google Sans',Roboto, Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 0
}
.filter-country .img-container:hover{
  background: #3e454c;
}
.img-container {
    padding: 0 14px;
    overflow: hidden;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    transform: translateZ(0);
}
.img-container .img-left{
  height: 120px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.img-container .img-right{
  height: 120px;
  margin-left: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.img-container .button {
    background: transparent;
    border: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.img-container .button:hover .shade{
  background-image: linear-gradient(transparent 0%,rgba(0,0,0,0.05) 40%,rgba(0,0,0,0.20) 60%,rgba(0,0,0,0.40) 80%,rgba(0,0,0,0.50) 100%);
  transition: all .3s ease-in-out;
}
.image-pack-image-container {
    position: relative;
    overflow: hidden;
    z-index: -1;
    direction: ltr;
}
.image-pack-image-container img{
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
}
.shade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    cursor: pointer;
    background-image: linear-gradient(transparent 0%,transparent 20%,rgba(0,0,0,0.15) 40%,rgba(0,0,0,0.40) 60%,rgba(0,0,0,0.60) 80%,rgba(0,0,0,0.70) 100%);
    transition: all .3s ease-in-out;
}
.label {
    line-height: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    text-align: left;
    padding: 4px 8px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
}
.pano {
    display: inline-block;
    vertical-align: bottom;
    background-image: url(../media/360_white_24dp.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
.gm2-body-2 {
    letter-spacing: 0.01428571em;
    font-family: Roboto, Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.related-place-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin-top: 3px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    font-size: inherit;
    line-height: 14px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #000;
}
.related-place-category {
    color: #777;
    font-size: 12px;
    margin-top: 2px;
    line-height: 12px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}
.amount-list{
  font-size: 24px !important;
}
.info-hoverable div.three-icon{
  font-size: 11px !important;
}
.divider{
  margin-top: 8px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 8px;
}
.action-maps{
  padding: 10px 0;
  margin: 0 10px;
      border-radius: 10px;
}
.blue-button-text {
    color: #000;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 12px;
}
.info-hoverable span{
  font-size: 12px;
  line-height: 18px;
  color: #333;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
}
.info-hoverable h3{
  font-size: 18px
}
.info-hoverable div{
  font-size: 14px;
  color: #000;
}
.info-hoverable > a{
  display: block;
  padding: 2px 5px;
}
.info-hoverable > a:hover{
  background-color: rgba(0,0,0,.03);
}
.vue-map-container .info-hoverable > a{
  position: relative;
}
.vue-map-container .info-hoverable > a:first-child:before{
  content: '';
  background: url(../../assets/svg/location-transparent.svg) no-repeat;
  width: 43%;
  background-size: contain;
  height: 102px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.vue-map-container .info-hoverable > a:last-child:before{
  content: '';
  background: url(../../assets/svg/phone-transparent.svg) no-repeat;
  width: 43%;
  background-size: contain;
  height: 102px;
  right: 0;
  bottom: 0;
  position: absolute;
}
.vue-map-container .amount-list{
  font-size: 16px !important;
}
.slimScrollDiv{
  scroll-behavior: smooth;
}
.search-map{
  position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 222;
      box-shadow: 0 0 2vh rgba(0,0,0,0.75);
      height: 56px;
      background: #4285f4;
      padding: 10px 10px;
      background: linear-gradient(90deg, rgba(30,30,30,1) 20%, rgba(35,35,35,1), rgba(30,30,30,1) 80%);
}
.search-map .input-group-text{
  background-color: #fff;
  border-radius: 0;
      border-left: 0;
}
.search-map .search-input{
  width: calc(100% - 80px);
  position: relative;
}
.search-map .search-input .dropdown-search-filter{
  display: none;
}
#search-bar-filter .dropdown-search-filter.open-dropdown-filter {
    display: block;
    position: absolute;
    background: #eaeaea;
    width: 100%;
    will-change: transform;
    padding: 0 8px;
    padding-top: 5px;
    top: 34px;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*.filter-country{
  margin-top: 154px;
}*/
.content-filter-country{
  display: none;
}
.input-group-append {
    margin-left: -2px;
}
.content-filter-country .search-map{
  padding-bottom: 128px;
}
.filter-country img{
  box-shadow: 0 0.25vh 1vh rgba(0,0,0,0.5);
  border-radius: 5px;
}
.content-list-maps .hero-header-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
    margin-bottom: 5px;
    color: #333;
}
.content-list-maps{
  margin-top: 56px;
  height: calc(100vh - 132px) !important;
  display: none;
}
.content-list-maps a{
  display: block;
  border-bottom: 1px solid #e6e6e6;
}
.content-list-maps > a:nth-child(even){

}


#search-bar .dropdown-search{
    display: none;
}
#search-bar .dropdown-search.open-dropdown{
    display: block;
    position: absolute;
    background: #fff;
    width: calc(100% - 41px);
    will-change: transform;
    padding: 0 8px;
    padding-top: 5px;
    top: 34px;
    left: 41px;
    box-shadow: 3px 2px 7px 1px rgba(0,0,0,0.08);

}
#search-bar .dropdown-search.open-dropdown .dropdown-item:hover, #search-bar .dropdown-search.open-dropdown .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f0f2f5;
}
#search-bar .dropdown-search.open-dropdown .dropdown-item{
    display: block;
    width: 100%;
    padding: 5px 10px;
    clear: both;
    font-weight: 400;
    color: #575757;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    margin-bottom: 5px;
    border-radius: 4px;
}
.overlay-header{
  z-index: 22;
}
#table-1_wrapper > .row:nth-child(2){
  width: calc(100% + 117px);
}

/*bottom-menu*/

.bottom-menu {
  text-align: center;
  position: fixed;
  bottom: 4.5vh;
  left: 50%;
  padding: 0;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
  z-index: 2;
}


.bottom-menu > button {
  -moz-animation: anm-up 0.33s 0.7s ease-in-out forwards;
  -webkit-animation: anm-up 0.33s 0.7s ease-in-out forwards;
  -ms-animation: anm-up 0.33s 0.7s ease-in-out forwards;
  animation: anm-up 0.33s 0.7s ease-in-out forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align:center;
  /*width:7vh;
  height:9vh;*/
  display:inline-block;
  margin-left:2.5vh;
  margin-right:2.5vh;
  cursor:hand;
  padding:0;
  opacity:0;
  border:none;
  cursor: pointer;
  background: transparent;
  outline: none;
}
.bottom-menu > button:nth-child(1) {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.bottom-menu > button:nth-child(2) {
  -moz-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  -ms-animation-delay: 1.05s;
  animation-delay: 1.05s;
}
.bottom-menu > button:nth-child(3) {
  -moz-animation-delay: 1.1s;
  -webkit-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.bottom-menu > button:nth-child(4) {
  -moz-animation-delay: 1.15s;
  -webkit-animation-delay: 1.15s;
  -ms-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
.bottom-menu > button:nth-child(5) {
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.bottom-menu-icon {
/*width:7vh;
height:7vh;*/
display:inline-block;
border-radius:1vh;
background:linear-gradient(-45deg, rgba(210,210,210,1), rgba(245,245,245,1));
box-shadow: inset 0 0.5vh 2vh rgba(255,255,255,0.25), 0 0.5vh 1vh rgba(0,0,0,0.2);
padding:0;
margin:0;
background: linear-gradient(90deg, rgba(30,30,30,.95) 20%, rgba(35,35,35,.95), rgba(30,30,30,.95) 80%);
box-shadow: 0 0 2vh rgba(0,0,0,0.75);
}
.bottom-menu > button:hover .bottom-menu-icon {
  -moz-animation: anm-hover 0.33s 0s ease-in-out forwards;
  -webkit-animation: anm-hover 0.33s 0s ease-in-out forwards;
  -ms-animation: anm-hover 0.33s 0s ease-in-out forwards;
  animation: anm-hover 0.33s 0s ease-in-out forwards;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity:1;
}


/*custom-anim*/
.main-menu > div.maps-top{
  position: relative;
  height: calc(100vh - 95px);
  bottom: 0;
  transition: bottom .3s ease;
}
.main-menu > div.chart-bottom{
  position: relative;
  height: calc(100vh - 95px);
  bottom: 0;
  transition: bottom .3s ease;
}
.main-menu > div.maps-top.active,
.main-menu > div.chart-bottom.active{
  bottom: calc(100vh - 95px)
}
.main-menu > div.chart-bottom.active{
  overflow-y: auto;
}

.left-container-image-info {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.75));
    position: absolute;
    bottom: 0;
    font-size: 0;
    text-align: left;
}
.left-container-image-info > h3 {
    width: 100%;
    padding-left: 19px;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: 400;
    line-height: 27px;
    font-size: 20px;
    color: white;
    text-shadow: 0.25vh 0.25vh 0.5vh rgba(0,0,0,0.33);
    display: inline-block;
    margin-bottom: 10px;
}
.left-container-image-info-subtitle {
    padding: 5px 5px 5px 20px;
    width: auto;
    background: linear-gradient(-45deg, rgba(50,50,50,1), rgba(40,40,40,1));
    box-shadow: 0.25vh 0.25vh 1vh rgba(0,0,0,0.5);
    display: inline-block;
    border-radius: 0 0.5vh 0.5vh 0;
}
.left-container-image-info-subtitle > h5 {
    background: -webkit-linear-gradient(45deg, rgba(0,200,255,1), rgba(0,125,225,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    text-shadow: 0.25vh 0.25vh 0.5vh rgba(0,0,0,0.33);
    font-weight: 900;
    margin-bottom: 0
}

.filter-country .related-place-title{
  line-height: 18px;
  font-size: 16px;
  font-weight: 400;
}

.content-filter-country .input-country{
  padding-top: 85px;
  padding-bottom: 20px;
  margin-bottom: 0;
  background: #232323;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 2vh rgba(0,0,0,0.75);
}
@media (min-width: 576px){
  .modal-dialog {
      max-width: 615px;
      margin: 1.75rem auto;
  }
}

@media (min-width: 768px){
  .content p, .content .push, .content .block, .content .items-push > div {
      margin-bottom: 15px;
  }
  #page-header{
    margin-bottom: 15px;
  }
  .content {
      margin: 0 auto;
      padding: 15px 15px 1px;
      width: 100%;
      overflow-x: visible;
  }
}
