body.body-inverse {
    background-color: #3e454c;
    color: rgba(228, 231, 237, 0.75);
}
body.body-inverse .header-body{
    background-color: #343a40;
}



.page-header-inverse #page-header .btn-dual-secondary,
.sidebar-inverse #sidebar .btn-dual-secondary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-inverse #page-header .btn-dual-secondary:hover, .page-header-inverse #page-header .btn-dual-secondary:focus, .page-header-inverse #page-header .btn-dual-secondary.focus,
.sidebar-inverse #sidebar .btn-dual-secondary:hover,
.sidebar-inverse #sidebar .btn-dual-secondary:focus,
.sidebar-inverse #sidebar .btn-dual-secondary.focus {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  box-shadow: none;
}

.page-header-inverse #page-header .btn-dual-secondary.disabled, .page-header-inverse #page-header .btn-dual-secondary:disabled,
.sidebar-inverse #sidebar .btn-dual-secondary.disabled,
.sidebar-inverse #sidebar .btn-dual-secondary:disabled {
  background-color: transparent;
  border-color: transparent;
}

.page-header-inverse #page-header .btn-dual-secondary:not([disabled]):not(.disabled):active,
.sidebar-inverse #sidebar .btn-dual-secondary:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-inverse #page-header .btn-dual-secondary:not([disabled]):not(.disabled).active,
.show > .page-header-inverse #page-header .btn-dual-secondary.dropdown-toggle,
.sidebar-inverse #sidebar .btn-dual-secondary:not([disabled]):not(.disabled).active,
.show >
.sidebar-inverse #sidebar .btn-dual-secondary.dropdown-toggle {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
#page-container.sidebar-inverse #sidebar {
  color: #e4e7ed;
  background-color: #343a40;
  box-shadow: none;
}

#page-container.sidebar-inverse #sidebar .content-side-user {
  background-color: #2d3238;
}
.sidebar-inverse #sidebar .nav-main a {
  color: rgba(228, 231, 237, 0.75);
}

.sidebar-inverse #sidebar .nav-main a:hover, .sidebar-inverse #sidebar .nav-main a:focus, .sidebar-inverse #sidebar .nav-main a.active {
  color: #fff;
}
.sidebar-inverse #sidebar .nav-main a:hover > i, .sidebar-inverse #sidebar .nav-main a:focus > i, .sidebar-inverse #sidebar .nav-main a.active > i {
  color: #3f9ce8;
}
.sidebar-inverse #sidebar .nav-main li.open > a.nav-submenu {
  color: #fff;
}


#page-container.page-header-modern .main-inverse #page-header{
  background-color: #2d3238
}
.main-inverse .btn-dual-secondary{
  color: #e4e7ed;
}
.main-inverse .btn-dual-secondary:hover, .main-inverse .btn-dual-secondary:focus, .main-inverse .btn-dual-secondary.focus {
    color: #e4e7ed;
    background-color: #444c53;
    border-color: #444c53;
    box-shadow: none;
}
.main-inverse .overlay-header{
  background-color: #2d3238;
}
.main-inverse .form-control{
  background-color: #3e454c;
  border: 1px solid rgba(228, 231, 237, 0.35);
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse .btn-secondary {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse .btn-secondary:hover, .main-inverse .btn-secondary:focus, .main-inverse .btn-secondary.focus{
  color: #212529;
  background-color: #cbd2dd;
  border-color: #adb8c8;
}
.main-inverse #search-bar .dropdown-search.open-dropdown{
  background: #2d3238;
}
.main-inverse #search-bar .dropdown-search.open-dropdown .dropdown-item{
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse #search-bar .dropdown-search.open-dropdown .dropdown-item:hover, .main-inverse #search-bar .dropdown-search.open-dropdown .dropdown-item:focus {
    color: rgba(228, 231, 237, 0.75);
    text-decoration: none;
    background-color: #3e454c;
}
.main-inverse .dropdown-menu{
  background-color: #2d3238;
  border: 1px solid rgba(228, 231, 237, 0.35);
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse h1, .main-inverse h2, .main-inverse h3, .main-inverse h4, .main-inverse h5, .main-inverse h6, .main-inverse .h1, .main-inverse .h2, .main-inverse .h3, .main-inverse .h4, .main-inverse .h5, .main-inverse .h6 {
    /*color: rgba(169, 173, 179, 0.75);*/
    color: #cecbc5;
}
.main-inverse .login-dashboard .form-control {
    background-color: #3d444b;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse .login-dashboard{
  background-color: rgb(65, 77, 89);
}
.main-inverse .input-group-text {
    background-color: #184150;
    border: 1px solid #707172;
}
.main-inverse .dropdown-item{
  background-color: #2d3238;
}
.main-inverse .dropdown-item {
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse .dropdown-item:hover, .main-inverse .dropdown-item:focus {
    text-decoration: none;
    background-color: #3e454c;
}
.main-inverse .text-body-color-dark {
   color: #3f9ce8 !important;
}
.main-inverse a.text-body-color-dark:hover, .main-inverse a.text-body-color-dark:focus {
    color: #3f9ce8 !important;
    background-color: #3e454c;
}
.main-inverse .border-b {
    border-bottom: 1px solid rgba(228, 231, 237, 0.35) !important;
}
.main-inverse .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .breadcrumb.bg-white{
  background-color: #2d3238 !important;
}
.main-inverse .breadcrumb-item.active {
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse .block{
  background-color: #3e454c;
}
.main-inverse .block-header-default {
    background-color: #2d3238;
}
.main-inverse .table-bordered th, .main-inverse .table-bordered td {
    border: 1px solid rgba(228, 231, 237, 0.35);
    border-top: 1px solid rgba(228, 231, 237, 0.35) !important;
}
.main-inverse .table-bordered {
    border: none;
}
.main-inverse .table .thead-light th{
  background-color: #2d3238;
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse .bg-gray-cell {
  background-color: #2d3238;
}
.main-inverse .status-notif{
  color: #fff;
  background-color: #3f9ce8;
}
.main-inverse .custom-file-label {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse #data-rumah-negara .table-action,
.main-inverse #data-gedung .table-action,
.main-inverse #data-tanah .table-action {
  background-color: #2d3238;
}
/*.main-inverse .custom-file-label:after {
    background-color: #2d3238;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}*/
table thead tr{
  background-color: #2d3238;
}
.main-inverse .status-notif.read {
    background: #3e454c;
    color: rgba(228, 231, 237, 0.75);
}
.modal-default.modal-inverse .modal-content{
  background-color: #343a40;
}
.modal-default.modal-inverse .modal-footer{
  border-top: 0;
}
.modal-default.modal-inverse .block{
  background-color: #3e454c;
}
.modal-default.modal-inverse .form-control {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
.modal-default.modal-inverse .select2-container--default .select2-selection--single, 
.modal-default.modal-inverse .select2-dropdown,
.modal-default.modal-inverse .select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
    border-radius: 4px;
}
body.body-inverse .select2-dropdown {
    color: rgba(228, 231, 237, 0.75);
    background-color: #3e454c;
    border-color: #787e84;
}
body.body-inverse .select2-container--default .select2-results__option--highlighted[aria-selected],
body.body-inverse .select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #505962;
    color: rgba(228, 231, 237, 0.75);
}
.modal-default.modal-inverse .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: rgba(228, 231, 237, 0.75);
}
body.body-inverse .select2-container--default .select2-search--dropdown .select2-search__field{
  background: #3e454c;
  border-color: #787e84;
}
body.body-inverse .modal-default.modal-inverse .css-switch .css-control-input ~ .css-control-indicator{
  background-color: #1a2a39;
}
body.body-inverse .modal-default.modal-inverse .css-switch.css-control-primary .css-control-input:checked ~ .css-control-indicator{
  background-color: #225f91;
}
body.body-inverse .css-switch .css-control-input ~ .css-control-indicator{
  background-color: #798188;
}
body.body-inverse .css-switch.css-control-primary .css-control-input:checked ~ .css-control-indicator{
  background-color: #1b1f23;
}
.main-inverse .page-item.disabled .page-link{
  background-color: #2d3238;
  color: rgba(228, 231, 237, 0.75);
  border: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #225f91;
    border: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .page-link{
  background-color: #3d444b;
  color: rgba(228, 231, 237, 0.75);
  border: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .title-banner {
    background: #3e454c;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    padding: 15px;
    color: #cecbc5;
    /*border: 3px solid #d4c39f;*/
    border: 3px solid #f8f8f8;
    font-weight: 700;
}
.main-inverse .content-heading{
  border-bottom: 1px solid #d4c39f;
}
.main-inverse .search-map{
  /*background: linear-gradient(90deg, rgba(30,30,30,1) 20%, rgba(35,35,35,1), rgba(30,30,30,1) 80%);*/
  background-color: transparent;
}
.main-inverse .content-filter-country .search-map{
  background: linear-gradient(90deg, rgba(30,30,30,1) 20%, rgba(35,35,35,1), rgba(30,30,30,1) 80%);
}
.main-inverse .search-map input{
  background: #ebebeb;
  color: rgb(64, 64, 66);
}
.main-inverse #search-bar-filter .dropdown-item{
  background-color: transparent;
  color: rgb(64, 64, 66);
}
.main-inverse .form-control:focus {
    color: #575757;
    background-color: #ebebeb;
    border-color: #97a5ba;
    outline: 0;
    box-shadow: none;
}
.main-inverse .card-info .card{
  background: linear-gradient(90deg, rgba(30,30,30,.95) 20%, rgba(35,35,35,.95), rgba(30,30,30,.95) 80%);
  box-shadow: 0 0 2vh rgba(0,0,0,0.75);
  background: #151513;
}
.main-inverse #search-bar-filter .dropdown-item:hover,
.main-inverse #search-bar-filter .dropdown-item:focus{
  background-color: transparent;
  color: rgb(64, 64, 66);
}
.main-inverse .search-map .input-group-text {
    background-color: #363636;
    border-color: #363636;
    box-shadow: 0 0 1vh rgba(0,0,0,0.75);
    border-radius: 0;
    border-left: 0;
}
.main-inverse .search-map .input-group-text i{
  color: #fff;
}
.main-inverse .hero-header-description {
    padding: 16px 24px 16px;
    background-color: #51555a;
    color: #fff;
    margin-bottom: 0;
}
.main-inverse .action-maps {
    /*background: #343a40;*/
    background: #151513;
    box-shadow: 0 0 2vh rgba(0,0,0,0.75);
}
.main-inverse .action-maps .blue-button-text{
  color: #a1a1a1;
}
.main-inverse .sidebar-maps{
  background: linear-gradient(90deg, rgba(30,30,30,.95) 20%, rgba(35,35,35,.95), rgba(30,30,30,.95) 80%);
  box-shadow: 0 0 2vh rgba(0,0,0,0.75);
}
.main-inverse .info-hoverable h3{
  color: #fff;
  font-size: 17px;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}
.main-inverse .action-maps .img{
  position: relative;
  padding-bottom: 5px;
}
.main-inverse .info-hoverable h3:before{
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  width: 50%;
  box-shadow: 0 0 4px rgba(0,200,255,1);
  background:linear-gradient(90deg, rgba(0,200,255,1), rgba(0,125,225,1));
}
.main-inverse .action-maps .img:before{
  content: '';
  height: 1px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  width: 50%;
  box-shadow: 0 0 4px rgba(0,200,255,1);
  background:linear-gradient(90deg, rgba(0,200,255,1), rgba(0,125,225,1));
}
.main-inverse .info-hoverable div{
  color: #a1a1a1;
  font-size: 14px
}
.main-inverse .content-list-maps .info-hoverable div.related-place-title{
  color: #fff;
  font-size: 14px;
  margin-bottom: 8px;
  line-height: 16px;
}
.main-inverse .content-list-maps .info-hoverable div.related-place-category{
  color: #a1a1a1;
  font-size: 12px;
}
.main-inverse .divider{
  margin-top: 8px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 8px;
}
.main-inverse .img-container .card{
  border: 1px solid rgba(181, 101, 101, 1);
}
.main-inverse .img-container .card .card-body{
  background-color: #3e454c;
}
.main-inverse .img-container a:hover .card .card-body{
  background-color: rgb(81, 85, 90);
}
.main-inverse .related-place-title{
  color: #e5ebdf;
}
.main-inverse .related-place-category{
color: #a1a1a1
}
.main-inverse .content-list-maps a {
    display: block;
    border-bottom: 1px solid #242629;
    background: #343a40;
    background-color: transparent;
}
/*.main-inverse .info-hoverable > a:hover {
    background-color: rgb(81, 85, 90);
}*/
/*.main-inverse .sidebar-maps{
  box-shadow: none;
}*/
.main-inverse #scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: outset 0 0 3px #343a40;
  background-color: #343a40;
  border-radius: 2px;
}

.main-inverse #scrollbar::-webkit-scrollbar
{
  width: 2px;
  border-radius: 2px;
  background-color: linear-gradient(0deg, rgba(0,200,255,1), rgba(0,125,225,1));
}

.main-inverse #scrollbar::-webkit-scrollbar-thumb
{
  background-color: #91969f;
  border-radius: 2px;
}
.main-inverse .info-hoverable .media-body{
  color: #fff;
}
.main-inverse .content-list-maps .hero-header-title{
  color: #b0d0ff;
}
.main-inverse .open-sidebar{
  color: #edf5f8;
  background: rgb(81, 85, 90);
}
.sidebar-inverse #sidebar .nav-main a:hover, .sidebar-inverse #sidebar .nav-main a:focus, .sidebar-inverse #sidebar .nav-main a.active{
  color: rgba(228, 231, 237, 0.75);
}
.sidebar-inverse #sidebar .nav-main a i{
  color: rgba(228, 231, 237, 0.75);
}
.sidebar-inverse #sidebar .nav-main a:hover i, .sidebar-inverse #sidebar .nav-main a:focus i, .sidebar-inverse #sidebar .nav-main a.active i{
  color: #3f9ce8;
}
.sidebar-inverse .nav-main label {
    color: rgba(228, 231, 237, 0.75);
}
.sidebar-inverse #sidebar .nav-main a > i {
  color: #e4e7ed;
}
.sidebar-inverse #sidebar .nav-main li.open > a.nav-submenu > i {
  color: #3f9ce8;
}
.sidebar-inverse #sidebar .nav-main li.open > ul {
  background-color: #2d3238;
}
.page-header-inverse #page-header .text-dual-primary-dark,
.sidebar-inverse #sidebar .text-dual-primary-dark {
  color: #e4e7ed !important;
}

.page-header-inverse #page-header a.text-dual-primary-dark.link-effect::before,
.sidebar-inverse #sidebar a.text-dual-primary-dark.link-effect::before {
  background-color: #e4e7ed;
}

.page-header-inverse #page-header a.text-dual-primary-dark:hover, .page-header-inverse #page-header a.text-dual-primary-dark:focus,
.sidebar-inverse #sidebar a.text-dual-primary-dark:hover,
.sidebar-inverse #sidebar a.text-dual-primary-dark:focus {
  color: #a7b2c4 !important;
}
.sidebar-inverse #sidebar .simplebar-scrollbar::before {
  background: #c8e2f8;
}

