body.body-inverse {
    background-color: #3e454c;
    color: rgba(228, 231, 237, 0.75);
}
body.body-inverse .header-body{
    background-color: #343a40;
}

/*.content-chart .block-yellow i{
    color: #e4e7ed!important;
}
.content-chart .block-blue i{
    color: #e4e7ed!important;
}
.content-chart .block-green2 i{
    color: #e4e7ed!important;
}
.content-chart .block-green i{
    color: #e4e7ed!important;
}*/

#data-rumah-negara .table-action,
#data-gedung .table-action,
#data-tanah .table-action,
#data-kendaraan .table-action,
#data-kendaraan-dinas .table-action,
#data-premi-kendaraan .table-action,
#data-wilayah .table-action,
#data-pengajuan-penghapusan .table-action,
#data-kendaraan-penghapusan .table-action,
#data-kendaraan-add-penghapusan .table-action {
  background: #2d3238;
}

.page-header-inverse #page-header .btn-dual-secondary,
.sidebar-inverse #sidebar .btn-dual-secondary {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-inverse #page-header .btn-dual-secondary:hover, .page-header-inverse #page-header .btn-dual-secondary:focus, .page-header-inverse #page-header .btn-dual-secondary.focus,
.sidebar-inverse #sidebar .btn-dual-secondary:hover,
.sidebar-inverse #sidebar .btn-dual-secondary:focus,
.sidebar-inverse #sidebar .btn-dual-secondary.focus {
  color: #fff;
  background-color: #626f7c;
  border-color: #212529;
  box-shadow: none;
}

.page-header-inverse #page-header .btn-dual-secondary.disabled, .page-header-inverse #page-header .btn-dual-secondary:disabled,
.sidebar-inverse #sidebar .btn-dual-secondary.disabled,
.sidebar-inverse #sidebar .btn-dual-secondary:disabled {
  background-color: transparent;
  border-color: transparent;
}

.page-header-inverse #page-header .btn-dual-secondary:not([disabled]):not(.disabled):active,
.sidebar-inverse #sidebar .btn-dual-secondary:not([disabled]):not(.disabled):active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.page-header-inverse #page-header .btn-dual-secondary:not([disabled]):not(.disabled).active,
.show > .page-header-inverse #page-header .btn-dual-secondary.dropdown-toggle,
.sidebar-inverse #sidebar .btn-dual-secondary:not([disabled]):not(.disabled).active,
.show >
.sidebar-inverse #sidebar .btn-dual-secondary.dropdown-toggle {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
#page-container.sidebar-inverse #sidebar {
  color: #e4e7ed;
  background-color: #343a40;
  box-shadow: none;
}

#page-container.sidebar-inverse #sidebar .content-side-user {
  background-color: #2d3238;
}
.sidebar-inverse #sidebar .nav-main a {
  color: rgba(228, 231, 237, 0.75);
}

.sidebar-inverse #sidebar .nav-main a:hover, .sidebar-inverse #sidebar .nav-main a:focus, .sidebar-inverse #sidebar .nav-main a.active {
  color: #fff;
}
.sidebar-inverse #sidebar .nav-main a:hover > i, .sidebar-inverse #sidebar .nav-main a:focus > i, .sidebar-inverse #sidebar .nav-main a.active > i {
  color: #3f9ce8;
}
.sidebar-inverse #sidebar .nav-main li.open > a.nav-submenu {
  color: #fff;
}


#page-container.page-header-modern .main-inverse #page-header{
  background-color: #2d3238
}
.main-inverse .btn-dual-secondary{
  color: #e4e7ed;
}
.main-inverse .btn-dual-secondary:hover, .main-inverse .btn-dual-secondary:focus, .main-inverse .btn-dual-secondary.focus {
    color: #e4e7ed;
    background-color: #444c53;
    border-color: #444c53;
    box-shadow: none;
}
.main-inverse .overlay-header{
  background-color: #2d3238;
}
.main-inverse .form-control{
  background-color: #3e454c;
  border: 1px solid rgba(228, 231, 237, 0.35);
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse .btn-secondary {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse .btn-secondary:hover, .main-inverse .btn-secondary:focus, .main-inverse .btn-secondary.focus{
  color: #212529;
  background-color: #cbd2dd;
  border-color: #adb8c8;
}
.main-inverse #search-bar .dropdown-search.open-dropdown{
  background: #2d3238;
}
.main-inverse #search-bar .dropdown-search.open-dropdown .dropdown-item{
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse #search-bar .dropdown-search.open-dropdown .dropdown-item:hover, .main-inverse #search-bar .dropdown-search.open-dropdown .dropdown-item:focus {
    color: rgba(228, 231, 237, 0.75);
    text-decoration: none;
    background-color: #3e454c;
}
.main-inverse .dropdown-menu{
  background-color: #2d3238;
  border: 1px solid rgba(228, 231, 237, 0.35);
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse h1, .main-inverse h2, .main-inverse h3, .main-inverse h4, .main-inverse h5, .main-inverse h6, .main-inverse .h1, .main-inverse .h2, .main-inverse .h3, .main-inverse .h4, .main-inverse .h5, .main-inverse .h6 {
    color: rgba(255, 255, 255, 0.75);
}
.main-inverse .dropdown-item{
  background-color: #2d3238;
}
.main-inverse .dropdown-item {
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse .dropdown-item:hover, .main-inverse .dropdown-item:focus {
    text-decoration: none;
    background-color: #3e454c;
}
.main-inverse .text-body-color-dark {
  background-image: url(../images/bg-pattern.png) !important;
   
}
.main-inverse a.text-body-color-dark:hover, .main-inverse a.text-body-color-dark:focus {
  background-image: url(../images/bg-pattern.png) !important;
    background-color: #3e454c;
}
.main-inverse .border-b {
    border-bottom: 1px solid rgba(228, 231, 237, 0.35) !important;
}
.main-inverse .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .breadcrumb.bg-white{
  background-color: #2d3238 !important;
}
.main-inverse .breadcrumb-item.active {
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse .block-yellow > :not(:first-child),
.main-inverse .block-blue > :not(:first-child),
.main-inverse .block-green2 > :not(:first-child){
  color: #86939e;
}
.main-inverse .block-yellow > .text-muted,
.main-inverse .block-blue > .text-muted,
.main-inverse .block-green2 > .text-muted{
  color: rgba(248, 248, 249, 0.75) !important;
}
.main-inverse .block{
  background-color: #3e454c;
}
.main-inverse .block-header-default {
    background-color: #2d3238;
}
.main-inverse .table-bordered th, .main-inverse .table-bordered td {
    border: 1px solid rgba(228, 231, 237, 0.35);
    border-top: 1px solid rgba(228, 231, 237, 0.35) !important;
}
.main-inverse .table-bordered {
    border: none;
}
.main-inverse .table .thead-light th{
  background-color: #2d3238;
  color: rgba(228, 231, 237, 0.75);
}
.main-inverse .bg-gray-cell {
  background-color: #2d3238;
}
.main-inverse .status-notif{
  color: #fff;
  background-color: #3f9ce8;
}
.main-inverse .custom-file-label {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
/*.main-inverse #data-rumah-negara .table-action,
.main-inverse #data-gedung .table-action,
.main-inverse #data-tanah .table-action*/
.main-inverse .table-action {
  background-color: #2d3238;
}
.main-inverse small{
  color: rgba(228, 231, 237, 0.75);
}
/*.main-inverse .custom-file-label:after {
    background-color: #2d3238;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}*/
table thead tr{
  background-color: #2d3238;
}
.main-inverse .status-notif.read {
    background: #3e454c;
    color: rgba(228, 231, 237, 0.75);
}
.main-inverse .si{
  color: #fff;
}
.main-inverse p {
  color: #fff;
}
.modal-default.modal-inverse .modal-content{
  background-color: #565a5f;
}
.modal-default.modal-inverse .modal-title{
  color: #fff;
}
.modal-default.modal-inverse .modal-footer{
  border-top: 0;
}
.modal-default.modal-inverse .block{
  background-color: #3e454c;
}
.modal-default.modal-inverse .form-control {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
}
.modal-default.modal-inverse .select2-container--default .select2-selection--single, 
.modal-default.modal-inverse .select2-dropdown,
.modal-default.modal-inverse .select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #3e454c;
    border: 1px solid rgba(228, 231, 237, 0.35);
    color: rgba(228, 231, 237, 0.75);
    border-radius: 4px;
}
body.body-inverse .select2-dropdown {
    color: rgba(228, 231, 237, 0.75);
    background-color: #3e454c;
    border-color: #787e84;
}
body.body-inverse .select2-container--default .select2-results__option--highlighted[aria-selected],
body.body-inverse .select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #505962;
    color: rgba(228, 231, 237, 0.75);
}
.modal-default.modal-inverse .select2-container--default .select2-selection--single .select2-selection__rendered{
  color: rgba(228, 231, 237, 0.75);
}
body.body-inverse .select2-container--default .select2-search--dropdown .select2-search__field{
  background: #3e454c;
  border-color: #787e84;
}
body.body-inverse .modal-default.modal-inverse .css-switch .css-control-input ~ .css-control-indicator{
  background-color: #1a2a39;
}
body.body-inverse .modal-default.modal-inverse .css-switch.css-control-primary .css-control-input:checked ~ .css-control-indicator{
  background-color: #225f91;
}
body.body-inverse .css-switch .css-control-input ~ .css-control-indicator{
  background-color: #798188;
}
body.body-inverse .css-switch.css-control-primary .css-control-input:checked ~ .css-control-indicator{
  background-color: #1b1f23;
}
.main-inverse .page-item.disabled .page-link{
  background-color: #2d3238;
  color: rgba(228, 231, 237, 0.75);
  border: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #225f91;
    border: 1px solid rgba(228, 231, 237, 0.35);
}
.main-inverse .page-link{
  background-color: #3d444b;
  color: rgba(228, 231, 237, 0.75);
  border: 1px solid rgba(228, 231, 237, 0.35);
}
.sidebar-inverse #sidebar .nav-main a:hover, .sidebar-inverse #sidebar .nav-main a:focus, .sidebar-inverse #sidebar .nav-main a.active{
  color: rgba(228, 231, 237, 0.75);
}
.sidebar-inverse #sidebar .nav-main a i{
  color: rgba(228, 231, 237, 0.75);
}
.sidebar-inverse #sidebar .nav-main a:hover i, .sidebar-inverse #sidebar .nav-main a:focus i, .sidebar-inverse #sidebar .nav-main a.active i{
  color: #3f9ce8;
}
.sidebar-inverse .nav-main label {
    color: rgba(228, 231, 237, 0.75);
}
.sidebar-inverse #sidebar .nav-main a > i {
  color: #e4e7ed;
}
.sidebar-inverse #sidebar .nav-main li.open > a.nav-submenu > i {
  color: #3f9ce8;
}
.sidebar-inverse #sidebar .nav-main li.open > ul {
  background-color: #2d3238;
}
.page-header-inverse #page-header .text-dual-primary-dark,
.sidebar-inverse #sidebar .text-dual-primary-dark {
  color: #e4e7ed !important;
}

.modal-content{
  background: #555f67;
}

.modal-content table thead tr {
    background-color: #5f7c80;
}
.modal-title{
  color: rgba(228, 231, 237, 0.75);
}

.page-header-inverse #page-header a.text-dual-primary-dark.link-effect::before,
.sidebar-inverse #sidebar a.text-dual-primary-dark.link-effect::before {
  background-color: #e4e7ed;
}

.page-header-inverse #page-header a.text-dual-primary-dark:hover, .page-header-inverse #page-header a.text-dual-primary-dark:focus,
.sidebar-inverse #sidebar a.text-dual-primary-dark:hover,
.sidebar-inverse #sidebar a.text-dual-primary-dark:focus {
  color: #a7b2c4 !important;
}
.sidebar-inverse #sidebar .simplebar-scrollbar::before {
  background: #c8e2f8;
}

.main-inverse .block.notification .table-active, .table-active > th, .table-active > td {
    background-color: #555d65;
}
.main-inverse .block.notification .table th, .table td, .table th {
    border-top: 1px solid #696e77;
}
.main-inverse .block.notification td > a.font-w600{
  color: #fff;
}
.main-inverse .block.notification td > .text-muted {
    color: #919ba5 !important;
}
.main-inverse .notif-header{
  padding-left: 15px;
}
.main-inverse .notif-header .btn-success{
  background-color: #3e454c;
      border: 1px solid rgba(228, 231, 237, 0.35);
      color: rgba(228, 231, 237, 0.75);
}
.main-inverse .block.notification .table-hover .table-active:hover > td, .main-inverse .block.notification .table-hover .table-active:hover > th {
    background-color: #555d65;
}
.main-inverse .notif-admin > .dropdown-menu .table-active{
  background-color: #555d65;
}