<template>
    <div class="modal fade" role="dialog" id="modal-pemilihan-perwakilan-kendaraan">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Pembuatan Pengajuan Penghapusan
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">

                        <div class="row">

                            <div class="col-md-6">

                                <fieldset>
                                    <legend class="mt-4 mb-3">Detail Penghapusan</legend>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Kategori Pengajuan Penghapusan
                                            <button type="button" class="btn btn-circle btn-sm btn-primary ml-3 mb-1"
                                                    v-tooltip="{
                                                content: msg,
                                                placement: 'right'
                                            }"><i class="fa fa-info"></i>
                                            </button>
                                        </label>
                                        <select class="form-control" v-model="item.kategori_penghapusan_id">
                                            <option value="">-- pilih Kategori Pengajuan Penghapusan --</option>
                                            <template
                                                v-for="kategoriPengajuanPenghapusan in kategoriPengajuanPenghapusans">
                                                <option :value="kategoriPengajuanPenghapusan.id">{{
                                                    kategoriPengajuanPenghapusan.name }}
                                                </option>
                                            </template>
                                        </select>
                                        <error-reference v-if="errors.kategori_penghapusan_id"
                                                         :message="errors.kategori_penghapusan_id[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            No Surat Pengajuan Penghapusan
                                        </label>
                                        <input type="text" class="form-control" v-model="item.no_pengajuan_penghapusan"
                                               placeholder="Enter no surat pengajuan penghapusan here"/>
                                        <error-reference v-if="errors.no_pengajuan_penghapusan"
                                                         :message="errors.no_pengajuan_penghapusan[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Alasan Pengajuan Penghapusan
                                        </label>
                                        <textarea class="form-control" v-model="item.alasan_kategori_penghapusan"
                                                  placeholder="Enter alasan kategori penghapusan here"></textarea>
                                        <error-reference v-if="errors.alasan_kategori_penghapusan"
                                                         :message="errors.alasan_kategori_penghapusan[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            No SK Panitia Penghapusan
                                        </label>
                                        <input type="text" class="form-control" v-model="item.no_sk_kepala_perwakilan"
                                               placeholder="Enter no sk panitia penghapusan here"/>
                                        <error-reference v-if="errors.no_sk_kepala_perwakilan"
                                                         :message="errors.no_sk_kepala_perwakilan[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Keterangan Pengajuan Penghapusan
                                        </label>
                                        <textarea class="form-control" v-model="item.keterangan"
                                                  placeholder="Enter keterangan here"></textarea>
                                        <error-reference v-if="errors.keterangan"
                                                         :message="errors.keterangan[0]"></error-reference>
                                    </div>

                                </fieldset>

                                <fieldset class="mt-4">
                                    <legend class="mt-4 mb-3">Berita Acara Penelitian</legend>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            No Berita Acara
                                        </label>
                                        <input type="text" class="form-control" v-model="item.no_berita_acara"
                                               placeholder="Enter no berita acara here"/>
                                        <error-reference v-if="errors.no_berita_acara"
                                                         :message="errors.no_berita_acara[0]"></error-reference>
                                    </div>

                                </fieldset>

                                <fieldset class="mt-4">
                                    <legend class="mt-4 mb-3">Surat Pernyataan Signature</legend>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Nama
                                        </label>
                                        <input type="text" class="form-control" v-model="suratPernyataanSignature.nama"
                                               placeholder="Enter nama here"/>
                                        <error-reference v-if="errors.nama"
                                                         :message="errors.nama[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            NIP
                                        </label>
                                        <input type="text" class="form-control" v-model="suratPernyataanSignature.nip"
                                               placeholder="Enter nip here"/>
                                        <error-reference v-if="errors.nip"
                                                         :message="errors.nip[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Pangkat / Gol
                                        </label>
                                        <input type="text" class="form-control"
                                               v-model="suratPernyataanSignature.pangkat"
                                               placeholder="Enter pangkat / golongan here"/>
                                        <error-reference v-if="errors.pangkat"
                                                         :message="errors.pangkat[0]"></error-reference>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Jabatan
                                        </label>
                                        <input type="text" class="form-control"
                                               v-model="suratPernyataanSignature.jabatan"
                                               placeholder="Enter jabatan here"/>
                                        <error-reference v-if="errors.jabatan"
                                                         :message="errors.jabatan[0]"></error-reference>
                                    </div>

                                </fieldset>

                            </div>

                            <div class="col-md-6">
                                <fieldset>
                                    <legend class="mt-4 mb-3">Susunan Panitia</legend>

                                    <error-reference v-if="errors.susunan_panitia"
                                                     :message="errors.susunan_panitia[0]"></error-reference>

                                    <template v-for="(anggota, index) in susunanPanitia">
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Nama
                                            </label>
                                            <input type="text" class="form-control" v-model="anggota.nama"
                                                   placeholder="Enter nama here"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Jabatan/NIP
                                            </label>
                                            <input type="text" class="form-control" v-model="anggota.jabatan_nip"
                                                   placeholder="Enter jabatan nip here"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label mb-2">
                                                Jabatan Tim Panitia
                                            </label>
                                            <input type="text" class="form-control"
                                                   v-model="anggota.jabatan_tim_panitia"
                                                   placeholder="Enter jabatan tim panitia here"/>
                                        </div>
                                        <button type="button" class="btn btn-circle btn-sm btn-danger"
                                                @click="removeAnggota(index)">
                                            <i
                                                class="fa fa-minus"/>
                                        </button>
                                        <hr/>
                                    </template>

                                    <button type="button" class="btn btn-circle btn-sm btn-primary" @click="addAnggota">
                                        <i
                                            class="fa fa-plus"/>
                                    </button>

                                </fieldset>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    legend {
        font-size: 1.2rem;
    }

    .btn.btn-circle.btn-sm, .btn-group-sm > .btn.btn-circle {
        padding: 1px 0;
        font-size: 14px;
        line-height: 1;
        border-radius: inherit;
        min-width: 25px;
        height: 25px;
    }

    .tooltip {
        display: block !important;
        z-index: 9999;
        opacity: 1;
    }

    .tooltip .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 20px;
        max-width: 450px;
    }

    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

    .tooltip[x-placement^="bottom"] .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="right"] {
        margin-left: 5px;
    }

    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    .tooltip[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }

</style>
<script>
    export default {
        props  : [],
        data() {
            return {
                msg                          : "Penjualan Tidak Secara lelang:<br/>" +
                    "Panitia dapat menjual langsung ke calon pembeli tanpa melalui badan/balai lelang resmi.<br/>" +
                    "<br/>" +
                    "Penjualan Secara Lelang:<br/>" +
                    "Panitia menjual melalui perantara badan/balai lelang resmi.<br/>" +
                    "<br/>" +
                    "Pemusnahan:<br/>" +
                    "Pemusnahan dengan dihancurkan/scrap melalui perusahaan penyedia jasa pemusnah/penghancur barang.",
                kategoriPengajuanPenghapusans: [],
                item                         : {},
                susunanPanitia               : [],
                suratPernyataanSignature     : {},
                loading                      : false,
                errors                       : [],
                base_url                     : base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-create-penghapusan') {
                    this.initialProcess();
                    this.getAutoCompletePengajuanPenghapusan();
                    this.getKategoriPengajuanPenghapusan();

                    $('#modal-create-penghapusan').modal("show");
                }
            },
            getAutoCompletePengajuanPenghapusan() {

            },
            addAnggota() {
                this.susunanPanitia.push({
                    nama               : "",
                    jabatan_nip        : "Staf Tata Usaha",
                    jabatan_tim_panitia: "Anggota",
                });
            },
            removeAnggota(index) {
                this.susunanPanitia.splice(index, 1);
            },
            getKategoriPengajuanPenghapusan() {
                axios.get(window.base_url + '/admin/api/kategori-pengajuan-penghapusan/dropdown').then(response => {
                    this.kategoriPengajuanPenghapusans = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            initialProcess() {
                this.item = {
                    kategori_penghapusan_id         : '',
                    no_pengajuan_penghapusan        : '',
                    alasan_kategori_penghapusan     : '',
                    keterangan_pengajuan_penghapusan: '',
                    no_berita_acara                 : '',
                };

                this.susunanPanitia           = [];
                this.suratPernyataanSignature = {
                    nama   : '',
                    nip    : '',
                    pangkat: '',
                    jabatan: '',
                };
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('no_sk_kepala_perwakilan', this.item.no_sk_kepala_perwakilan);
                formData.append('kategori_penghapusan_id', this.item.kategori_penghapusan_id);
                formData.append('no_pengajuan_penghapusan', this.item.no_pengajuan_penghapusan);
                formData.append('alasan_kategori_penghapusan', this.item.alasan_kategori_penghapusan);
                formData.append('keterangan_pengajuan_penghapusan', this.item.keterangan_pengajuan_penghapusan);
                formData.append('no_berita_acara', this.item.no_berita_acara);
                formData.append('susunan_panitia', JSON.stringify(this.susunanPanitia));
                formData.append('nama', this.suratPernyataanSignature.nama);
                formData.append('nip', this.suratPernyataanSignature.nip);
                formData.append('pangkat', this.suratPernyataanSignature.pangkat);
                formData.append('jabatan', this.suratPernyataanSignature.jabatan);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/create', formData).then(response => {
                    this.loading = false;
                    this.initialProcess();
                    this.$root.makeNotification('New Pengajuan Penghapusan has been added!', 'ok');
                    window.location.href = window.base_url + '/admin/pengajuan-penghapusan-kendaraan/detail/' + response.data.data.id;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-create-penghapusan').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
