<template>
    <div>
        <div class="open-sidebar"><i class="fa fa-angle-right"></i></div>
        <div class="sidebar-maps">
            <div>
                <div class="search-map">
                    <div class="input-group">
                        <div id="search-bar-filter" class="search-input d-inline-block">
                            <input type="text" class="form-control"
                                   aria-label="" placeholder="Search" id="cari-menu-filter">
                            <div class="dropdown-search-filter">
                                <a href="#" class="dropdown-item no-hide open-country"><i class="fa fa-home mr-3"></i>Rumah
                                    Negara</a>
                                <a href="#" class="dropdown-item no-hide open-country"><i class="fa fa-building mr-3"></i>Gedung</a>
                            </div>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                            <a href="#" class="close-list-maps"><span class="input-group-text"><i class="fa fa-times"></i></span></a>
                        </div>
                    </div>
                </div>
                <div class="content-filter-maps">
                    <div id="scrollbar" class="h-scroll">
                        <button class="hero-header fade-in">
                            <img :src="base_url + '/assets/images/kemlu.jpg'" class="img-fluid">
                            <div class="left-container-image-info">
                                <div class="left-container-image-info-subtitle">
                                    <h5>GOVERNMENT OFFICE</h5>
                                </div>
                                <h3>KEMENTERIAN LUAR NEGERI REPUBLIK INDONESIA</h3>
                            </div>
                        </button>
                        <div class="px-4 pb-4">
                            <div class='dnSlide-main'>
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                            </div>
                        </div>
                        <div class="info-hoverable">
                            <a href="#" class="p-3">
                                <h3>Address</h3>
                                <div>Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                            </a>
                            <a href="#" class="p-3">
                                <h3>Contact</h3>
                                <div>(021) 3441508</div>
                                <div>subdit3.ditkum@kemlu.go.id</div>
                                <div>https://www.kemlu.go.id</div>
                            </a>
                        </div>
                        <div class="divider"></div>
                        <div class="action-maps">
                            <div class="row d-flex justify-content-center m-0">
                                <div class="col-3 py-2">
                                    <a href="">
                                        <div class="d-flex card flex-column">
                                            <div class="img text-center mb-2">
                                                <img :src="base_url + '/assets/svg/save.svg'" alt=""
                                                     height="40" width="45">
                                            </div>
                                            <div class="blue-button-text text-center">Save</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 py-2">
                                    <a href="">
                                        <div class="d-flex card flex-column">
                                            <div class="img text-center mb-2">
                                                <img :src="base_url + '/assets/svg/nearby.svg'" alt=""
                                                     height="40" width="45">
                                            </div>
                                            <div class="blue-button-text text-center">Nearby</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 py-2">
                                    <a href="">
                                        <div class="d-flex card flex-column">
                                            <div class="img text-center mb-2">
                                                <img :src="base_url + '/assets/svg/save-to-phone.svg'" alt=""
                                                     height="40" width="45">
                                            </div>
                                            <div class="blue-button-text text-center">Send To Your Phone</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-3 py-2">
                                    <a href="">
                                        <div class="d-flex card flex-column">
                                            <div class="img text-center mb-2">
                                                <img :src="base_url + '/assets/svg/share.svg'" alt=""
                                                     height="40" width="45">
                                            </div>
                                            <div class="blue-button-text text-center">Share</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="subheader mb-4">
                            <h2 class="subheader-header">People also search for</h2>
                        </div>
                        <div class="img-container">
                            <div class="row px-75">
                                <div class="col-12 px-1 mb-3">
                                    <a href="#" class="d-block">
                                        <div class="media w-100">
                                            <img class=""
                                                 :src="base_url + '/assets/images/jakarta2.png'"
                                                 alt="" width="140">
                                            <div class="media-body px-2">
                                                <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                                <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 px-1 mb-3">
                                    <a href="#" class="d-block">
                                        <div class="media w-100">
                                            <img class=""
                                                 :src="base_url + '/assets/images/jakarta2.png'"
                                                 alt="" width="140">
                                            <div class="media-body px-2">
                                                <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                                <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 px-1 mb-3">
                                    <a href="#" class="d-block">
                                        <div class="media w-100">
                                            <img class=""
                                                 :src="base_url + '/assets/images/jakarta2.png'"
                                                 alt="" width="140">
                                            <div class="media-body px-2">
                                                <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                                <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 px-1 mb-3">
                                    <a href="#" class="d-block">
                                        <div class="media w-100">
                                            <img class=""
                                                 :src="base_url + '/assets/images/jakarta2.png'"
                                                 alt="" width="140">
                                            <div class="media-body px-2">
                                                <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                                <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <button class="btn btn-secondary btn-sm my-3" id="view-list-more">
                                <span>View More</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content-list-maps">
                    <div id="scrollbar" class="info-hoverable h-scroll">
                        <a href="#" class="p-3 close-list-maps">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/images/jakarta2.png'"
                                     alt="" width="140">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                    <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                </div>
                            </div>
                            <div class="action-maps m-0 p-0 mt-3">
                                <div class="row d-flex justify-content-around m-0">
                                    <div class="col-4 py-2">
                                        <a href="">
                                            <div class="media">
                                                <div class="img text-center mb-2">
                                                    <img :src="base_url + '/assets/svg/land.svg'" alt=""
                                                         height="40" width="45">
                                                </div>
                                                <div class="media-body text-center h-100">
                                                    <div class="amount-list">150</div>
                                                    <div class="blue-button-text text-center three-icon">Land</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 py-2">
                                        <a href="">
                                            <div class="media">
                                                <div class="img text-center mb-2">
                                                    <img :src="base_url + '/assets/svg/building.svg'" alt=""
                                                         height="40" width="45">
                                                </div>
                                                <div class="media-body text-center h-100">
                                                    <div class="amount-list">50</div>
                                                    <div class="blue-button-text text-center three-icon">Building</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-4 py-2">
                                        <a href="">
                                            <div class="media">
                                                <div class="img text-center mb-2">
                                                    <img :src="base_url + '/assets/svg/car.svg'" alt=""
                                                         height="40" width="45">
                                                </div>
                                                <div class="media-body text-center h-100">
                                                    <div class="amount-list">100</div>
                                                    <div class="blue-button-text text-center three-icon">Car</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row mt-3 justify-content-center">
                                <div class="col-3">
                                    <div class="media text-center flex-column">
                                        <img :src="base_path + 'assets/images/tanah-icon.png'" alt="" class="w-75 mx-auto">
                                        <div class="media-body w-100 mt-2">
                                            150
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="media text-center flex-column">
                                        <img :src="base_path + 'assets/images/kendaraan-icon.png'" alt="" class="w-75 mx-auto">
                                        <div class="media-body w-100 mt-2">
                                            50
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="media text-center flex-column">
                                        <img :src="base_path + 'assets/images/gedung-icon.png'" alt="" class="w-75 mx-auto">
                                        <div class="media-body w-100 mt-2">
                                            250
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </a>
                        <a href="#" class="p-3 close-list-maps">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/images/jakarta2.png'"
                                     alt="" width="140">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                    <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="p-3 close-list-maps">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/images/jakarta2.png'"
                                     alt="" width="140">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                    <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="p-3 close-list-maps">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/images/jakarta2.png'"
                                     alt="" width="140">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                    <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="p-3 close-list-maps">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/images/jakarta2.png'"
                                     alt="" width="140">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                    <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="p-3 close-list-maps">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/images/jakarta2.png'"
                                     alt="" width="140">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Sekretariat Jendral Kementrian Luar Negeri</div>
                                    <div class="related-place-category">Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="content-filter-country">
                    <div class="form-group row mx-0 input-country">
                        <label class="col-12 mb-2" for="example-select">Select Continent</label>
                        <div class="col-12">
                            <select class="form-control" id="example-select" name="example-select">
                                <option value="0">Please select</option>
                                <option value="1">Asia</option>
                                <option value="2">Australia</option>
                                <option value="3">North America</option>
                                <option value="4">South America</option>
                                <option value="5">Europe</option>
                                <option value="6">Africa</option>
                            </select>
                        </div>
                    </div>
                    <div class="filter-country p-0 h-scroll h-country" id="scrollbar">
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="img-container d-block py-2 list-detail-country">
                            <div class="media w-100">
                                <img class="mr-2"
                                     :src="base_url + '/assets/svg/indonesia.svg'"
                                     alt="" height="25">
                                <div class="media-body px-2">
                                    <div class="related-place-title">Indonesia</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},
        data() {
            return {
                center         : {lat: 10.0, lng: 10.0},
                markers        : [{
                    position: {
                        lat: 10.0, lng: 10.0,
                    }
                }, {
                    position: {lat: 11.0, lng: 11.0}
                }],
                markers2       : [{
                    position: {
                        lat: 22.22, lng: 22.22,
                    }
                }, {
                    position: {lat: 23.23, lng: 23.23}
                }, {
                    position: {lat: 24.23, lng: 24.23}
                }],
                showMarkerInfo : false,
                showMarkerInfo2: false,
                showMarkerInfo3: false,
                showMarkerInfo4: false,
                colors         : ['#FF0000', '#00FF00', '#0000FF', '#FFFF00'],
                polygons       : [],
                paths          : [],
                fushionTables  : [],
                loading        : false,
                errors         : [],
                base_url       : base_url,
                base_path      : base_path
            }
        },
        computed  : {
        },
        methods   : {
        },
        mounted   : function () {
            this.$nextTick(function () {
            }.bind(this));
        },
    }
</script>