<template>
    <div>
        <div class="bottom-menu">
            <button class="bottom-button" id="chart-open">
                <div class="bottom-menu-icon p-4">
                    <img :src="base_url + '/assets/svg/arrow-chart.svg'" alt width="30" class="c-arrow"/>
                    <img :src="base_url + '/assets/svg/maps.svg'" alt width="30" class="c-maps"/>
                </div>
            </button>
        </div>
        <div class="open-sidebar"  style="width:5%;"  @mouseover="sidebarClass()"  v-bind:class="{ active: isActive }">
            <i class="fa fa-search"></i>

        </div>
        <div class="sidebar-maps" v-bind:class="{ active: isActive }">
            <div>
                <div class="search-map">
                    <div class="input-group">
                        <div id="search-bar-filter" class="search-input d-inline-block">
                            <input
                                type="text"
                                class="form-control"
                                v-model="filterText"
                                aria-label
                                placeholder="Pencarian"
                                id="cari-menu-filter"
                            />

                            <!-- <div class="dropdown-search-filter">
                                              <a href="#" class="dropdown-item no-hide open-country"><img
                                                      :src="base_url + '/assets/svg/indonesia.svg'" height="15" class="mr-2" alt="">Indonesia</a>
                            </div>-->
                        </div>
                        <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search"></i>
              </span>
                            <a href="#" class="close-list-maps" v-on:click="backOneStep()">
                <span class="input-group-text">
                  <i class="fa fa-times"></i>
                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content-filter-maps" v-show="step == 'detail-satker'">
                    <div id="scrollbar" class="h-scroll">
                        <button class="hero-header fade-in">
                            <img :src="selectedSatker.main_photo" class="img-fluid"/>
                            <div class="left-container-image-info">
                                <div class="left-container-image-info-subtitle">
                                    <h5>GOVERNMENT OFFICE</h5>
                                </div>
                                <h3>{{ selectedSatker.nama_satker }}</h3>
                            </div>
                        </button>
                        <div class="px-4 py-4 d-flex justify-content-center">
                            <!-- <div class='dnSlide-main'>
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                                              <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%">
                            </div>-->
                            <div class="owl-carousel" id="owl-slider-filter">
                                <template v-for="pf in selectedSatker.photo_files">
                                    <div class="item">
                                        <img :src="pf.file.full_url" width="100%"/>
                                    </div>
                                </template>
                            </div>
                            <!--  <div class="owl-slider" id="owl-slider-filter">
                                 <div class="item">
                                   <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%" />
                                 </div>
                                 <div class="item">
                                   <img :src="base_url + '/assets/images/kemenlu.jpg'" width="100%" />
                                 </div>
                             </div> -->
                        </div>
                        <div class="row d-flex justify-content-around mx-0 my-4 detail-amount">
                            <div class="col-4 py-2" style="padding-right: 7.5px">
                                <!-- <a href="">
                                                    <div class="media">
                                                        <div class="img text-center mb-2">
                                                            <img :src="base_url + '/assets/svg/land-w.svg'" alt=""
                                                                 height="40" width="45">
                                                        </div>
                                                        <div class="media-body text-center h-100">
                                                            <div class="amount-list">
                                                                {{ selectedSatker.land_count | formatCurrencyOrder }}
                                                            </div>
                                                            <div class="blue-button-text text-center three-icon">
                                                                Tanah
                                                            </div>
                                                        </div>
                                                    </div>
                                </a>-->
                                <a href="javascript:void(0)" class="btn-effect effect-land teal">
                                    <div class="media">
                                        <div class="img text-center mb-2">
                                            <img :src="base_url + '/assets/svg/land-w.svg'" alt height="40" width="45"/>
                                        </div>
                                        <div class="media-body text-center h-100">
                                            <div class="amount-list">{{ selectedSatker.land_count | formatCurrencyOrder
                                                }}
                                            </div>
                                            <div class="blue-button-text text-center three-icon">Tanah</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-4 py-2" style="padding-left: 7.5px;padding-right: 7.5px">
                                <a href="javascript:void(0)" class="btn-effect effect-building teal">
                                    <div class="media">
                                        <div class="img text-center mb-2">
                                            <img
                                                :src="base_url + '/assets/svg/building-w.svg'"
                                                alt
                                                height="40"
                                                width="45"
                                            />
                                        </div>
                                        <div class="media-body text-center h-100">
                                            <div
                                                class="amount-list"
                                            >{{ selectedSatker.building_count | formatCurrencyOrder }}
                                            </div>
                                            <div class="blue-button-text text-center three-icon">Bangunan</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-4 py-2" style="padding-left: 7.5px;">
                                <a href="javascript:void(0)" class="btn-effect effect-car teal">
                                    <div class="media">
                                        <div class="img text-center mb-2">
                                            <img :src="base_url + '/assets/svg/car-w.svg'" alt height="40" width="45"/>
                                        </div>
                                        <div class="media-body text-center h-100">
                                            <div class="amount-list">{{ selectedSatker.car_count | formatCurrencyOrder
                                                }}
                                            </div>
                                            <div class="blue-button-text text-center three-icon">Mobilitas</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="info-hoverable">
                            <a href="#" class="p-3">
                                <h3>Address</h3>
                                <div>{{ selectedSatker.alamat }}</div>
                            </a>
                            <a href="#" class="p-3">
                                <h3>Contact</h3>
                                <div>{{ selectedSatker.phone }}</div>
                                <div>{{ selectedSatker.email }}</div>
                            </a>
                        </div>
                        <div class="divider"></div>
                        <!--                        <div class="action-maps">-->
                        <!--                            <div class="row d-flex justify-content-center m-0">-->
                        <!--                                <div class="col-3 py-2">-->
                        <!--                                    <a href="">-->
                        <!--                                        <div class="d-flex card flex-column">-->
                        <!--                                            <div class="img text-center mb-2">-->
                        <!--                                                <img :src="base_url + '/assets/svg/save.svg'" alt=""-->
                        <!--                                                     height="40" width="45">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="blue-button-text text-center">Save</div>-->
                        <!--                                        </div>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-3 py-2">-->
                        <!--                                    <a href="">-->
                        <!--                                        <div class="d-flex card flex-column">-->
                        <!--                                            <div class="img text-center mb-2">-->
                        <!--                                                <img :src="base_url + '/assets/svg/nearby.svg'" alt=""-->
                        <!--                                                     height="40" width="45">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="blue-button-text text-center">Nearby</div>-->
                        <!--                                        </div>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-3 py-2">-->
                        <!--                                    <a href="">-->
                        <!--                                        <div class="d-flex card flex-column">-->
                        <!--                                            <div class="img text-center mb-2">-->
                        <!--                                                <img :src="base_url + '/assets/svg/save-to-phone.svg'" alt=""-->
                        <!--                                                     height="40" width="45">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="blue-button-text text-center">Send To Your Phone</div>-->
                        <!--                                        </div>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                                <div class="col-3 py-2">-->
                        <!--                                    <a href="">-->
                        <!--                                        <div class="d-flex card flex-column">-->
                        <!--                                            <div class="img text-center mb-2">-->
                        <!--                                                <img :src="base_url + '/assets/svg/share.svg'" alt=""-->
                        <!--                                                     height="40" width="45">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="blue-button-text text-center">Share</div>-->
                        <!--                                        </div>-->
                        <!--                                    </a>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="divider"></div>-->
                        <div class="subheader mb-4">
                            <h2 class="subheader-header">List Bangunan</h2>
                        </div>
                        <div class="img-container list-search">
                            <div class="row px-75">
                                <template v-for="building in selectedSatker.gedungs">
                                    <div class="col-12 px-1 mb-3">
                                        <a href="#" class="d-block">
                                            <div class="row">
                                                <div class="col-10 pr-0">
                                                    <div class="media w-100">
                                                        <img
                                                            class="mr-2 img-list-maps"
                                                            :src="building.main_photo"
                                                            alt
                                                            width="105"
                                                        />
                                                        <div class="media-body px-2">
                                                            <div class="related-place-title">{{ building.nama_barang
                                                                }}
                                                            </div>
                                                            <div class="related-place-category">
                                                                {{ building.jalan }},
                                                                {{ building.uraian_kota }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2 pl-0 d-flex align-items-center">
                                                    <img
                                                        :src="base_url + '/assets/svg/building.svg'"
                                                        alt
                                                        height="40"
                                                        width="45"
                                                    />
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </template>
                                <template v-for="building in selectedSatker.rumahs">
                                    <div class="col-12 px-1 mb-3">
                                        <a href="#" class="d-block">
                                            <div class="row">
                                                <div class="col-10 pr-0">
                                                    <div class="media w-100">
                                                        <img
                                                            class="mr-2 img-list-maps"
                                                            :src="building.main_photo"
                                                            alt
                                                            width="105"
                                                        />
                                                        <div class="media-body px-2">
                                                            <div class="related-place-title">{{ building.nama_barang
                                                                }}
                                                            </div>
                                                            <div class="related-place-category">
                                                                {{ building.jalan }},
                                                                {{ building.uraian_kota }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2 pl-0 d-flex align-items-center">
                                                    <img
                                                        :src="base_url + '/assets/svg/building.svg'"
                                                        alt
                                                        height="40"
                                                        width="45"
                                                    />
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </template>
                                <template v-for="building in selectedSatker.tanahs">
                                    <div class="col-12 px-1 mb-3">
                                        <a href="#" class="d-block">
                                            <div class="row">
                                                <div class="col-10 pr-0">
                                                    <div class="media w-100">
                                                        <img
                                                            class="mr-2 img-list-maps"
                                                            :src="building.main_photo"
                                                            alt
                                                            width="105"
                                                        />
                                                        <div class="media-body px-2">
                                                            <div class="related-place-title">{{ building.nama_barang
                                                                }}
                                                            </div>
                                                            <div class="related-place-category">
                                                                {{ building.alamat }},
                                                                {{ building.kota }},
                                                                {{ building.provinsi }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2 pl-0 d-flex align-items-center">
                                                    <img :src="base_url + '/assets/svg/land.svg'" alt height="40"
                                                         width="45"/>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <!--                        <div class="row d-flex justify-content-center">-->
                        <!--                            <button class="btn btn-secondary btn-sm my-3" id="view-list-more">-->
                        <!--                                <span>View More</span>-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="content-list-maps" v-show="step == 'asset'">
                    <div id="scrollbar" class="info-hoverable h-scroll">
                        <template v-for="asset in assets">
                            <a
                                href="#"
                                v-on:click="changeAsset(asset.kode_barang, asset.id)"
                                class="p-3 close-list-maps open-detail-satker"
                            >
                                <div class="media w-100">
                                    <img class="mr-2 img-list-maps" :src="asset.main_photo" alt width="140"/>
                                    <div class="media-body px-2">
                                        <div class="related-place-title">
                                            <!--                                            {{ asset.nama_satker }}-->
                                        </div>
                                        <div class="related-place-category">
                                            <!--                                            {{ satker.alamat }}-->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                </div>
                <div class="content-list-maps" v-show="step == 'satker'">
                    <div class="row mt-3 p-3">
                        <div class="col-12">
                            <div class="tabs tabs-list-satker">
                                <div class="tab">
                                    <input type="checkbox" id="pusatCollapse" class="collapse-list"/>
                                    <div id="scrollbar" class="info-hoverable h-scroll">
                                            <template v-for="satker in satkers">
                                                <template>
                                                    <a href="#" v-on:click="changeSatker(satker)" class="d-block p-2">
                                                        <div class="media w-100 d-flex align-items-center">
                                                            <div class="media-body px-2">
                                                                <div class="related-place-title">{{ satker.nama_satker
                                                                    }}
                                                                </div>
                                                                <div class="related-place-category">{{ satker.alamat
                                                                    }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </template>
                                            </template>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" v-on:click="changeSatker(satker)"
                                 class="p-3 close-list-maps open-detail-satker">
                                  <div class="media w-100">
                                      <img class="mr-2 img-list-maps"
                                           :src="satker.main_photo"
                                           alt="" width="140">
                                      <div class="media-body px-2">
                                          <div class="related-place-title">
                                              {{ satker.nama_satker }}
                                          </div>
                                          <div class="related-place-category">
                                              {{ satker.alamat }}
                                          </div>
                                      </div>
                                  </div>
                                  <div class="action-maps m-0 p-0 mt-3">
                                      <div class="row d-flex justify-content-around m-0">
                                          <div class="col-4 py-2">
                                              <a href="">
                                                  <div class="media">
                                                      <div class="img text-center mb-2">
                                                          <img :src="base_url + '/assets/svg/land.svg'" alt=""
                                                               height="40" width="45">
                                                      </div>
                                                      <div class="media-body text-center h-100">
                                                          <div class="amount-list">{{ satker.land_count }}</div>
                                                          <div class="blue-button-text text-center three-icon">
                                                              Tanah
                                                          </div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                          <div class="col-4 py-2">
                                              <a href="">
                                                  <div class="media">
                                                      <div class="img text-center mb-2">
                                                          <img :src="base_url + '/assets/svg/building.svg'" alt=""
                                                               height="40" width="45">
                                                      </div>
                                                      <div class="media-body text-center h-100">
                                                          <div class="amount-list">{{ satker.building_count }}</div>
                                                          <div class="blue-button-text text-center three-icon">
                                                              Bangunan
                                                          </div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                          <div class="col-4 py-2">
                                              <a href="">
                                                  <div class="media">
                                                      <div class="img text-center mb-2">
                                                          <img :src="base_url + '/assets/svg/car.svg'" alt=""
                                                               height="40" width="45">
                                                      </div>
                                                      <div class="media-body text-center h-100">
                                                          <div class="amount-list">{{ satker.car_count }}</div>
                                                          <div class="blue-button-text text-center three-icon">
                                                              Mobilitas
                                                          </div>
                                                      </div>
                                                  </div>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                    </a>-->
                </div>
                <div class="content-filter-country" v-show="step == 'country'">
                    <div class="form-group row mx-0 input-country">
                        <label class="col-12 mb-2" for="example-select">Pilih Benua</label>
                        <div class="col-12">
                            <select
                                class="form-control"
                                id="example-select"
                                name="example-select"
                                v-model="selectedContinent"
                            >
                                <option value>silahkan pilih benua</option>
                                <template v-for="continent in continents">
                                    <option :value="continent.slug">{{ continent.name }}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="filter-country p-0 h-scroll h-country" id="scrollbar">
                        <template v-for="country in countries">
                            <a
                                href="#"
                                v-on:click="changeCountry(country.slug)"
                                class="img-container d-block py-2 list-detail-country"
                            >
                                <div class="media w-100">
                                    <img
                                        class="mr-2"
                                        :src="base_url + '/assets/flag/png/' + country.slug + '.png'"
                                        alt
                                        height="25"
                                    />
                                    <div class="media-body px-2">
                                        <div class="related-place-title">{{ country.name }}</div>
                                    </div>
                                </div>
                            </a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped="">
    .img-list-maps {
        width: 140px;
        height: 95px;
        object-fit: cover;
    }

    .tabs > .tab .h-scroll {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tabs > .tab:nth-child(1) .h-scroll {
        max-height: calc(100vh - 210px);
    }

    .tabs > .tab:nth-child(2) .h-scroll {
        max-height: calc(100vh - 245px);
    }

    .tabs > .tab:nth-child(3) .h-scroll {
        max-height: calc(100vh - 280px);
    }

    .tabs > .tab:nth-child(4) .h-scroll {
        max-height: calc(100vh - 315px);
    }

    .tabs > .tab:nth-child(5) .h-scroll {
        max-height: calc(100vh - 350px);
    }

    .tabs > .tab:nth-child(6) .h-scroll {
        max-height: calc(100vh - 385px);
    }

    .img-list-flag {
        width: 66px;
        height: 36px;
        object-fit: cover;
        border-radius: 6px;
    }

    .owl-slider-filter {
        width: 80%;
    }

    .item {
        width: 100%;
        height: auto;
    }

    .tab-content > a:hover {
        background: #272727;
    }

    input.collapse-list {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .row {
        display: flex;
    }

    .row .col {
        flex: 1;
    }

    .row .col:last-child {
        margin-left: 1em;
    }

    /* Accordion styles */
    .tabs {
        border-radius: 8px;
        overflow: hidden;
        /*box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);*/
    }

    .tab {
        width: 100%;
        color: white;
        overflow: hidden;
    }

    .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        font-weight: 500;
        cursor: pointer;
        /* Icon */
    }

    /*.tab-label:hover {
            background: #1a252f;
        }*/

    .tab-label::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }

    .tab-content {
        max-height: 0;
        padding: 0 1em;
        transition: all 0.35s;
    }

    .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: #2c3e50;
        cursor: pointer;
    }

    .tab-close:hover {
        background: #1a252f;
    }

    /*input:checked + .tab-label {
            background: #1a252f;
        }*/

    input:checked + .tab-label::after {
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
        position: relative;
        top: 5px;
    }

    input:checked ~ .tab-content {
        max-height: 100vh;
        padding: 0;
    }
</style>

<script>
    export default {
        props     : ["darkmodefront"],
        components: {},
        data() {
            return {
                center           : {lat: 10.0, lng: 10.0},
                markers          : [
                    {
                        position: {
                            lat: 10.0,
                            lng: 10.0
                        }
                    },
                    {
                        position: {lat: 11.0, lng: 11.0}
                    }
                ],
                markers2         : [
                    {
                        position: {
                            lat: 22.22,
                            lng: 22.22
                        }
                    },
                    {
                        position: {lat: 23.23, lng: 23.23}
                    },
                    {
                        position: {lat: 24.23, lng: 24.23}
                    }
                ],
                isActive         : false,
                continents       : [],
                countries        : [],
                satkers          : [],
                assets           : [],
                filterText       : "",
                selectedContinent: "",
                selectedCountry  : "",
                selectedSatker   : "",
                step             : "satker",
                showMarkerInfo   : false,
                showMarkerInfo2  : false,
                showMarkerInfo3  : false,
                showMarkerInfo4  : false,
                colors           : ["#FF0000", "#00FF00", "#0000FF", "#FFFF00"],
                polygons         : [],
                paths            : [],
                fushionTables    : [],
                loading          : false,
                errors           : [],
                base_url         : base_url,
                base_path        : base_path
            };
        },
        computed  : {},
        watch     : {
            filterText(newVal, oldVal) {
                switch (this.step) {
                    case "country":
                        this.getCountries(this.selectedContinent, newVal);
                        break;
                    case "satker":
                        this.getSatkers(this.selectedCountry, newVal);
                        break;
                    case "detail-satker":
                        break;
                }
            },
            selectedContinent(newVal, oldVal) {
                this.getCountries(newVal);
            }
            // selectedCountry(newVal, oldVal) {
            //     this.getSatkers(newVal);
            //     window.eventHub.$emit('maps-refresh-country', newVal);
            // },
        },
        methods   : {
            sidebarClass() {
                this.isActive = !this.isActive;
            },
            backOneStep         : function () {
                this.filterText = "";
                switch (this.step) {
                    // case "satker":
                    //     window.eventHub.$emit('maps-back-step', 'country');
                    //     this.step            = 'country';
                    //     this.selectedCountry = "";
                    //     this.getCountries(this.selectedContinent);
                    //     break;
                    case "detail-satker":
                        window.eventHub.$emit("maps-back-step", "satker");
                        this.step           = "satker";
                        this.selectedSatker = "";
                        // this.getSatkers(this.selectedCountry);
                        this.getSatkers();
                        break;
                }
            },
            changeCountry       : function (country) {
                this.changeCountryFromMap(country);

                window.eventHub.$emit("maps-change-country", country);
            },
            changeCountryFromMap: function (country) {
                this.filterText      = "";
                this.step            = "satker";
                this.selectedCountry = country;
                this.getSatkers(country);
            },
            changeSatker        : function (satker) {
                this.changeSatkerFromMap(satker);
                window.eventHub.$emit("maps-change-satker", satker);
            },
            changeSatkerFromMap : function (satker) {
                this.filterText     = "";
                this.step           = "detail-satker";
                this.selectedSatker = satker;
            },
            changeAsset         : function (selectedAsset) {
                this.changeAssetFromMap(selectedAsset);
                window.eventHub.$emit("maps-change-asset", selectedAsset);
            },
            changeAssetFromMap  : function (selectedAsset) {
                this.filterText    = "";
                this.step          = "asset";
                this.selectedAsset = selectedAsset;
            },
            getContinents() {
                this.continents = [];
                axios.get(this.base_url + "/api/continents").then(
                    response => {
                        this.loading    = false;
                        this.continents = response.data;
                    },
                    error => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification(
                                "There is an unknown error. Please contact admin!",
                                "Oops",
                                "danger"
                            );
                        }
                    }
                );
            },
            getCountries(slugContinent = "") {
                this.countries = [];
                axios
                    .get(
                        this.base_url +
                        "/api/countries?slug=" +
                        slugContinent +
                        "&search=" +
                        this.filterText
                    )
                    .then(
                        response => {
                            this.loading   = false;
                            this.countries = response.data;
                        },
                        error => {
                            this.loading = false;
                            if (error.response.status == 422) {
                                this.errors = error.response.data.errors;
                            } else {
                                this.$root.makeNotification(
                                    "There is an unknown error. Please contact admin!",
                                    "Oops",
                                    "danger"
                                );
                            }
                        }
                    );
            },
            getSatkers(slugCountry = "") {
                var route         = this.base_url + "/api/satkers?search=" + this.filterText;
                var tmpFilterText = this.filterText;

                if (slugCountry != "")
                    route =
                        this.base_url +
                        "/api/satkers?slug=" +
                        slugCountry +
                        "&search=" +
                        this.filterText;

                this.satkers = [];
                axios.get(route).then(
                    response => {
                        this.loading = false;
                        if (tmpFilterText == this.filterText)
                            this.satkers = response.data;
                    },
                    error => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification(
                                "There is an unknown error. Please contact admin!",
                                "Oops",
                                "danger"
                            );
                        }
                    }
                );
            }
        },
        mounted   : function () {
            this.$nextTick(
                function () {
                    this.getContinents();
                    this.getCountries();
                    this.getSatkers();

                    window.eventHub.$on(
                        "maps-filter-change-country",
                        this.changeCountryFromMap
                    );
                    window.eventHub.$on(
                        "maps-filter-change-satker",
                        this.changeSatkerFromMap
                    );
                    window.eventHub.$on(
                        "maps-filter-change-asset",
                        this.changeAssetFromMap
                    );
                }.bind(this)
            );
        }
    };
</script>
