<template>
    <div class="content-chart">
        <div class="bg-pattern bg-black-op-10">
            <div class="content text-center">
                <div class="py-30 px-10">
                    <div class="mb-15">
                        <img class="img-avatar img-avatar96 img-avatar-thumb"
                             :src="base_path + 'assets/images/chart-title.png'" alt="">
                    </div>
                    <h1 class="font-w700 text-white mb-10">
                        <template v-if="selectedSatker.nama_satker">
                            {{ selectedSatker.nama_satker }}
                        </template>
                        <template v-else>
                            SUMMARY
                        </template>
                    </h1>
                </div>
            </div>
        </div>
        <div class="content p-0 bg-black-op-10">
            <div class="row d-flex justify-content-center">
                <div class="col-11">
                    <div class="row">
                        <div class="col-xl-12 no-pad">
                            <div class="row js-appear-enabled animated fadeIn" data-toggle="appear">
                                <div class="col-6 col-xl-4">
                                    <a class="block block-link-shadow text-right" href="javascript:void(0)">
                                        <div class="block-yellow block-content block-content-full clearfix">
                                            <div class="float-left mt-10 d-none d-sm-block">
                                                <template v-if="darkmodefront == '1'">
                                                    <img :src="base_path + 'assets/svg/land.svg'" alt="">
                                                </template>
                                                <template v-else>
                                                    <img :src="base_path + 'assets/svg/land-w.svg'" alt="">
                                                </template>
                                            </div>
                                            <div class="font-size-h3 font-w600 js-count-to-enabled"
                                                 data-toggle="countTo"
                                                 data-speed="1000" :data-to="totalTanah">{{ totalTanah |
                                                formatCurrencyOrder }}
                                            </div>
                                            <div class="font-size-sm font-w600 text-uppercase text-muted">Tanah</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-xl-4">
                                    <a class="block block-link-shadow text-right" href="javascript:void(0)">
                                        <div class="block-blue block-content block-content-full clearfix">
                                            <div class="float-left mt-10 d-none d-sm-block">
                                                <template v-if="darkmodefront == '1'">
                                                    <img :src="base_path + 'assets/svg/building.svg'" alt="">
                                                </template>
                                                <template v-else>
                                                    <img :src="base_path + 'assets/svg/building-w.svg'" alt="">
                                                </template>
                                            </div>
                                            <div class="font-size-h3 font-w600"><span data-toggle="countTo"
                                                                                      data-speed="1000"
                                                                                      :data-to="totalBangunan"
                                                                                      class="js-count-to-enabled">{{ totalBangunan | formatCurrencyOrder }}</span>
                                            </div>
                                            <div class="font-size-sm font-w600 text-uppercase text-muted">Bangunan</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6 col-xl-4">
                                    <a class="block block-link-shadow text-right" href="javascript:void(0)">
                                        <div class="block-green2 block-content block-content-full clearfix">
                                            <div class="float-left mt-10 d-none d-sm-block">
                                                <template v-if="darkmodefront == '1'">
                                                    <img :src="base_path + 'assets/svg/car.svg'" alt="">
                                                </template>
                                                <template v-else>
                                                    <img :src="base_path + 'assets/svg/car-w.svg'" alt="">
                                                </template>
                                            </div>
                                            <div class="font-size-h3 font-w600 js-count-to-enabled"
                                                 data-toggle="countTo"
                                                 data-speed="1000" :data-to="totalMobilitas">
                                                {{ totalMobilitas | formatCurrencyOrder }}
                                            </div>
                                            <div class="font-size-sm font-w600 text-uppercase text-muted">
                                                Mobilitas
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Summary Keseluruhan Aset</h3>
                                                            <div class="block-options">s
                                                                <button type="button" class="js-pie-randomize btn-block-option"
                                                                        data-toggle="tooltip" title="Randomize">
                                                                    <i class="fa fa-random"></i>
                                                                </button>
                                                            </div>
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="BarChart"
                                                :data="summaryAllBar"
                                                :options="barOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--            <div class="col-xl-4">-->
                        <!--                <div class="block">-->
                        <!--                    <div class="block-header block-header-default">-->
                        <!--                        <h3 class="block-title">Tanah</h3>-->
                        <!--                        <div class="block-options">-->
                        <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                        <!--                                    data-toggle="tooltip" title="Randomize">-->
                        <!--                                <i class="fa fa-random"></i>-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <!--                    <div class="block-content">-->
                        <!--                        <div class="row items-push-2x text-center">-->
                        <!--                            <div class="col-12">-->
                        <!--                                <GChart-->
                        <!--                                    type="BarChart"-->
                        <!--                                    :data="summaryTanahBar"-->
                        <!--                                    :options="barTanahOptions"-->
                        <!--                                />-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <!--                </div>-->
                        <!--            </div>-->
                        <div class="col-xl-4">
                            <!-- Avatar -->
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Bangunan</h3>
                                    <!--                        <div class="block-options">-->
                                    <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                                    <!--                                    data-toggle="tooltip" title="Randomize">-->
                                    <!--                                <i class="fa fa-random"></i>-->
                                    <!--                            </button>-->
                                    <!--                        </div>-->
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="BarChart"
                                                :data="summaryBangunanBar"
                                                :options="barBangunanOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Avatar -->
                        </div>

                        <div class="col-xl-4">
                            <!-- Avatar -->
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Mobilitas</h3>
                                    <!--                        <div class="block-options">-->
                                    <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                                    <!--                                    data-toggle="tooltip" title="Randomize">-->
                                    <!--                                <i class="fa fa-random"></i>-->
                                    <!--                            </button>-->
                                    <!--                        </div>-->
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="BarChart"
                                                :data="summaryMobilitasBar"
                                                :options="barMobilitasOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Avatar -->
                        </div>

                        <div class="col-xl-4">
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Kendaraan Berdasarkan Usia</h3>
                                    <!--                        <div class="block-options">-->
                                    <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                                    <!--                                    data-toggle="tooltip" title="Randomize">-->
                                    <!--                                <i class="fa fa-random"></i>-->
                                    <!--                            </button>-->
                                    <!--                        </div>-->
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="BarChart"
                                                :data="summaryKendaraanUsia"
                                                :options="barKendaraanUsiaOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4">
                            <!-- Avatar -->
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Pembagian Kendaraan</h3>
                                    <!--                        <div class="block-options">-->
                                    <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                                    <!--                                    data-toggle="tooltip" title="Randomize">-->
                                    <!--                                <i class="fa fa-random"></i>-->
                                    <!--                            </button>-->
                                    <!--                        </div>-->
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="PieChart"
                                                :data="summaryKendaraanRoda"
                                                :options="sliceOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Avatar -->
                        </div>

                        <div class="col-xl-4">
                            <!-- Avatar -->
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Kendaraan Roda 4 / Lebih</h3>
                                    <!--                        <div class="block-options">-->
                                    <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                                    <!--                                    data-toggle="tooltip" title="Randomize">-->
                                    <!--                                <i class="fa fa-random"></i>-->
                                    <!--                            </button>-->
                                    <!--                        </div>-->
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="BarChart"
                                                :data="summaryKendaraanRodaEmpat"
                                                :options="barKendaraanRodaOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Avatar -->
                        </div>

                        <div class="col-xl-4">
                            <!-- Avatar -->
                            <div class="block">
                                <div class="block-header block-header-default">
                                    <h3 class="block-title">Kendaraan Roda < 4</h3>
                                    <!--                        <div class="block-options">-->
                                    <!--                            <button type="button" class="js-pie-randomize btn-block-option"-->
                                    <!--                                    data-toggle="tooltip" title="Randomize">-->
                                    <!--                                <i class="fa fa-random"></i>-->
                                    <!--                            </button>-->
                                    <!--                        </div>-->
                                </div>
                                <div class="block-content">
                                    <div class="row items-push-2x text-center">
                                        <div class="col-12">
                                            <GChart
                                                type="BarChart"
                                                :data="summaryKendaraanRodaDua"
                                                :options="barKendaraanRodaOptions"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Avatar -->
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<style>
    /*.content-chart .content-heading{
        margin-top: 1rem;
        margin-bottom: .75rem;
        border: none;
    }*/
    /*.content-chart .content-heading .media-body{
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: nowrap;
        overflow: hidden;
        overflow-wrap: break-word;
    }*/
    .content-chart .block {
        background-color: rgba(255, 255, 0255, .6);
    }

    .content-chart .block .block-content {
        padding: 0;
    }

    .content-chart .no-pad .block .block-content {
        padding: 20px 20px 20px;
    }

    .content-chart .no-pad .block .block-content {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .block-yellow {
        border-left: 5px solid #f3c436;
    }

    .block-blue {
        border-left: 5px solid #4e72e2;
    }

    .block-green2 {
        border-left: 5px solid #38b6cc;
    }

    .block-green {
        border-left: 5px solid #1bc98a;
    }

    /*.google-visualization-tooltip {
      border:solid 1px #bdbdbd;
      border-radius: 2px;
      background-color: red !important;
      position: absolute;
      box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
      font-size: 12px;
      padding: 0px;
      -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
      -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
    }

    .google-visualization-tooltip > path {
        fill: red !important;
    }*/


</style>

<script>
    export default {
        props     : ['darkmodefront'],
        components: {},
        data() {
            return {
                summary                : {},
                geoData                : [
                    ['City', 'Population'],
                    ['Indonesia', 1132411],
                    ['Viet Nam', 632411],
                    ['Singapore', 759574],
                    ['Malaysia', 559574],
                    ['Taiwan', 759574],
                    ['Japan', 959574],
                ],
                geoOptions             : {
                    region             : '035',
                    displayMode        : 'markers',
                    colorAxis          : {colors: ['green', 'blue', 'orange', 'red']},
                    backgroundColor    : {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                    datalessRegionColor: '#b9d7b5',
                    defaultColor       : '#f5f5f5',
                    height             : 500,
                    chartArea          : {
                        left  : 10,
                        right : 10, // !!! works !!!
                        bottom: 0,  // !!! works !!!
                        top   : 0,
                        width : "100%",
                        height: "100%"
                    },
                },
                donutData              : [
                    ['Task', 'Hours per Day'],
                    ['Work', 11],
                    ['Eat', 2],
                    ['Commute', 2],
                    ['Watch TV', 2],
                    ['Sleep', 7]
                ],
                donutOptions           : {
                    chart          : {
                        title   : 'Company Performance',
                        subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                    },
                    legend         : {'position': 'bottom', 'alignment': 'center'},
                    pieHole        : 0.4,
                    height         : 400,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                sliceOptions           : {
                    chart          : {
                        title   : 'Pembagian Kendaraan',
                        subtitle: 'Berdasarkan Roda',
                    },
                    legend         : {'position': 'top', 'alignment': 'center'},
                    is3D           : true,
                    pieSliceText   : 'label',
                    slices         : {
                        0: {offset: 0.2},
                        1: {offset: 0.2},
                    },
                    height         : 300,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                barOptions             : {
                    chart          : {
                        title   : 'Summary Keseluruhan Aset',
                        subtitle: 'Berdasarkan kondisi aset',
                    },
                    bars           : 'horizontal',
                    height         : 500,
                    colors         : ['#3366cc', '#ff9900', '#dc3912'],
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                barTanahOptions        : {
                    chart          : {
                        title   : 'Summary Aset Tanah',
                        subtitle: 'Berdasarkan kondisi aset',
                    },
                    bars           : 'horizontal',
                    legend         : 'none',
                    height         : 300,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                barBangunanOptions     : {
                    chart          : {
                        title   : 'Summary Aset Bangunan',
                        subtitle: 'Berdasarkan kondisi aset',
                    },
                    bars           : 'horizontal',
                    legend         : 'none',
                    height         : 300,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                barMobilitasOptions    : {
                    chart          : {
                        title   : 'Summary Aset Mobilitas',
                        subtitle: 'Berdasarkan kondisi aset',
                    },
                    bars           : 'horizontal',
                    legend         : 'none',
                    height         : 300,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                barKendaraanUsiaOptions: {
                    chart          : {
                        title   : 'Kendaraan Berdasarkan Usia',
                        subtitle: 'Summary Kendaraan berdasarkan usia',
                    },
                    bars           : 'horizontal',
                    legend         : 'none',
                    height         : 300,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },
                barKendaraanRodaOptions: {
                    chart          : {
                        title   : 'Summary Aset Kendaraan Roda',
                        subtitle: 'Berdasarkan kondisi aset dan roda',
                    },
                    bars           : 'horizontal',
                    legend         : 'none',
                    height         : 300,
                    backgroundColor: {
                        'fill'       : '#000',
                        'fillOpacity': 0
                    },
                },

                countries      : [],
                assets         : [],
                satkers        : [],
                selectedCountry: "",
                selectedSatker : "",
                step           : 'satker',
                polygons       : [],
                paths          : [],
                fushionTables  : [],
                loading        : false,
                errors         : [],
                base_url       : base_url,
                base_path      : base_path
            }
        },
        computed  : {
            totalTanah               : function () {
                var totalTanah = 0;

                if (this.summary)
                    if (this.summary.tanah)
                        totalTanah = parseFloat(this.summary.tanah.total);

                return totalTanah;
            },
            totalBangunan            : function () {
                var totalBangunan = 0;

                if (this.summary)
                    if (this.summary.bangunan)
                        totalBangunan = parseFloat(this.summary.bangunan.total);

                return totalBangunan;
            },
            totalMobilitas           : function () {
                var totalMobilitas = 0;

                if (this.summary)
                    if (this.summary.mobilitas)
                        totalMobilitas = parseFloat(this.summary.mobilitas.total);

                return totalMobilitas;
            },
            summaryTanahBar          : function () {
                var summaryTanah = [
                    ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                    ['Baik', 0, 0, '#3366cc'],            // RGB value
                    ['Rusak Ringan', 0, 0, '#ff9900'],            // English color name
                    ['Rusak Berat', 0, 0, '#dc3912'],
                ];

                if (this.summary)
                    if (this.summary.tanah)
                        summaryTanah = [
                            ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                            ['Baik', parseFloat(this.summary.tanah.total_baik), parseFloat(this.summary.tanah.total_baik), '#3366cc'],            // RGB value
                            ['Rusak Ringan', parseFloat(this.summary.tanah.total_rusak_ringan), parseFloat(this.summary.tanah.total_rusak_ringan), '#ff9900'],            // English color name
                            ['Rusak Berat', parseFloat(this.summary.tanah.total_rusak_berat), parseFloat(this.summary.tanah.total_rusak_berat), '#dc3912'],
                        ];

                return summaryTanah;
            },
            summaryBangunanBar       : function () {
                var summaryBangunan = [
                    ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                    ['Baik', 0, 0, '#3366cc'],            // RGB value
                    ['Rusak Ringan', 0, 0, '#ff9900'],            // English color name
                    ['Rusak Berat', 0, 0, '#dc3912'],
                ];

                if (this.summary)
                    if (this.summary.bangunan)
                        summaryBangunan = [
                            ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                            ['Baik', parseFloat(this.summary.bangunan.total_baik), parseFloat(this.summary.bangunan.total_baik), '#3366cc'],            // RGB value
                            ['Rusak Ringan', parseFloat(this.summary.bangunan.total_rusak_ringan), parseFloat(this.summary.bangunan.total_rusak_ringan), '#ff9900'],            // English color name
                            ['Rusak Berat', parseFloat(this.summary.bangunan.total_rusak_berat), parseFloat(this.summary.bangunan.total_rusak_berat), '#dc3912'],
                        ];

                return summaryBangunan;
            },
            summaryMobilitasBar      : function () {
                var summaryMobilitas = [
                    ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                    ['Baik', 0, 0, '#3366cc'],            // RGB value
                    ['Rusak Ringan', 0, 0, '#ff9900'],            // English color name
                    ['Rusak Berat', 0, 0, '#dc3912'],
                ];

                if (this.summary)
                    if (this.summary.mobilitas)
                        summaryMobilitas = [
                            ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                            ['Baik', parseFloat(this.summary.mobilitas.total_baik), parseFloat(this.summary.mobilitas.total_baik), '#3366cc'],            // RGB value
                            ['Rusak Ringan', parseFloat(this.summary.mobilitas.total_rusak_ringan), parseFloat(this.summary.mobilitas.total_rusak_ringan), '#ff9900'],            // English color name
                            ['Rusak Berat', parseFloat(this.summary.mobilitas.total_rusak_berat), parseFloat(this.summary.mobilitas.total_rusak_berat), '#dc3912'],
                        ];

                return summaryMobilitas;
            },
            summaryKendaraanUsia     : function () {
                var summaryKendaraanUsia = [
                    ['Usia', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                    ['0-5', 0, '#3366cc'],            // RGB value
                    ['6-10', 0, '#ff9900'],            // English color name
                    ['>10', 0, '#dc3912'],
                ];

                if (this.summary)
                    if (this.summary.mobilitas)
                        summaryKendaraanUsia = [
                            ['Usia', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                            ['0-5', parseFloat(this.summary.mobilitas.total_5_below), parseFloat(this.summary.mobilitas.total_5_below), '#3366cc'],            // RGB value
                            ['6-10', parseFloat(this.summary.mobilitas.total_5_to_10), parseFloat(this.summary.mobilitas.total_5_to_10), '#ff9900'],            // English color name
                            ['>10', parseFloat(this.summary.mobilitas.total_10_above), parseFloat(this.summary.mobilitas.total_10_above), '#dc3912'],
                        ];

                return summaryKendaraanUsia;
            },
            summaryKendaraanRoda     : function () {
                var summaryKendaraanRoda = [
                    ['Roda', 'Jumlah'],
                    ['Empat/Lebih : 0', 0],
                    ['< Empat : 0', 0],
                ];

                if (this.summary)
                    if (this.summary.mobilitas)
                        summaryKendaraanRoda = [
                            ['Roda', 'Jumlah'],
                            ['Empat/Lebih : ' + parseFloat(this.summary.mobilitas.total_empat), parseFloat(this.summary.mobilitas.total_empat)],
                            ['< Empat : ' + parseFloat(this.summary.mobilitas.total_dua), parseFloat(this.summary.mobilitas.total_dua)],
                        ];

                return summaryKendaraanRoda;
            },
            summaryKendaraanRodaEmpat: function () {
                var summaryKendaraanRoda = [
                    ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                    ['Baik', 0, 0, '#3366cc'],            // RGB value
                    ['Rusak Ringan', 0, 0, '#ff9900'],            // English color name
                    ['Rusak Berat', 0, 0, '#dc3912'],
                ];

                if (this.summary)
                    if (this.summary.mobilitas)
                        summaryKendaraanRoda = [
                            ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                            ['Baik', parseFloat(this.summary.mobilitas.total_empat_baik), parseFloat(this.summary.mobilitas.total_empat_baik), '#3366cc'],            // RGB value
                            ['Rusak Ringan', parseFloat(this.summary.mobilitas.total_empat_rusak_ringan), parseFloat(this.summary.mobilitas.total_empat_rusak_ringan), '#ff9900'],            // English color name
                            ['Rusak Berat', parseFloat(this.summary.mobilitas.total_empat_rusak_berat), parseFloat(this.summary.mobilitas.total_empat_rusak_berat), '#dc3912'],
                        ];

                return summaryKendaraanRoda;
            },
            summaryKendaraanRodaDua  : function () {
                var summaryKendaraanRoda = [
                    ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                    ['Baik', 0, 0, '#3366cc'],            // RGB value
                    ['Rusak Ringan', 0, 0, '#ff9900'],            // English color name
                    ['Rusak Berat', 0, 0, '#dc3912'],
                ];

                if (this.summary)
                    if (this.summary.mobilitas)
                        summaryKendaraanRoda = [
                            ['Kondisi', 'Jumlah', {role: "annotation"}, {role: 'style'}],
                            ['Baik', parseFloat(this.summary.mobilitas.total_dua_baik), parseFloat(this.summary.mobilitas.total_dua_baik), '#3366cc'],            // RGB value
                            ['Rusak Ringan', parseFloat(this.summary.mobilitas.total_dua_rusak_ringan), parseFloat(this.summary.mobilitas.total_dua_rusak_ringan), '#ff9900'],            // English color name
                            ['Rusak Berat', parseFloat(this.summary.mobilitas.total_dua_rusak_berat), parseFloat(this.summary.mobilitas.total_dua_rusak_berat), '#dc3912'],
                        ];

                return summaryKendaraanRoda;
            },
            summaryTanahPie          : function () {
                var summaryTanah = [
                    ['Kondisi', 'Jumlah'],
                    ['Baik : 0', 0],
                    ['Rusak Ringan : 0', 0],
                    ['Rusak Berat : 0', 0],
                ];

                if (this.summary)
                    if (this.summary.tanah)
                        summaryTanah = [
                            ['Kondisi', 'Jumlah'],
                            ['Baik : ' + parseFloat(this.summary.tanah.total_baik), parseFloat(this.summary.tanah.total_baik)],
                            ['Rusak Ringan : ' + parseFloat(this.summary.tanah.total_rusak_ringan), parseFloat(this.summary.tanah.total_rusak_ringan)],
                            ['Rusak Berat : ' + parseFloat(this.summary.tanah.total_rusak_berat), parseFloat(this.summary.tanah.total_rusak_berat)],
                        ];

                return summaryTanah;
            },
            summaryBangunanPie       : function () {
                var summaryBangunan = [
                    ['Kondisi', 'Jumlah'],
                    ['Baik : 0', 0],
                    ['Rusak Ringan : 0', 0],
                    ['Rusak Berat : 0', 0],
                ];

                if (this.summary)
                    if (this.summary.bangunan)
                        summaryBangunan = [
                            ['Kondisi', 'Jumlah'],
                            ['Baik : ' + parseFloat(this.summary.bangunan.total_baik), parseFloat(this.summary.bangunan.total_baik)],
                            ['Rusak Ringan : ' + parseFloat(this.summary.bangunan.total_rusak_ringan), parseFloat(this.summary.bangunan.total_rusak_ringan)],
                            ['Rusak Berat : ' + parseFloat(this.summary.bangunan.total_rusak_berat), parseFloat(this.summary.bangunan.total_rusak_berat)],
                        ];

                return summaryBangunan;
            },
            summaryMobilitasPie      : function () {
                var summaryMobilitas = [
                    ['Kondisi', 'Jumlah'],
                    ['Baik : 0', 0],
                    ['Rusak Ringan : 0', 0],
                    ['Rusak Berat : 0', 0],
                ];

                if (this.summary)
                    if (this.summary.mobilitas)
                        summaryMobilitas = [
                            ['Kondisi', 'Jumlah'],
                            ['Baik : ' + parseFloat(this.summary.mobilitas.total_baik), parseFloat(this.summary.mobilitas.total_baik)],
                            ['Rusak Ringan : ' + parseFloat(this.summary.mobilitas.total_rusak_ringan), parseFloat(this.summary.mobilitas.total_rusak_ringan)],
                            ['Rusak Berat : ' + parseFloat(this.summary.mobilitas.total_rusak_berat), parseFloat(this.summary.mobilitas.total_rusak_berat)],
                        ];

                return summaryMobilitas;
            },
            summaryAllBar            : function () {
                var summaryAllBar = [
                    ['Aset', 'Baik', {role: "annotation"}, 'Rusak Ringan', {role: "annotation"}, 'Rusak Berat', {role: "annotation"},],
                    ['Tanah', 0, 0, 0, 0, 0, 0],
                    ['Bangunan', 0, 0, 0, 0, 0, 0],
                    ['Mobilitas', 0, 0, 0, 0, 0, 0],
                ];

                if (this.summary)
                    if (this.summary.tanah && this.summary.bangunan && this.summary.mobilitas)
                        summaryAllBar = [
                            ['Aset', 'Baik', {role: "annotation"}, 'Rusak Ringan', {role: "annotation"}, 'Rusak Berat', {role: "annotation"},],
                            ['Tanah', parseFloat(this.summary.tanah.total_baik), parseFloat(this.summary.tanah.total_baik), parseFloat(this.summary.tanah.total_rusak_ringan), parseFloat(this.summary.tanah.total_rusak_ringan), parseFloat(this.summary.tanah.total_rusak_berat), parseFloat(this.summary.tanah.total_rusak_berat)],
                            ['Bangunan', parseFloat(this.summary.bangunan.total_baik), parseFloat(this.summary.bangunan.total_baik), parseFloat(this.summary.bangunan.total_rusak_ringan), parseFloat(this.summary.bangunan.total_rusak_ringan), parseFloat(this.summary.bangunan.total_rusak_berat), parseFloat(this.summary.bangunan.total_rusak_berat)],
                            ['Mobilitas', parseFloat(this.summary.mobilitas.total_baik), parseFloat(this.summary.mobilitas.total_baik), parseFloat(this.summary.mobilitas.total_rusak_ringan), parseFloat(this.summary.mobilitas.total_rusak_ringan), parseFloat(this.summary.mobilitas.total_rusak_berat), parseFloat(this.summary.mobilitas.total_rusak_berat)],
                        ];

                return summaryAllBar;
            }
        }
        ,
        methods   : {
            getAssetSummary() {
                var url = '/api/summary-asset';
                if (this.step == 'detail-satker') {
                    url += '/' + this.selectedSatker.kode_satker;
                }
                axios.get(this.base_url + url).then(response => {
                    this.loading = false;
                    this.summary = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            changeCountry(slugCountry) {
                this.selectedCountry = slugCountry;
                this.step            = 'satker';

                this.getAssetSummary();
            }
            ,
            changeSatker(satker) {
                this.selectedSatker = satker;
                this.step           = 'detail-satker';

                this.getAssetSummary();
            }
            ,
            backStep: function (destination) {
                this.step = destination;
                switch (destination) {
                    case "country":
                        this.selectedCountry = "";
                        this.selectedSatker  = "";
                        break;
                    case "satker":
                        this.selectedSatker = "";
                        this.selectedAsset  = "";
                        break;
                    case "asset":
                        this.selectedAsset = "";
                        break;
                }

                this.getAssetSummary();
            }
            ,
        }
        ,
        mounted   : function () {
            this.$nextTick(function () {
                this.getAssetSummary();

                window.eventHub.$on('maps-change-country', this.changeCountry);
                window.eventHub.$on('maps-change-satker', this.changeSatker);
                window.eventHub.$on('maps-back-step', this.backStep);
            }.bind(this));
        }
        ,
    }
</script>
