<template>
    <div>
        <GmapMap
            ref="mapKemlu"
            v-bind:center="{lat:-6.10, lng:106.73}"
            v-bind:zoom="2"
            v-bind:options="mapOptions"
            map-type-id="terrain"
            style="width: 100vw; height: calc(100vh - 75px)"
            @drag="handlerDrag"
        >
            <template v-if="step == 'satker'">
                <template v-if="satkers.length > 0">
                    <gmap-cluster :zoomOnClick="true" @click="resetPolygonFill()" ref="mapKemluClusterer">
                        <template v-for="(satker,index) in satkers">
                            <template v-if="satker.lat">
                                <gmap-custom-marker
                                    :key="index"
                                    :marker="{ lat: parseFloat(satker.lat), lng: parseFloat(satker.lng)}"
                                >
                                    <div class="z-marker">
                                        <div class="show-marker-info">
                                            <div class="marker-image gedung">
                                                <img
                                                    :src="base_path + 'assets/images/g-light.svg'"
                                                    width="25"
                                                    class="m-dark"
                                                />
                                                <img
                                                    :src="base_path + 'assets/images/g-light.svg'"
                                                    width="25"
                                                    class="m-light"
                                                />
                                            </div>
                                            <div class="card-info list-search card-info-list">
                                                <div class="content-list-maps mt-0">
                                                    <div class="arrow-info arrow-info-list"></div>
                                                    <div id="scrollbar" class="info-hoverable h-scroll">
                                                        <button class="hero-header fade-in mt-0">
                                                            <img :src="satker.main_photo" class="img-fluid"/>
                                                            <div class="left-container-image-info">
                                                                <div class="left-container-image-info-subtitle">
                                                                    <h5>GOVERNMENT OFFICE</h5>
                                                                </div>
                                                                <h3>{{ satker.nama_satker }}</h3>
                                                            </div>
                                                        </button>
                                                        <div
                                                            class="px-4 py-4 d-flex justify-content-center slider-maps">
                                                            <carousel :items="1" :dots="false" :nav="false"
                                                                      :autoplay="true">
                                                                <template v-for="pf in satker.photo_files">
                                                                    <img :src="pf.file.full_url" width="100%"/>
                                                                </template>
                                                            </carousel>
                                                        </div>
                                                        <div
                                                            class="row d-flex justify-content-around mx-0 my-4 detail-amount">
                                                            <div class="col-4 py-2" style="padding-right: 7.5px">
                                                                <!-- <a href="">
                                                                                    <div class="media">
                                                                                        <div class="img text-center mb-2">
                                                                                            <img :src="base_url + '/assets/svg/land-w.svg'" alt=""
                                                                                                 height="40" width="45">
                                                                                        </div>
                                                                                        <div class="media-body text-center h-100">
                                                                                            <div class="amount-list">
                                                                                                {{ satker.land_count | formatCurrencyOrder }}
                                                                                            </div>
                                                                                            <div class="blue-button-text text-center three-icon">
                                                                                                Tanah
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                </a>-->
                                                                <a href="javascript:void(0)"
                                                                   class="btn-effect effect-land teal"
                                                                   @click="toggleClass()"
                                                                   v-bind:class="{ active: isActive }">
                                                                    <div class="media">
                                                                        <div class="img text-center">
                                                                            <img
                                                                                :src="base_url + '/assets/svg/land-w.svg'"
                                                                                alt height="40" width="30"/>
                                                                        </div>
                                                                        <div class="media-body text-center h-100">
                                                                            <div class="amount-list mb-1">
                                                                                {{ satker.land_count |
                                                                                formatCurrencyOrder }}
                                                                            </div>
                                                                            <div
                                                                                class="blue-button-text text-center three-icon">
                                                                                Tanah
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-4 py-2"
                                                                 style="padding-left: 7.5px;padding-right: 7.5px">
                                                                <a href="javascript:void(0)"
                                                                   class="btn-effect effect-building teal"
                                                                   @click="toggleClassOne()"
                                                                   v-bind:class="{ active: isActiveOne }">
                                                                    <div class="media">
                                                                        <div class="img text-center">
                                                                            <img
                                                                                :src="base_url + '/assets/svg/building-w.svg'"
                                                                                alt
                                                                                height="40"
                                                                                width="30"
                                                                            />
                                                                        </div>
                                                                        <div class="media-body text-center h-100">
                                                                            <div class="amount-list mb-1">
                                                                                {{ satker.building_count |
                                                                                formatCurrencyOrder }}
                                                                            </div>
                                                                            <div
                                                                                class="blue-button-text text-center three-icon">
                                                                                Bangunan
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="col-4 py-2" style="padding-left: 7.5px;">
                                                                <a href="javascript:void(0)"
                                                                   class="btn-effect effect-car teal"
                                                                   @click="toggleClassTwo()"
                                                                   v-bind:class="{ active: isActiveTwo }">
                                                                    <div class="media">
                                                                        <div class="img text-center">
                                                                            <img
                                                                                :src="base_url + '/assets/svg/car-w.svg'"
                                                                                alt height="40" width="30"/>
                                                                        </div>
                                                                        <div class="media-body text-center h-100">
                                                                            <div class="amount-list mb-1">
                                                                                {{ satker.car_count |
                                                                                formatCurrencyOrder }}
                                                                            </div>
                                                                            <div
                                                                                class="blue-button-text text-center three-icon">
                                                                                Mobilitas
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-hoverable">
                                                            <a href="#" class="p-3">
                                                                <h3>Address</h3>
                                                                <div>{{ satker.alamat }}</div>
                                                            </a>
                                                            <a href="#" class="p-3">
                                                                <h3>Contact</h3>
                                                                <div>{{ satker.phone }}</div>
                                                                <div>{{ satker.email }}</div>
                                                            </a>
                                                        </div>
                                                        <!-- <template v-for="building in satker.gedungs">
                                                            <a href="#" class="p-3 close-list-maps">
                                                                <div class="row">
                                                                    <div class="col-10 pr-0">
                                                                        <div class="media w-100">
                                                                            <img
                                                                                class="mr-2"
                                                                                :src="base_url + '/assets/images/jakarta2.png'"
                                                                                alt
                                                                                width="105"
                                                                            />
                                                                            <div class="media-body px-2">
                                                                                <div class="related-place-title">{{
                                                                                    building.nama_barang }}
                                                                                </div>
                                                                                <div class="related-place-category">
                                                                                    {{ building.jalan }},
                                                                                    {{ building.uraian_kota }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2 pl-0 d-flex align-items-center">
                                                                        <img
                                                                            :src="base_url + '/assets/svg/building.svg'"
                                                                            alt
                                                                            height="40"
                                                                            width="45"
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </template>
                                                        <template v-for="building in satker.rumahs">
                                                            <a href="#" class="p-3 close-list-maps">
                                                                <div class="row">
                                                                    <div class="col-10 pr-0">
                                                                        <div class="media w-100">
                                                                            <img
                                                                                class="mr-2"
                                                                                :src="base_url + '/assets/images/jakarta2.png'"
                                                                                alt
                                                                                width="105"
                                                                            />
                                                                            <div class="media-body px-2">
                                                                                <div class="related-place-title">{{
                                                                                    building.nama_barang }}
                                                                                </div>
                                                                                <div class="related-place-category">
                                                                                    {{ building.jalan }},
                                                                                    {{ building.uraian_kota }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2 pl-0 d-flex align-items-center">
                                                                        <img
                                                                            :src="base_url + '/assets/svg/building.svg'"
                                                                            alt
                                                                            height="40"
                                                                            width="45"
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </template>
                                                        <template v-for="building in satker.tanahs">
                                                            <a href="#" class="p-3 close-list-maps">
                                                                <div class="row">
                                                                    <div class="col-10 pr-0">
                                                                        <div class="media w-100">
                                                                            <img
                                                                                class="mr-2"
                                                                                :src="base_url + '/assets/images/jakarta2.png'"
                                                                                alt
                                                                                width="105"
                                                                            />
                                                                            <div class="media-body px-2">
                                                                                <div class="related-place-title">{{
                                                                                    building.nama_barang }}
                                                                                </div>
                                                                                <div class="related-place-category">
                                                                                    {{ building.alamat }},
                                                                                    {{ building.kota }},
                                                                                    {{ building.provinsi }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2 pl-0 d-flex align-items-center">
                                                                        <img
                                                                            :src="base_url + '/assets/svg/land.svg'"
                                                                            alt
                                                                            height="40"
                                                                            width="45"
                                                                        />
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </template> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </gmap-custom-marker>
                            </template>
                        </template>
                    </gmap-cluster>
                </template>
            </template>
            <div v-if="step == 'detail-satker'">
                <template
                    v-if="(selectedSatker.tanahs.length + selectedSatker.gedungs.length + selectedSatker.rumahs.length) > 0"
                >
                    <gmap-cluster
                        :zoomOnClick="true"
                        @click="resetPolygonFill()"
                        ref="mapKemluClustererDetailSatker"
                    >
                        <template v-if="selectedSatker.tanahs.length > 0">
                            <template v-for="tanah in selectedSatker.tanahs">
                                <template v-if="tanah.lat">
                                    <gmap-custom-marker
                                        :marker="{ lat: parseFloat(tanah.lat), lng: parseFloat(tanah.lng)}"
                                    >
                                        <div class="z-marker">
                                            <div class="show-marker-info">
                                                <div class="marker-image gedung">
                                                    <img
                                                        :src="base_path + 'assets/images/t-light.svg'"
                                                        width="25"
                                                        class="m-dark"
                                                    />
                                                    <img
                                                        :src="base_path + 'assets/images/t-light.svg'"
                                                        width="25"
                                                        class="m-light"
                                                    />
                                                </div>
                                                <div class="card-info list-detail card-info-detail">
                                                    <div class="content-list-maps mt-0">
                                                        <div class="arrow-info arrow-info-detail"></div>
                                                        <div id="scrollbar" class="info-hoverable h-scroll">
                                                            <button class="hero-header fade-in mt-0">
                                                                <img :src="tanah.main_photo" class="img-fluid"/>
                                                                <div class="left-container-image-info">
                                                                    <div class="left-container-image-info-subtitle">
                                                                        <h5>{{ tanah.merk_type }}</h5>
                                                                    </div>
                                                                    <h3>{{ tanah.nama_barang }}</h3>
                                                                </div>
                                                            </button>
                                                            <div class="info-hoverable">
                                                                <a href="#" class="p-3">
                                                                    <h3>Address</h3>
                                                                    <div>
                                                                        {{ tanah.alamat }},
                                                                        {{ tanah.kota }},
                                                                        {{ tanah.provinsi }}
                                                                    </div>
                                                                </a>
                                                                <!--                                                            <a href="#" class="p-3">-->
                                                                <!--                                                                <h3>Contact</h3>-->
                                                                <!--                                                                <div>-->
                                                                <!--                                                                    {{ selectedSatker.phone }}-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                                <div>-->
                                                                <!--                                                                    {{ selectedSatker.email }}-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                            </a>-->
                                                            </div>
                                                            <div class="divider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </gmap-custom-marker>
                                </template>
                            </template>
                        </template>
                        <template v-if="selectedSatker.gedungs.length > 0">
                            <template v-for="gedung in selectedSatker.gedungs">
                                <template v-if="gedung.lat">
                                    <gmap-custom-marker
                                        :marker="{ lat: parseFloat(gedung.lat), lng: parseFloat(gedung.lng)}"
                                    >
                                        <div class="z-marker">
                                            <div class="show-marker-info">
                                                <div class="marker-image gedung">
                                                    <img
                                                        :src="base_path + 'assets/images/g-light.svg'"
                                                        width="25"
                                                        class="m-dark"
                                                    />
                                                    <img
                                                        :src="base_path + 'assets/images/g-light.svg'"
                                                        width="25"
                                                        class="m-light"
                                                    />
                                                </div>
                                                <div class="card-info list-detail card-info-detail">
                                                    <div class="content-list-maps mt-0">
                                                        <div class="arrow-info arrow-info-detail"></div>
                                                        <div id="scrollbar" class="info-hoverable h-scroll">
                                                            <button class="hero-header fade-in mt-0">
                                                                <img :src="gedung.main_photo" class="img-fluid"/>
                                                                <div class="left-container-image-info">
                                                                    <div class="left-container-image-info-subtitle">
                                                                        <h5>{{ gedung.merk_type }}</h5>
                                                                    </div>
                                                                    <h3>{{ gedung.nama_barang }}</h3>
                                                                </div>
                                                            </button>
                                                            <div class="info-hoverable">
                                                                <a href="#" class="p-3">
                                                                    <h3>Address</h3>
                                                                    <div>
                                                                        {{ gedung.jalan }},
                                                                        {{ gedung.uraian_kota }}
                                                                    </div>
                                                                </a>
                                                                <!--                                                            <a href="#" class="p-3">-->
                                                                <!--                                                                <h3>Contact</h3>-->
                                                                <!--                                                                <div>-->
                                                                <!--                                                                    {{ selectedSatker.phone }}-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                                <div>-->
                                                                <!--                                                                    {{ selectedSatker.email }}-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                            </a>-->
                                                            </div>
                                                            <div class="divider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </gmap-custom-marker>
                                </template>
                            </template>
                        </template>
                        <template v-if="selectedSatker.rumahs.length > 0">
                            <template v-for="rumah in selectedSatker.rumahs">
                                <template v-if="rumah.lat">
                                    <gmap-custom-marker
                                        :marker="{ lat: parseFloat(rumah.lat), lng: parseFloat(rumah.lng)}"
                                    >
                                        <div class="z-marker">
                                            <div class="show-marker-info">
                                                <div class="marker-image gedung">
                                                    <img
                                                        :src="base_path + 'assets/images/r-light.svg'"
                                                        width="25"
                                                        class="m-dark"
                                                    />
                                                    <img
                                                        :src="base_path + 'assets/images/r-light.svg'"
                                                        width="25"
                                                        class="m-light"
                                                    />
                                                </div>
                                                <div class="card-info list-detail card-info-detail">
                                                    <div class="content-list-maps mt-0">
                                                        <div class="arrow-info arrow-info-detail"></div>
                                                        <div id="scrollbar" class="info-hoverable h-scroll">
                                                            <button class="hero-header fade-in mt-0">
                                                                <img :src="rumah.main_photo" class="img-fluid"/>
                                                                <div class="left-container-image-info">
                                                                    <div class="left-container-image-info-subtitle">
                                                                        <h5>{{ rumah.merk_type }}</h5>
                                                                    </div>
                                                                    <h3>{{ rumah.nama_barang }}</h3>
                                                                </div>
                                                            </button>
                                                            <div class="info-hoverable">
                                                                <a href="#" class="p-3">
                                                                    <h3>Address</h3>
                                                                    <div>
                                                                        {{ rumah.jalan }},
                                                                        {{ rumah.uraian_kota }}
                                                                    </div>
                                                                </a>
                                                                <!--                                                            <a href="#" class="p-3">-->
                                                                <!--                                                                <h3>Contact</h3>-->
                                                                <!--                                                                <div>-->
                                                                <!--                                                                    {{ selectedSatker.phone }}-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                                <div>-->
                                                                <!--                                                                    {{ selectedSatker.email }}-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                            </a>-->
                                                            </div>
                                                            <div class="divider"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </gmap-custom-marker>
                                </template>
                            </template>
                        </template>
                    </gmap-cluster>
                </template>
            </div>
            <gmap-polygon
                :key="index"
                v-for="(polygon,index) in polygons"
                :paths="polygon.paths"
                :editable="false"
                :ref="'poly-' + index"
                :options="polygon.options"
                @click="changeCountry(polygon.name)"
                @paths_changed="updateEdited($event)"
                @mousemove="fillIn($event, index)"
                @mouseover="fillIn($event, index)"
                @mouseout="fillOut($event, index)"
            ></gmap-polygon>
        </GmapMap>
    </div>
</template>

<style>
    .card-info {
        /*width: 22rem;
              top: -16px;
              position: absolute;
              right: -24rem;
              box-shadow: rgba(88, 71, 71, 0.12) 0px 2px 6px 0px;
              opacity: 0;
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -ms-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;*/
        /*width: 25rem;*/
        width: 29rem;
        height: 500px;
        /*top: -182px;*/
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: absolute;
        padding-left: 3rem;
        /*right: -23rem;*/
        /*right: -27rem;*/
        padding: 15px; /* TAKIT: Changed here */
        top: 0px; /* TAKIT: Changed here */
        left: 0px;
        /*opacity: 0;*/
        /*-webkit-transition: all 0.1s ease-in-out;
              transition: all 0.1s ease-in-out;*/
        -webkit-box-shadow: 0;
        box-shadow: 0;
        z-index: -2;
        visibility: hidden;
    }

    /*.card-info::after {
            content: "";
            z-index: -1;
            height: 30px;
            left: 0;
            position: absolute;
            top: 145px;
            -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 30px;
            left: calc(50% - 1px / 2);
            left: 8px;
        }*/
    .arrow-info {
        z-index: -1;
        height: 20px;
        left: 0;
        position: absolute;
        top: 84px;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 20px;
        left: calc(50% - 1px / 2);
        left: 3px;
    }

    .card-info .content-list-maps {
        height: 100% !important;
        position: relative;
    }

    .z-marker-index {
        z-index: 51 !important;
    }

    .show-marker-info:hover > .card-info {
        visibility: visible;
    }

    .gm-style-pbt {
        right: 5rem;
        font-size: 22px;
        color: white;
        font-family: Roboto, Arial, sans-serif;
        position: absolute;
        margin: 0;
        top: unset;
        /* display: none; */
        bottom: 1rem;
        /* left: 50%; */
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .card-info .card {
        -webkit-box-shadow: rgba(88, 71, 71, 0.12) 0px 2px 6px 0px;
        box-shadow: rgba(88, 71, 71, 0.12) 0px 2px 6px 0px;
        border-radius: 5px;
    }

    .card-info .card > img {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .card-info .card-body .row {
        position: relative;
        z-index: 2;
    }

    .card-info.active {
        /*opacity: 1;*/
        display: block;
        z-index: 2;
    }

    .card-info .card-body .media-body {
        font-size: 14px;
    }

    /*.card-info .media img {
            width: 50%
        }*/

    .card-info h5 {
        font-size: 11px;
        /* line-height: 20px; */
        position: absolute;
    }

    .card-info .left-container-image-info-subtitle h5 {
        position: relative;
    }

    .card-info.list-detail h5 {
        position: relative;
    }

    .main-inverse .info-hoverable h3:before {
        display: none;
    }

    .card-info td {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding: 3px 0;
        border-top: none;
    }

    .card-info tr > td:first-child {
        width: 85px;
    }

    .card-info tr > td:nth-child(2) {
        padding: 3px 7px;
    }

    .card-info.list-detail {
        right: -31rem;
        height: 390px;
    }

    .card-info.list-detail #scrollbar > button img {
        width: 100%;
    }

    .owl-slider-maps {
        width: 80%;
    }

    .slider-maps > div {
        width: 80%
    }
</style>

<script>
    import GmapCustomMarker from "vue2-gmap-custom-marker";
    import GmapCluster from "vue2-google-maps/dist/components/cluster";
    import {gmapApi} from "vue2-google-maps";
    import carousel from "vue-owl-carousel";

    export default {
        props     : ["darkmodefront"],
        components: {
            "gmap-custom-marker": GmapCustomMarker,
            "gmap-cluster"      : GmapCluster,
            "carousel"          : carousel,
        },
        data() {
            return {
                center         : {lat: 10.0, lng: 10.0},
                mapOptions     : {
                    minZoom          : 2,
                    zoomControl      : true,
                    mapTypeControl   : false,
                    scaleControl     : false,
                    streetViewControl: false,
                    rotateControl    : false,
                    fullscreenControl: true,
                    disableDefaultUi : false,
                    setMapOnAll      : null,
                    gestureHandling  : "cooperative",
                },
                showMarkerInfo : false,
                isActive       : false,
                isActiveOne    : false,
                isActiveTwo    : false,
                countries      : [],
                assets         : [],
                satkers        : [],
                selectedCountry: "",
                selectedSatker : "",
                selectedAsset  : "",
                step           : "satker",
                polygons       : [],
                paths          : [],
                fushionTables  : [],
                loading        : false,
                errors         : [],
                base_url       : base_url,
                base_path      : base_path
            };
        },
        computed  : {
            google: gmapApi,
            colors: function () {
                if (this.darkmodefront == "1") {
                    return ["#FF0000", "#00FF00", "#0000FF", "#FFFF00"];
                }

                return ["#a0a5a9", "#2caf3c", "#e4983a", "#2a80cc"];
            }
        },
        methods   : {
            toggleClass() {
                this.isActive = !this.isActive;
                if (this.isActiveOne == true) {
                    this.isActiveOne = false;
                }
                if (this.isActiveTwo == true) {
                    this.isActiveTwo = false;
                }
            },
            toggleClassOne() {
                this.isActiveOne = !this.isActiveOne;
                if (this.isActive == true) {
                    this.isActive = false;
                }
                if (this.isActiveTwo == true) {
                    this.isActiveTwo = false;
                }
            },
            toggleClassTwo() {
                this.isActiveTwo = !this.isActiveTwo;
                if (this.isActive == true) {
                    this.isActive = false;
                }
                if (this.isActiveOne == true) {
                    this.isActiveOne = false;
                }
            },
            openInfo() {
                this.active = !this.active;
            },
            changeCountry: function (countryName) {
                var bounds = new google.maps.LatLngBounds();

                for (var i = 0; i < this.countries.length; i++) {
                    if (this.countries[i].name == countryName) {
                        // if (this.countries[i].name != 'Antarctica') {
                        var geometries = this.countries[i].geometry['geometries'];
                        if (geometries) {
                            for (var j in geometries) {
                                bounds.union(this.constructNewBounds(geometries[j]))
                            }
                        } else {
                            bounds.union(this.constructNewBounds(this.countries[i].geometry['geometry']));
                        }
                    }
                }

                this.panToBounds(bounds);

                // this.satkers = [];
                // for (var i = 0; i < this.countries.length; i++) {
                //     if (this.countries[i].name == countryName) {
                //         this.step = "satker";
                //         window.eventHub.$emit("maps-change-country", this.countries[i].slug);
                //         window.eventHub.$emit(
                //             "maps-filter-change-country",
                //             this.countries[i].slug
                //         );
                //         break;
                //     }
                // }
            },
            changeSatker : function (satkerSlug) {
                for (var i = 0; i < this.satkers.length; i++) {
                    if (this.satkers[i].slug == satkerSlug) {
                        this.assets = [];
                        this.step   = "detail-satker";
                        window.eventHub.$emit("maps-change-satker", this.satkers[i].slug);
                        window.eventHub.$emit(
                            "maps-filter-change-satker",
                            this.countries[i].slug
                        );
                        break;
                    }
                }
            },
            drawMap      : async function () {
                await this.$gmapApiPromiseLazy();
                this.polygons = [];
                for (var i in this.fushionTables) {
                    if (this.fushionTables[i][0] != "Antarctica") {
                        var newCoordinates = [];
                        var geometries     = this.fushionTables[i][1]["geometries"];
                        if (geometries) {
                            for (var j in geometries) {
                                newCoordinates.push(this.constructNewCoordinates(geometries[j]));
                            }
                        } else {
                            newCoordinates = this.constructNewCoordinates(
                                this.fushionTables[i][1]["geometry"]
                            );
                        }
                        var randomnumber = Math.floor(Math.random() * 4);
                        this.polygons.push({
                            name   : this.fushionTables[i][0],
                            paths  : newCoordinates,
                            options: {
                                strokeColor  : this.colors[randomnumber],
                                strokeOpacity: 0,
                                strokeWeight : 1,
                                fillColor    : this.colors[randomnumber],
                                fillOpacity  : 0
                            }
                        });
                    }
                }
            },
            resetPolygonFill() {
                for (var i = 0; i < this.polygons.length; i++) {
                    this.$refs["poly-" + i][0].options.fillOpacity = 0;
                }
            },
            fillIn($event, index) {
                if (this.$refs.mapKemlu.$mapObject.zoom > 5)
                    this.$refs["poly-" + index][0].options.fillOpacity = 0;
                else this.$refs["poly-" + index][0].options.fillOpacity = 0.5;
            },
            fillOut($event, index) {
                this.$refs["poly-" + index][0].options.fillOpacity = 0;
            },
            constructNewCoordinates(polygon) {
                var newCoordinates = [];
                var coordinates    = polygon["coordinates"][0];
                for (var i in coordinates) {
                    newCoordinates.push(
                        new this.google.maps.LatLng(coordinates[i][1], coordinates[i][0])
                    );
                }
                return newCoordinates;
            },
            constructNewBounds(polygon) {
                var newBounds   = new this.google.maps.LatLngBounds();
                var coordinates = polygon["coordinates"][0];
                for (var i in coordinates) {
                    newBounds.extend(
                        new this.google.maps.LatLng(coordinates[i][1], coordinates[i][0])
                    );
                }
                return newBounds;
            },
            getFushion() {
                // var query        = 'SELECT name, kml_4326 FROM ' +
                //     '1foc3xO9DyfSIF6ofvN0kp2bxSfSeKog5FbdWdQ';
                // var encodedQuery = encodeURIComponent(query);
                // axios.get('https://www.googleapis.com/fusiontables/v1/query?sql=' + encodedQuery + '&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ').then(response => {
                axios.get(this.base_url + "/google-fushion").then(
                    response => {
                        this.loading       = false;
                        this.fushionTables = response.data.rows;
                        this.drawMap();
                    },
                    error => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification(
                                "There is an unknown error. Please contact admin!",
                                "Oops",
                                "danger"
                            );
                        }
                    }
                );
            },
            openWindow($event, index) {
                infowindow.open();
            },
            panToSelectedSatker(satker) {
                this.selectedSatker = satker;
                this.step           = "detail-satker";
                this.panToBoundsBySelectedSatker();
                // this.getAssets();
            },
            panToSelectedCountry(slugCountry) {
                // this.selectedCountry = slugCountry;
                this.step = "satker";
                this.getSatkers();
            },
            panToBounds(bounds) {
                this.$refs.mapKemlu.fitBounds(bounds);
                this.$refs.mapKemlu.panTo(bounds.getCenter());
            },
            panToBoundsBySelectedCountryAndSatker() {
                var bounds = new google.maps.LatLngBounds();

                // for (var i = 0; i < this.countries.length; i++) {
                //     if (this.countries[i].slug == this.selectedCountry) {
                //         // if (this.countries[i].name != 'Antarctica') {
                //         var geometries = this.countries[i].geometry['geometries'];
                //         if (geometries) {
                //             for (var j in geometries) {
                //                 bounds.union(this.constructNewBounds(geometries[j]))
                //             }
                //         } else {
                //             bounds.union(this.constructNewBounds(this.countries[i].geometry['geometry']));
                //         }
                //     }
                // }

                for (var i = 0; i < this.satkers.length; i++) {
                    if (this.satkers[i].lat) {
                        bounds.extend(
                            new this.google.maps.LatLng(
                                this.satkers[i].lat,
                                this.satkers[i].lng
                            )
                        );
                    }
                }

                this.panToBounds(bounds);
            },
            panToBoundsBySelectedSatker() {
                var bounds = new this.google.maps.LatLngBounds();

                if (this.selectedSatker.lat) {
                    bounds.extend(
                        new this.google.maps.LatLng(
                            this.selectedSatker.lat,
                            this.selectedSatker.lng
                        )
                    );
                    this.$refs.mapKemlu.panTo(
                        new this.google.maps.LatLng(
                            this.selectedSatker.lat,
                            this.selectedSatker.lng
                        )
                    );
                }

                // for (var i = 0; i < this.satkers.length; i++) {
                //     if (this.satkers[i].lat) {
                //         if (this.satkers[i].kode_satker == this.selectedSatker.kode_satker) {
                //             bounds.extend(new this.google.maps.LatLng(this.satkers[i].lat, this.satkers[i].lng));
                //             this.$refs.mapKemlu.panTo(new this.google.maps.LatLng(this.satkers[i].lat, this.satkers[i].lng));
                //         }
                //     }
                // }
            },
            getCountries() {
                this.countries = [];
                axios.get(this.base_url + "/api/countries").then(
                    response => {
                        this.loading   = false;
                        this.countries = response.data;
                    },
                    error => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification(
                                "There is an unknown error. Please contact admin!",
                                "Oops",
                                "danger"
                            );
                        }
                    }
                );
            },
            getSatkers() {
                this.satkers = [];
                // axios.get(this.base_url + '/api/satkers?slug=' + this.selectedCountry).then(response => {
                axios.get(this.base_url + "/api/satkers").then(
                    response => {
                        this.loading = false;
                        this.satkers = response.data;
                        this.panToBoundsBySelectedCountryAndSatker();
                    },
                    error => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification(
                                "There is an unknown error. Please contact admin!",
                                "Oops",
                                "danger"
                            );
                        }
                    }
                );
            },
            getAssets() {
                this.satkers = [];
                axios
                    .get(this.base_url + "/api/satkers?slug=" + this.selectedCountry)
                    .then(
                        response => {
                            this.loading = false;
                            this.satkers = response.data;
                            this.panToBoundsBySelectedCountryAndSatker();
                        },
                        error => {
                            this.loading = false;
                            if (error.response.status == 422) {
                                this.errors = error.response.data.errors;
                            } else {
                                this.$root.makeNotification(
                                    "There is an unknown error. Please contact admin!",
                                    "Oops",
                                    "danger"
                                );
                            }
                        }
                    );
            },
            backStep     : function (destination) {
                this.step = destination;
                switch (destination) {
                    // case "country":
                    //     this.satkers         = [];
                    //     this.assets          = [];
                    //     this.selectedCountry = "";
                    //     this.selectedSatker  = "";
                    //     break;
                    case "satker":
                        this.assets         = [];
                        this.selectedSatker = "";
                        this.selectedAsset  = "";
                        this.panToSelectedCountry(this.selectedCountry);
                        break;
                    case "asset":
                        this.selectedAsset = "";
                        break;
                }
            },
            handlerDrag  : function () {
                var bounds = this.$refs.mapKemlu.$mapObject.getBounds();
                var sLat   = bounds.getSouthWest().lat();
                var nLat   = bounds.getNorthEast().lat();
                var center = this.$refs.mapKemlu.$mapObject.getCenter();
                if (sLat < -85 || nLat > 85) {
                    // console.log("=====================================");
                    // console.log("Lat: " + center.lat() + "; Lng: " + center.lng());
                    // // console.log("Lat: " + bounds.getCenter().lat() + "; Lng: " + bounds.getCenter().Lng());
                    // console.log("sLat : " + sLat + "; nLat : " + nLat);
                    // // alert('Gray area visible');
                    // var lat = center.lat();
                    // var lng = center.lng();
                    //
                    // if (sLat < -85) {
                    //     lat += Math.abs(sLat + 85) + 1;
                    // }
                    // if (nLat > 85) {
                    //     lat -= Math.abs(nLat - 85) + 1;
                    // }

                    this.$refs.mapKemlu.$mapObject.setOptions({
                        zoom  : 1,
                        center: new this.google.maps.LatLng(
                            0, // set Latitude for center of map here
                            0) // set Langitude for center of map here
                    });
                    // var bounds = this.$refs.mapKemlu.$mapObject.getBounds();
                    // var center = this.$refs.mapKemlu.$mapObject.getCenter();
                    // console.log("Lat: " + center.lat() + "; Lng: " + center.lng());
                    //Map.fitBounds(boundsNew);
                    // Or Define bound that u want show
                }
            }
        },
        mounted   : function () {
            if (this.darkmodefront == "1") {
                this.mapOptions.styles = [
                    {elementType: "geometry", stylers: [{color: "#242f3e"}]},
                    {elementType: "labels.text.stroke", stylers: [{color: "#242f3e"}]},
                    {elementType: "labels.text.fill", stylers: [{color: "#746855"}]},
                    {elementType: "labels.icon", stylers: [{visibility: "off"}]},
                    {
                        featureType: "administrative.locality",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#d59563"}]
                    },
                    {
                        featureType: "poi",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#d59563"}]
                    },
                    {
                        featureType: "poi.park",
                        elementType: "geometry",
                        stylers    : [{color: "#263c3f"}]
                    },
                    {
                        featureType: "poi.park",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#6b9a76"}]
                    },
                    {
                        featureType: "road",
                        elementType: "geometry",
                        stylers    : [{color: "#38414e"}]
                    },
                    {
                        featureType: "road",
                        elementType: "geometry.stroke",
                        stylers    : [{color: "#212a37"}]
                    },
                    {
                        featureType: "road",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#9ca5b3"}]
                    },
                    {
                        featureType: "road.highway",
                        elementType: "geometry",
                        stylers    : [{color: "#746855"}]
                    },
                    {
                        featureType: "road.highway",
                        elementType: "geometry.stroke",
                        stylers    : [{color: "#1f2835"}]
                    },
                    {
                        featureType: "road.highway",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#f3d19c"}]
                    },
                    {
                        featureType: "transit",
                        elementType: "geometry",
                        stylers    : [{color: "#2f3948"}]
                    },
                    {
                        featureType: "transit.station",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#d59563"}]
                    },
                    {
                        featureType: "water",
                        elementType: "geometry",
                        stylers    : [{color: "#17263c"}]
                    },
                    {
                        featureType: "water",
                        elementType: "labels.text.fill",
                        stylers    : [{color: "#515c6d"}]
                    },
                    {
                        featureType: "water",
                        elementType: "labels.text.stroke",
                        stylers    : [{color: "#17263c"}]
                    }
                ];
            }

            if (this.darkmodefront == "0") {
                this.mapOptions.styles = [
                    {elementType: "labels.icon", stylers: [{visibility: "off"}]}
                ];
            }

            this.$nextTick(
                function () {
                    this.getCountries();
                    this.getFushion();
                    this.panToSelectedCountry(this.selectedCountry);

                    window.eventHub.$on("maps-change-country", this.panToSelectedCountry);
                    window.eventHub.$on("maps-change-satker", this.panToSelectedSatker);
                    window.eventHub.$on("maps-back-step", this.backStep);
                }.bind(this)
            );
        }
    };
</script>
