<template>
    <div>
        <GmapMap
                ref="mapKemlu"
                v-bind:center="{lat:10, lng:10}"
                v-bind:zoom="5"
                v-bind:options="{
                     zoomControl: true,
                     mapTypeControl: false,
                     scaleControl: false,
                     streetViewControl: false,
                     rotateControl: false,
                     fullscreenControl: true,
                     disableDefaultUi: false
                   }"
                map-type-id="terrain"
                style="width: 100vw; height: calc(100vh - 75px)">
            <gmap-cluster :zoomOnClick="true" @click="resetPolygonFill()">
                <!-- <GmapMarker
                v-bind:key="index"
                v-for="(m, index) in markers"
                v-bind:position="m.position"
                v-bind:clickable="true"/> -->
                <gmap-custom-marker :marker="{ lat: 10.0, lng: 10.0 }">
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65" class="show-marker"/>
                    <div class="card-info">
                        <div class="card">
                            <div class="" style="position: relative;">
                                <img class="mx-0 mx-auto w-100" :src="base_path + 'assets/images/jakarta2.png'" alt="">
                                <div class="left-container-image-info">
                                        <h3>SEKRETARIAT JENDERAL KEMENTERIAN LUAR NEGERI</h3>
                                        <div class="left-container-image-info-subtitle"><h5>GOVERNMENT OFFICE</h5></div>
                                </div>
                            </div>
                            <div class="card-body p-0 pt-3">
                                <div class="info-hoverable">
                                    <a href="#" class="p-3">
                                        <h3>Address</h3>
                                        <div>Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                    </a>
                                    <a href="#" class="p-3">
                                        <h3>Contact</h3>
                                        <div>(021) 3441508</div>
                                        <div>subdit3.ditkum@kemlu.go.id</div>
                                        <div>https://www.kemlu.go.id</div>
                                    </a>
                                </div>
                                <div class="action-maps m-0 p-0 mt-3">
                                    <div class="row d-flex justify-content-around m-0">
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/land.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">150</div>
                                                        <div class="blue-button-text text-center three-icon">Land</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/building.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">50</div>
                                                        <div class="blue-button-text text-center three-icon">Building</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/car.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">100</div>
                                                        <div class="blue-button-text text-center three-icon">Car</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </gmap-custom-marker>
                <gmap-custom-marker :marker="{ lat: 10.383333, lng: 11.100000 }">
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65" class="show-marker"/>
                    <div class="card-info">
                        <div class="card">
                            <div class="" style="position: relative;">
                                <img class="mx-0 mx-auto w-100" :src="base_path + 'assets/images/jakarta2.png'" alt="">
                                <div class="left-container-image-info">
                                        <h3>SEKRETARIAT JENDERAL KEMENTERIAN LUAR NEGERI</h3>
                                        <div class="left-container-image-info-subtitle"><h5>GOVERNMENT OFFICE</h5></div>
                                </div>
                            </div>
                            <div class="card-body p-0 pt-3">
                                <div class="info-hoverable">
                                    <a href="#" class="p-3">
                                        <h3>Address</h3>
                                        <div>Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                    </a>
                                    <a href="#" class="p-3">
                                        <h3>Contact</h3>
                                        <div>(021) 3441508</div>
                                        <div>subdit3.ditkum@kemlu.go.id</div>
                                        <div>https://www.kemlu.go.id</div>
                                    </a>
                                </div>
                                <div class="action-maps m-0 p-0 mt-3">
                                    <div class="row d-flex justify-content-around m-0">
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/land.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">150</div>
                                                        <div class="blue-button-text text-center three-icon">Land</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/building.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">50</div>
                                                        <div class="blue-button-text text-center three-icon">Building</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/car.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">100</div>
                                                        <div class="blue-button-text text-center three-icon">Car</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </gmap-custom-marker>
                <gmap-custom-marker :marker="{
                 lat: 9.388700, lng: 12.207619 }">
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65"/>
                </gmap-custom-marker>
            </gmap-cluster>
            <gmap-cluster :zoomOnClick="true" @click="resetPolygonFill()">
                <gmap-custom-marker :marker="{ lat: 18.570692, lng: -3.996166 }">
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65" class="show-marker"/>
                    <div class="card-info">
                        <div class="card">
                            <div class="" style="position: relative;">
                                <img class="mx-0 mx-auto w-100" :src="base_path + 'assets/images/jakarta2.png'" alt="">
                                <div class="left-container-image-info">
                                        <h3>SEKRETARIAT JENDERAL KEMENTERIAN LUAR NEGERI</h3>
                                        <div class="left-container-image-info-subtitle"><h5>GOVERNMENT OFFICE</h5></div>
                                </div>
                            </div>
                            <div class="card-body p-0 pt-3">
                                <div class="info-hoverable">
                                    <a href="#" class="p-3">
                                        <h3>Address</h3>
                                        <div>Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                    </a>
                                    <a href="#" class="p-3">
                                        <h3>Contact</h3>
                                        <div>(021) 3441508</div>
                                        <div>subdit3.ditkum@kemlu.go.id</div>
                                        <div>https://www.kemlu.go.id</div>
                                    </a>
                                </div>
                                <div class="action-maps m-0 p-0 mt-3">
                                    <div class="row d-flex justify-content-around m-0">
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/land.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">150</div>
                                                        <div class="blue-button-text text-center three-icon">Land</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/building.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">50</div>
                                                        <div class="blue-button-text text-center three-icon">Building</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/car.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">100</div>
                                                        <div class="blue-button-text text-center three-icon">Car</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </gmap-custom-marker>
                <gmap-custom-marker
                        :marker="{ lat: 18.996166, lng: -2.996166 }"
                >
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65"/>
                </gmap-custom-marker>
            </gmap-cluster>
            <gmap-cluster :zoomOnClick="true" @click="resetPolygonFill()">
                <gmap-custom-marker :marker="{ lat: 12.862807, lng: 30.217636 }">
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65" class="show-marker"/>
                    <div class="card-info">
                        <div class="card">
                            <div class="" style="position: relative;">
                                <img class="mx-0 mx-auto w-100" :src="base_path + 'assets/images/jakarta2.png'" alt="">
                                <div class="left-container-image-info">
                                        <h3>SEKRETARIAT JENDERAL KEMENTERIAN LUAR NEGERI</h3>
                                        <div class="left-container-image-info-subtitle"><h5>GOVERNMENT OFFICE</h5></div>
                                </div>
                            </div>
                            <div class="card-body p-0 pt-3">
                                <div class="info-hoverable">
                                    <a href="#" class="p-3">
                                        <h3>Address</h3>
                                        <div>Jl. Taman Pejambon No.6, RT.9/RW.5, Senen, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10410</div>
                                    </a>
                                    <a href="#" class="p-3">
                                        <h3>Contact</h3>
                                        <div>(021) 3441508</div>
                                        <div>subdit3.ditkum@kemlu.go.id</div>
                                        <div>https://www.kemlu.go.id</div>
                                    </a>
                                </div>
                                <div class="action-maps m-0 p-0 mt-3">
                                    <div class="row d-flex justify-content-around m-0">
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/land.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">150</div>
                                                        <div class="blue-button-text text-center three-icon">Land</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/building.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">50</div>
                                                        <div class="blue-button-text text-center three-icon">Building</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-4 py-2 px-2">
                                            <a href="">
                                                <div class="media">
                                                    <div class="img text-center mb-2">
                                                        <img :src="base_url + '/assets/svg/car.svg'" alt=""
                                                             height="40" width="45">
                                                    </div>
                                                    <div class="media-body text-center h-100 mt-2">
                                                        <div class="amount-list">100</div>
                                                        <div class="blue-button-text text-center three-icon">Car</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </gmap-custom-marker>
                <gmap-custom-marker :marker="{ lat: 13.217636, lng: 31.217636 }">
                    <img :src="base_path + 'assets/images/maps-marker.ico'" width="65"/>
                </gmap-custom-marker>
            </gmap-cluster>
            <!-- <gmap-info-window :position="{ lat: 57.708, lng: 11.974 }" :opened="true" :content="Hello World">
            </gmap-info-window> -->
            <gmap-polygon :key="index" v-for="(polygon,index) in polygons" :paths="polygon.paths" :editable="false"
                          :ref="'poly-' + index"
                          :options="polygon.options"
                          @paths_changed="updateEdited($event)"
                          @mousemove="fillIn($event, index)"
                          @mouseover="fillIn($event, index)"
                          @mouseout="fillOut($event, index)">
            </gmap-polygon>
        </GmapMap>

    </div>
</template>

<style>
    .card-info {
        /*width: 22rem;
        top: -16px;
        position: absolute;
        right: -24rem;
        box-shadow: rgba(88, 71, 71, 0.12) 0px 2px 6px 0px;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;*/
        width: 25rem;
        height: auto;
        top: -182px;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: absolute;
        padding-left: 4rem;
        right: -23rem;
        /*opacity: 0;*/
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-box-shadow: 0;
        box-shadow: 0;
        z-index: -2;
        display: none;
    }
    .card-info .card{
        -webkit-box-shadow: rgba(88, 71, 71, 0.12) 0px 2px 6px 0px;
        box-shadow: rgba(88, 71, 71, 0.12) 0px 2px 6px 0px;
        border-radius: 5px;
    }
    .card-info .card > img{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .card-info .card-body .row{
        position: relative;
        z-index: 2;
    }
    .card-info.active {
        /*opacity: 1;*/
        display: block;
        z-index: 2;
    }
    .card-info .card-body .media-body{
        font-size: 14px;
    }
    .card-info::after {
        /*background: white;
        -webkit-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
        box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
        content: "";
        z-index: 1;
        height: 30px;
        left: 0;
        position: absolute;
        bottom: -30px;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 30px;
        left: calc(50% - 6px / 2);*/
        background: white;
        -webkit-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
        box-shadow: -5px -2px 3px -1px rgba(178, 178, 178, .4);
        content: "";
        z-index: -1;
        height: 30px;
        left: 0;
        position: absolute;
        top: 208px;
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 30px;
        left: calc(50% - 1px / 2);
        left: 4rem;
        background: #151513;
    }

    /*.card-info .media img {
        width: 50%
    }*/

    .card-info h5 {
        font-size: 11px;
        /* line-height: 20px; */
        position: absolute;
    }

    .card-info td {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding: 3px 0;
        border-top: none;
    }

    .card-info tr > td:first-child {
        width: 85px
    }

    .card-info tr > td:nth-child(2) {
        padding: 3px 7px;
    }
</style>

<script>
    import GmapCustomMarker from 'vue2-gmap-custom-marker';
    import GmapCluster from 'vue2-google-maps/dist/components/cluster'
    import {gmapApi} from 'vue2-google-maps'

    export default {
        components: {
            'gmap-custom-marker': GmapCustomMarker,
            'gmap-cluster'      : GmapCluster
        },
        data() {
            return {
                center         : {lat: 10.0, lng: 10.0},
                markers        : [{
                    position: {
                        lat: 10.0, lng: 10.0,
                    }
                }, {
                    position: {lat: 11.0, lng: 11.0}
                }],
                markers2       : [{
                    position: {
                        lat: 22.22, lng: 22.22,
                    }
                }, {
                    position: {lat: 23.23, lng: 23.23}
                }, {
                    position: {lat: 24.23, lng: 24.23}
                }],
                showMarkerInfo : false,
                showMarkerInfo2: false,
                showMarkerInfo3: false,
                showMarkerInfo4: false,
                colors         : ['#FF0000', '#00FF00', '#0000FF', '#FFFF00'],
                polygons       : [],
                paths          : [],
                fushionTables  : [],
                loading        : false,
                errors         : [],
                base_url       : base_url,
                base_path      : base_path
            }
        },
        computed  : {
            google() {
                return gmapApi;
            }
        },
        methods   : {
            openInfo() {
                this.active = !this.active;
            },
            drawMap() {
                this.polygons = [];
                for (var i in this.fushionTables) {
                    if (this.fushionTables[i][0] != 'Antarctica') {
                        var newCoordinates = [];
                        var geometries     = this.fushionTables[i][1]['geometries'];
                        if (geometries) {
                            for (var j in geometries) {
                                newCoordinates.push(this.constructNewCoordinates(geometries[j]));
                            }
                        } else {
                            newCoordinates = this.constructNewCoordinates(this.fushionTables[i][1]['geometry']);
                        }
                        var randomnumber = Math.floor(Math.random() * 4);
                        this.polygons.push({
                            paths  : newCoordinates,
                            options: {
                                strokeColor  : this.colors[randomnumber],
                                strokeOpacity: 0,
                                strokeWeight : 1,
                                fillColor    : this.colors[randomnumber],
                                fillOpacity  : 0,
                            }
                        });
                    }
                }
            },
            resetPolygonFill(){
                for (var i = 0; i < this.polygons.length; i++){
                    this.$refs['poly-' + i][0].options.fillOpacity = 0;
                }
            },
            fillIn($event, index) {
                if (this.$refs.mapKemlu.$mapObject.zoom > 5)
                    this.$refs['poly-' + index][0].options.fillOpacity = 0;
                else
                    this.$refs['poly-' + index][0].options.fillOpacity = 0.5;
            },
            fillOut($event, index) {
                this.$refs['poly-' + index][0].options.fillOpacity = 0;
            },
            constructNewCoordinates(polygon) {
                var newCoordinates = [];
                var coordinates    = polygon['coordinates'][0];
                for (var i in coordinates) {
                    newCoordinates.push(
                        new google.maps.LatLng(coordinates[i][1], coordinates[i][0]));
                }
                return newCoordinates;
            },
            getFushion() {
                var query        = 'SELECT name, kml_4326 FROM ' +
                    '1foc3xO9DyfSIF6ofvN0kp2bxSfSeKog5FbdWdQ';
                var encodedQuery = encodeURIComponent(query);
                axios.get('https://www.googleapis.com/fusiontables/v1/query?sql=' + encodedQuery + '&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ').then(response => {
                    this.loading       = false;
                    this.fushionTables = response.data.rows;
                    this.drawMap();
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            openWindow($event, index) {
                infowindow.open();
            }
        },
        mounted   : function () {
            this.$nextTick(function () {
                this.getFushion();
            }.bind(this));
        },
    }
</script>