<template>
    <form @submit.prevent="">
        <li>
            <label class="css-control css-control-primary css-switch">
                <span class="mr-3">
                    <i class="fa fa-modx mr-10"></i>Dark Mode
                </span>
                <!--                            <input type="checkbox" class="css-control-input ml-3 dark-mode">-->
                <!--                            <span class="css-control-indicator"></span>-->
                <toggle-button v-model="item.dark_mode"
                               v-on:change="save"
                               color="#82C7EB"
                               :sync="true"
                               :labels="false"/>
            </label>
        </li>
    </form>
</template>

<style>
    .vue-js-switch {
        padding: 0 !important;
        float: right;
    }
</style>

<script>
    export default {
        props     : [],
        components: {},
        data() {
            return {
                item    : {
                    dark_mode: false
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('dark_mode', this.item.dark_mode);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/dark-mode', formData).then(response => {
                    this.loading        = false;
                    this.item.dark_mode = response.data.data == "true";
                    this.$root.makeNotification('Your new setting has been saved!', 'ok');
                    window.location.href = '';
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            getSetting() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/dark-mode').then(response => {
                    this.loading        = false;
                    this.item.dark_mode = response.data.data == "true";
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
        },
        mounted() {
            this.$nextTick(function () {
                this.getSetting();
            }.bind(this));
        }
    }
</script>
