<template>
    <form @submit.prevent="" class="form-dark">
        <label class="css-control css-control-primary css-switch">
            <toggle-button v-model="item.dark_mode"
                           v-on:change="save"
                           color="#c7eb82"
                           :sync="true"
                           :labels="false"/>
        </label>
    </form>
</template>

<style>
    .vue-js-switch {
        padding: 0 !important;
        float: right;
    }

    .form-dark {
        display: block;
        height: 30px;
        right: 15px;
        position: absolute;
    }

    .vue-js-switch .v-switch-core {
        border-radius: 15px !important;
        height: 25px !important;
    }

    .vue-js-switch .v-switch-core .v-switch-button {
        width: 18px !important;
        height: 18px !important;
    }
</style>

<script>
    export default {
        props     : [],
        components: {},
        data() {
            return {
                item    : {
                    dark_mode: false
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('dark_mode', this.item.dark_mode);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/api/dark-mode', formData).then(response => {
                    this.loading        = false;
                    this.item.dark_mode = response.data.data == "true";
                    this.$root.makeNotification('Your new setting has been saved!', 'ok');
                    window.location.href = '';
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            getSetting() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/api/dark-mode').then(response => {
                    this.loading        = false;
                    this.item.dark_mode = response.data.data == "true";
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
        },
        mounted() {
            this.$nextTick(function () {
                this.getSetting();
            }.bind(this));
        }
    }
</script>
