<template>
    <form @submit.prevent="">
        <div class="form-group row">
            <div class="col-12">
                <div class="custom-file">
                    <div class="form-group row d-flex justify-content-center">
                        <div class="input-group col-10 px-0 change-password">
                            <div class="input-group-prepend icon-pswd">
                            <span class="input-group-text"><img
                                    :src="base_url + '/assets/images/password-login.png'"
                                    alt=""></span>
                            </div>
                            <input placeholder="Old Password" type="password" v-model="item.old_password"
                                   class="form-control form-login" name="password"
                                   autofocus>
                        </div>
                        <error-reference v-if="errors.old_password"
                                         :message="errors.old_password[0]"></error-reference>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <div class="input-group col-10 px-0 change-password">
                            <div class="input-group-prepend icon-pswd">
                            <span class="input-group-text"><img
                                    :src="base_url + '/assets/images/password-login.png'"
                                    alt=""></span>
                            </div>
                            <input placeholder="New Password" type="password" v-model="item.new_password"
                                   class="form-control form-login" name="password"
                                   autofocus>
                        </div>
                        <error-reference v-if="errors.new_password"
                                         :message="errors.new_password[0]"></error-reference>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <div class="input-group col-10 px-0 change-password">
                            <div class="input-group-prepend icon-pswd">
                            <span class="input-group-text"><img
                                    :src="base_url + '/assets/images/password-login.png'"
                                    alt=""></span>
                            </div>
                            <input placeholder="Confirm New Password" type="password"
                                   v-model="item.new_password_confirmation"
                                   class="form-control form-login" name="password"
                                   autofocus>
                        </div>
                        <error-reference v-if="errors.new_password_confirmation"
                                         :message="errors.new_password_confirmation[0]"></error-reference>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row mt-4 mb-3 mx-0 d-flex justify-content-center">
            <div class="col-12 px-4">
                <ladda-reference class="btn btn-alt-primary w-100" :loading="loading" @click="save"
                                 :text="'Submit'"></ladda-reference>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        props     : [],
        components: {},
        data() {
            return {
                item    : {
                    old_password             : "",
                    new_password             : "",
                    new_password_confirmation: "",
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('old_password', this.item.old_password);
                formData.append('new_password', this.item.new_password);
                formData.append('new_password_confirmation', this.item.new_password_confirmation);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/api/change-password', formData).then(response => {
                    this.loading                        = false;
                    this.item.old_password              = "";
                    this.item.new_password              = "";
                    this.item.new_password_confirmation = "";
                    this.$root.makeNotification('Your new password has been saved!', 'ok');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            mounted() {
                this.$nextTick(function () {
                }.bind(this));
            }
        },
    }
</script>
