<template>
    <form @submit.prevent="">
        <div class="form-group">
            <label class="control-label">
                Default Front-end DarkMode
            </label>
            <toggle-button v-model="item.dark_mode"
                           color="#82C7EB"
                           :sync="true"
                           :labels="false"/>
            <error-reference v-if="errors.dark_mode"
                             :message="errors.dark_mode[0]"></error-reference>
        </div>
        <div class="form-group row mt-4 mb-3 mx-0 d-flex justify-content-center">
            <div class="col-12 px-4">
                <ladda-reference class="btn btn-alt-primary w-100" :loading="loading" @click="save"
                                 :text="'Save new settings'"></ladda-reference>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        props     : [],
        components: {},
        data() {
            return {
                item    : {
                    dark_mode: false,
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('dark_mode', this.item.dark_mode);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/general-setting', formData).then(response => {
                    this.loading = false;
                    this.$root.makeNotification('Your new setting has been saved!', 'ok');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            getSetting() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/general-setting').then(response => {
                    this.loading        = false;
                    this.item.dark_mode = response.data.dark_mode == "true";
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
        },
        mounted() {
            this.$nextTick(function () {
                this.getSetting();
            }.bind(this));
        }
    }
</script>
