<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.kode_barang }}</td>
        <td style="text-align: center;">{{ item.nup }}</td>
        <td>{{ item.kode_satker }}</td>
        <td>
            {{ item.nama_satker }}
        </td>
        <td style="text-align: center;">{{ item.kib }}</td>
        <td>
            {{ item.nama_barang }}
        </td>
        <td>{{ item.kondisi }}</td>
        <td>{{ item.merk_type }}</td>
        <td>{{ item.tanggal_rekam_pertama }}</td>
        <td>{{ item.tanggal_perolehan }}</td>
        <td>
            <template v-if="item.nilai_perolehan_pertama">
                Rp {{ item.nilai_perolehan_pertama | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_mutasi">
                Rp {{ item.nilai_mutasi | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_perolehan">
                Rp {{ item.nilai_perolehan | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_penyusutan">
                Rp {{ item.nilai_penyusutan | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_buku">
                Rp {{ item.nilai_buku | formatCurrency }}
            </template>
        </td>
        <td style="text-align: center;">
            {{ item.kuantitas | formatCurrency }}
        </td>
        <td style="text-align: center;">
            {{ item.jumlah_foto | formatCurrency }}
            <br/>

        </td>
        <td>{{ item.status_penggunaan }}</td>
        <td>{{ item.status_pengelolaan }}</td>
        <td>{{ item.no_psp }}</td>
        <td>{{ item.tanggal_psp }}</td>
        <td style="text-align: center;">
            {{ item.jumlah_kib | formatCurrency }}
        </td>
        <td>{{ item.no_bpkb }}</td>
        <td>{{ item.no_polisi }}</td>
        <td>{{ item.pemakai }}</td>
        <td class="headcol d-flex justify-content-around align-items-center">
            <!--            <button type="button" name="button" @click="addLocation(item)" class="btn btn-info btn-sm">-->
            <!--                <i class="fa fa-map-marker"></i>-->
            <!--            </button>-->
            <button type="button" name="button" @click="editPhotos(item)" class="btn btn-info btn-sm">
                <i class="fa fa-picture-o"></i>
            </button>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            editPhotos(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-photos', tmp);
            },
            addLocation(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-add-location', tmp);
            },
            remove(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-kendaraan', tmp);
            }
        }
    }
</script>
