<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.created_at }}</td>
        <td>{{ item.no_pengajuan_penghapusan }}</td>
        <td>{{ item.kategori_penghapusan.name }}</td>
        <td>
            {{ item.satker.kode_satker }}
            <br/>
            {{ item.satker.nama_satker }}
        </td>
        <td style="vertical-align: middle; text-align: center;">
            <div class="btn-alert alert-info">
                {{ item.uploader.name }}
            </div>
        </td>
        <td style="vertical-align: middle">
            <div :class="'btn-alert alert-' + item.status_color">
                {{ item.status_say }}
            </div>
        </td>
        <td>
            <template v-if="item.approver">
                {{ item.approver.name }}
            </template>
        </td>
        <td class="headcol d-flex justify-content-around align-items-center">
                       <!-- <button type="button" name="button" @click="addLocation(item)" class="btn btn-info btn-sm">-->
            <!--                <i class="fa fa-map-marker"></i>-->
            <!--            </button> -->
            <button type="button" name="button" @click="seeDetail(item)" class="btn btn-info btn-sm">
                <i class="fa fa-list"></i>
            </button>

        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            seeDetail(item) {
                var tmp              = JSON.parse(JSON.stringify(item));
                window.location.href = window.base_url + '/admin/pengajuan-penghapusan-kendaraan/detail/' + tmp.id;
            },

        }
    }
</script>
