
<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>
            {{ item.nama_satker }}
        </td>
        <td>
            {{ item.nama_barang }}
        </td>
        <td>{{ item.merk_type }}</td>
        <td>{{ item.tanggal_perolehan }}</td>
        <td>{{ item.status_penggunaan }}</td>

    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
        }
    }
</script>
