<template>
    <tr v-bind:id="(pagination.page - 1) * pagination.perpage + 1 + index">
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td style="text-align: center;">{{ item.kode_satker }}</td>
        <td>
            <div class="row">
                <div class="col-12">
                    {{ item.nama_satker }}
                </div>
                <div class="col-12 mt-0 mb-0">
                    &nbsp;
                    <template v-if="!item.countries.length">
                        <div class="text-danger alert alert-danger p-2"
                             style="font-style: italic; text-decoration: underline; cursor: pointer; display: inline-block"
                             @click="editSatker(item)">
                            <i class="fa fa-exclamation"></i>
                            Country required
                        </div>
                    </template>
                </div>
            </div>
        </td>
        <td style="vertical-align: middle !important;">
            <template v-for="country in item.countries">
                <div class="btn-alert alert-success">
                    {{ country.name }}
                </div>
            </template>

            <template v-if="!item.countries.length">
                <div class="text-danger alert alert-danger p-2"
                     style="font-style: italic; text-decoration: underline; cursor: pointer; display: inline"
                     @click="editSatker(item)">
                    <i class="fa fa-exclamation"></i>
                    Country required
                </div>
            </template>
        </td>
        <td style="white-space: nowrap; vertical-align: middle;">
            <a :href="'https://www.google.com/maps/search/?api=1&query=' + item.lat + ',' + item.lng" target="_blank">
                <template v-if="item.lat">
                    <strong style="font-weight: 900">Lat:</strong> <small>{{ item.lat }}</small>
                    <br/>
                    <strong style="font-weight: 900">Lng:</strong> <small>{{ item.lng }}</small>
                </template>
            </a>

            <template v-if="!item.lat">
                <div class="text-danger alert alert-danger p-2"
                     style="font-style: italic; text-decoration: underline; cursor: pointer; display: inline"
                     @click="addLocation(item)">
                    <i class="fa fa-map-marker"></i>
                    Location required
                </div>
            </template>
        </td>
        <td class="headcol d-flex justify-content-around align-content-around flex-wrap">
            <button type="button" name="button" @click="addLocation(item)" class="btn btn-info btn-sm">
                <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" name="button" @click="editSatker(item)" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            <button type="button" name="button" @click="editPhotos(item)" class="btn btn-info btn-sm">
                <i class="fa fa-picture-o"></i>
            </button>
             <button type="button" name="button" @click="deleteSatker(item)" class="btn btn-info btn-sm">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>

<style>
    .headcol > button {
        height: 28px;
            width: 28px;
            padding: 0;
    }
</style>

<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            editPhotos(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-photos', tmp);
            },
            addLocation(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-add-location', tmp);
            },
            editSatker(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-satker', tmp);
            },
            deleteSatker(item){
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-satker', tmp);
            }
        }
    }
</script>
