<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.kode_barang }}</td>
        <td style="text-align: center;">{{ item.nup }}</td>
        <td>{{ item.kode_satker }}</td>
        <td>{{ item.nama_satker }}</td>
        <td style="text-align: center;">{{ item.kib }}</td>
        <td>{{ item.nama_barang }}</td>
        <td>{{ item.kondisi }}</td>
        <td>{{ item.jenis_dokumen }}</td>
        <td>{{ item.kepemilikan }}</td>
        <td>{{ item.jenis_sertifikat }}</td>
        <td>{{ item.merk_type }}</td>
        <td>{{ item.tanggal_rekam_pertama }}</td>
        <td>{{ item.tanggal_perolehan }}</td>
        <td>
            <template v-if="item.nilai_perolehan_pertama">
                Rp {{ item.nilai_perolehan_pertama | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_mutasi">
                Rp {{ item.nilai_mutasi | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_perolehan">
                Rp {{ item.nilai_perolehan | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_penyusutan">
                Rp {{ item.nilai_penyusutan | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.nilai_buku">
                Rp {{ item.nilai_buku | formatCurrency }}
            </template>
        </td>
        <td style="text-align: center;">{{ item.kuantitas | formatCurrency }}</td>
        <td style="text-align: center;">
            {{ item.jumlah_foto | formatCurrency }}
            <br/>
            <template v-if="item.photos_count == 0">
                <div class="text-danger btn-alert alert-danger"
                     style="font-style: italic; text-decoration: underline; cursor: pointer;"
                     @click="editPhotos(item)">
                    <i class="fa fa-picture-o"></i>
                    Photos required
                </div>
            </template>
        </td>
        <td style="text-align: center;">{{ item.jumlah_lantai | formatCurrency }}</td>
        <td style="text-align: center;">{{ item.luas_bangunan | formatCurrency }}</td>
        <td style="text-align: center;">{{ item.luas_dasar_bangunan | formatCurrency }}</td>
        <td>{{ item.jalan }}</td>
        <td>{{ item.kode_kota }}</td>
        <td>{{ item.kode_provinsi }}</td>
        <td>{{ item.uraian_kota }}</td>
        <td>{{ item.status_penggunaan }}</td>
        <td>{{ item.status_pengelolaan }}</td>
        <td>{{ item.no_psp }}</td>
        <td>{{ item.tanggal_psp }}</td>
        <td style="text-align: center;">{{ item.jumlah_kib | formatCurrency }}</td>
        <td style="text-align: center;">{{ item.sbsk | formatCurrency }}</td>
        <td style="text-align: center;">{{ item.optimalisasi | formatCurrency }}</td>
        <td class="headcol d-flex justify-content-around align-items-center">

            <button type="button" name="button" @click="editPhotos(item)" class="btn btn-info btn-sm">
                <i class="fa fa-picture-o"></i>
            </button>
            <button type="button" name="button" @click="remove(item)" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            editPhotos(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-photos', tmp);
            },
            addLocation(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-add-location', tmp);
            },
            remove(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-gedung', tmp);
            }
        }
    }
</script>
