<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td style="text-align: center;">{{ item.kode_wilayah }}</td>
        <td>{{ item.nama_wilayah }}</td>
        <td>
            <div class="alert small pl-2 pr-2 pt-1 pb-1 m-1"
                 v-bind:class="{ 'alert-success' : item.active, 'alert-danger' : !item.active  }"
                 style="display: inline-block; font-weight: 900">
                {{ parseFloat(item.active) ? "active" : "not active" }}
            </div>
        </td>
        <td class="headcol d-flex justify-content-around align-items-center">
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {}
    }
</script>
