<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.station }}</td>
        <td>{{ item.tipe }}</td>
        <td style="text-align: center;">{{ item.kib }}</td>
        <td>{{ item.penanggung_jawab }}</td>
        <td>{{ item.no_polisi }}</td>
        <td>{{ item.no_polisi_rfs }}</td>
        <td>{{ item.merk }}</td>
        <td>{{ item.jenis }}</td>
        <td>{{ item.tahun }}</td>
        <td>{{ item.warna }}</td>
        <td>{{ item.no_rangka }}</td>
        <td>{{ item.no_mesin }}</td>
        <td>{{ item.bpkb }}</td>
        <td>{{ item.tanggal_pajak }}</td>
        <td>{{ item.tanggal_pajak_rfs }}</td>
        <td>{{ item.perusahaan_asuransi }}</td>
        <td>{{ item.no_polis }}</td>
        <td>
            <template v-if="item.premi">
                Rp {{ item.premi | formatCurrency }}
            </template>
        </td>
        <td>
            <template v-if="item.tertanggung">
                Rp {{ item.tertanggung | formatCurrency }}
            </template>
        </td>
        <td>{{ item.jatuh_tempo_awal }}</td>
        <td>{{ item.jatuh_tempo_akhir }}</td>
        <td class="headcol d-flex justify-content-around align-items-center flex-column">
            <button type="button" name="button" @click="editKD(item)" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            <a :href="base_url + '/admin/kendaraan/edit-pajak/' + item.id">
            <button type="button" name="button" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            </a>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {
                base_url: base_url
            }
        },
        methods: {
            editKD(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-kendaraan-dinas', tmp);
            },
            deleteKD(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-kendaraan-dinas', tmp);
            }
        }
    }
</script>
