<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.username }}</td>
        <td>{{ item.roles[0].display_name }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>
            <div class="alert small pl-2 pr-2 pt-1 pb-1 m-1"
                 v-bind:class="{ 'alert-success' : item.is_active, 'alert-danger' : !item.is_active  }"
                 style="display: inline-block; font-weight: 900">
                {{ parseFloat(item.is_active) ? "active" : "not active" }}
            </div>
        </td>
        <td class="d-flex justify-content-around align-items-center">
            <button type="button" name="button" @click="edit(item)" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            <button type="button" name="button" @click="resetPassword(item)" class="btn btn-danger btn-sm">
                <i class="fa fa-lock"></i>
            </button>
            <button type="button" name="button" @click="remove(item)" class="btn btn-danger btn-sm">
                <i class="fa fa-times"></i>
            </button>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            resetPassword(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-reset-password', tmp);
            },
            edit(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-user', tmp);
            },
            remove(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-user', tmp);
            }
        }
    }
</script>
