<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.nama }}</td>
        <td>{{ item.nip }}</td>

        <td class="headcol d-flex justify-content-around align-items-center flex-column">
            <button type="button" name="button" @click="editSekjen(item)" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            <a :href="base_url + '/admin/kendaraan/edit-sekjen/' + item.id">
            <button type="button" name="button" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            </a>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {
                base_url: base_url
            }
        },
        methods: {
            editSekjen(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-sekjen', tmp);
            },
            deleteSekjen(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-sekjen', tmp);
            }
        }
    }
</script>
