<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.nama_satker }}</td>
        <td>{{ item.nama_barang }}</td>
        <td>{{ item.kondisi }}</td>
        <td>{{ item.merk_type }}</td>

    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            editPhotos(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-photos', tmp);
            },

             remove(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-tanah', tmp);
            }
        }
    }
</script>
