<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>
            <img :src="item.file.full_url"/>
        </td>
        <td>{{ item.seed }}</td>
        <td style="vertical-align: middle;text-align: center;">
            <button type="button" name="button" @click="deletePhotos(item)" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {
                base_url: base_url
            }
        },
        methods: {
            deletePhotos(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('change-state', 'modal-edit-photos', 'delete', tmp);
            }
        }
    }
</script>
