<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.kode_barang }}</td>
        <td>{{ item.nama_barang }}</td>
         <td class="d-flex justify-content-around align-items-center">
            <button type="button" name="button" @click="edit(item)" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            <button type="button" name="button" @click="remove(item)" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            edit(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-edit-barang', tmp);
            },
            remove(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-delete-barang', tmp);
            }
        }
    }
</script>
