<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.kode_barang }}</td>
        <td>{{ item.nup }}</td>
        <td>{{ item.kode_satker }}</td>
        <td>{{ item.nama_satker }}</td>
        <td>{{ item.kib }}</td>
        <td>{{ item.nama_barang }}</td>
        <td>{{ item.kondisi }}</td>
        <td>{{ item.merk_type }}</td>
        <td>{{ item.tanggal_rekam_pertama }}</td>
        <td>{{ item.tanggal_perolehan }}</td>
        <td>{{ item.nilai_perolehan_pertama | formatCurrency }}</td>
        <td>{{ item.nilai_mutasi | formatCurrency }}</td>
        <td>{{ item.nilai_perolehan | formatCurrency }}</td>
        <td>{{ item.nilai_penyusutan | formatCurrency }}</td>
        <td>{{ item.nilai_buku | formatCurrency }}</td>
        <td>{{ item.kuantitas | formatCurrency }}</td>
        <td>{{ item.jumlah_foto | formatCurrency }}</td>
        <td>{{ item.status_penggunaan }}</td>
        <td>{{ item.status_pengelolaan }}</td>
        <td>{{ item.no_psp }}</td>
        <td>{{ item.tanggal_psp }}</td>
        <td>{{ item.jumlah_kib | formatCurrency }}</td>
        <td>{{ item.no_bpkb }}</td>
        <td>{{ item.no_polisi }}</td>
        <td>{{ item.pemakai }}</td>
        <td class="headcol d-flex justify-content-around align-items-center">
            <!--            <button type="button" name="button" @click="addLocation(item)" class="btn btn-info btn-sm">-->
            <!--                <i class="fa fa-map-marker"></i>-->
            <!--            </button>-->
            <template v-if="notFoundKendaraan(item)">
                <button type="button" name="button" @click="removeKendaraan(item)" class="btn btn-success btn-sm">
                    <i class="fa fa-check"></i>
                </button>
            </template>
            <template v-else>
                <button type="button" name="button" @click="selectKendaraan(item)" class="btn btn-warning btn-sm">
                    <i class="fa fa-square"></i>
                </button>
            </template>
        </td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            selectKendaraan(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('select-kendaraan', 'modal-add-kendaraan-penghapusan', tmp);
            },
            removeKendaraan(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('remove-kendaraan', 'modal-add-kendaraan-penghapusan', tmp);
            },
            notFoundKendaraan(item) {
                var tmp        = JSON.parse(JSON.stringify(item));
                var kendaraans = this.rowparams.selected;
                var found      = false;
                for (var i = 0; i < kendaraans.length; i++) {
                    if (kendaraans[i].id == item.id) {
                        found = true;
                        break;
                    }
                }

                return found;
            }
        }
    }
</script>
