<template>
    <tr>
        <td v-text="(pagination.page - 1) * pagination.perpage + 1 + index"></td>
        <td>{{ item.kode_barang }}</td>
        <td>{{ item.nup }}</td>
        <td>{{ item.kode_satker }}</td>
        <td>{{ item.nama_satker }}</td>
        <td>{{ item.kib }}</td>
        <td>{{ item.nama_barang }}</td>
        <td>{{ item.kondisi }}</td>
        <td>{{ item.merk_type }}</td>
        <td>{{ item.tanggal_rekam_pertama }}</td>
        <td>{{ item.tanggal_perolehan }}</td>
        <td>{{ item.nilai_perolehan_pertama | formatCurrency }}</td>
        <td>{{ item.nilai_mutasi | formatCurrency }}</td>
        <td>{{ item.nilai_perolehan | formatCurrency }}</td>
        <td>{{ item.nilai_penyusutan | formatCurrency }}</td>
        <td>{{ item.nilai_buku | formatCurrency }}</td>
        <td>{{ item.kuantitas | formatCurrency }}</td>
        <td>{{ item.jumlah_foto | formatCurrency }}</td>
        <td>{{ item.status_penggunaan }}</td>
        <td>{{ item.status_pengelolaan }}</td>
        <td>{{ item.no_psp }}</td>
        <td>{{ item.tanggal_psp }}</td>
        <td>{{ item.jumlah_kib | formatCurrency }}</td>
        <td>{{ item.no_bpkb }}</td>
        <td>{{ item.no_polisi }}</td>
        <td>{{ item.pemakai }}</td>
    </tr>
</template>
<script>
    export default {
        props  : ['item', 'pagination', 'rowparams', 'index'],
        data() {
            return {}
        },
        methods: {
            removeKendaraan(item) {
                var tmp = JSON.parse(JSON.stringify(item));

                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('id', tmp.id);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/remove-kendaraan/' + this.rowparams.penghapusanid, formData)
                    .then(response => {
                        this.loading = false;
                        window.eventHub.$emit('refresh-ajaxtable', 'data-kendaraan-penghapusan');
                        this.$root.makeNotification('Kendaraan has been removed successfully!', 'ok');
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
            },
            addLocation(item) {
                var tmp = JSON.parse(JSON.stringify(item));
                window.eventHub.$emit('open-modal', 'modal-add-location', tmp);
            }
        }
    }
</script>
