<template>
    <div class="modal fade" role="dialog" id="modal-create-penghapusan">
        <div class="modal-dialog" role="document" style="max-width:660px">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Alasan Reject Dokumen
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="close"><span
                        aria-hidden="true">&times;</span></button>
                </div>
                <form @submit.prevent="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend class="mt-4 mb-3">Detail Penghapusan</legend>


                                    <div class="form-group">
                                        <label class="control-label mb-2">
                                            Alasan Reject Dokumen
                                        </label>
                                        <textarea class="form-control" v-model="item.alasan_reject_dokumen"
                                                  placeholder="Enter alasan kategori penghapusan here"></textarea>
                                        <error-reference v-if="errors.alasan_reject_dokumen"
                                                         :message="errors.alasan_reject_dokumen[0]"></error-reference>
                                    </div>
                                    </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="cancel">
                            Cancel
                        </button>
                        <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    legend {
        font-size: 1.2rem;
    }

    .btn.btn-circle.btn-sm, .btn-group-sm > .btn.btn-circle {
        padding: 1px 0;
        font-size: 14px;
        line-height: 1;
        border-radius: inherit;
        min-width: 25px;
        height: 25px;
    }

    .tooltip {
        display: block !important;
        z-index: 9999;
        opacity: 1;
    }

    .tooltip .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 20px;
        max-width: 450px;
    }

    .tooltip .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    .tooltip[x-placement^="top"] {
        margin-bottom: 5px;
    }

    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="bottom"] {
        margin-top: 5px;
    }

    .tooltip[x-placement^="bottom"] .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

    .tooltip[x-placement^="right"] {
        margin-left: 5px;
    }

    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[x-placement^="left"] {
        margin-right: 5px;
    }

    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

    .tooltip[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.15s, visibility 0.15s;
    }

    .tooltip[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.15s;
    }

</style>
<script>
    export default {
        props  : [],
        data() {
            return {
                item                         : {},
                loading                      : false,
                errors                       : [],
                base_url                     : base_url
            }
        },
        methods: {
            open(oid, item) {
                if (oid == 'modal-create-reject') {
                    this.initialProcess();
                    this.getAutoCompletePengajuanPenghapusan();
                    this.getKategoriPengajuanPenghapusan();

                    $('#modal-create-penghapusan').modal("show");
                }
            },
            getAutoCompletePengajuanPenghapusan() {

            },
            addAnggota() {
                this.susunanPanitia.push({
                    nama               : "",
                    jabatan_nip        : "Staf Tata Usaha",
                    jabatan_tim_panitia: "Anggota",
                });
            },
            removeAnggota(index) {
                this.susunanPanitia.splice(index, 1);
            },
            initialProcess() {
                this.item = {
                    alasan_reject_dokumen    : '',
                };

                this.susunanPanitia           = [];
                this.suratPernyataanSignature = {
                    nama   : '',
                    nip    : '',
                    pangkat: '',
                    jabatan: '',
                };
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('alasan_reject_dokumen', this.item.alasan_reject_dokumen);

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/create-reject', formData).then(response => {
                    this.loading = false;
                    this.initialProcess();
                    this.$root.makeNotification('New Pengajuan Penghapusan has been added!', 'ok');
                    window.location.href = window.base_url + '/admin/pengajuan-penghapusan-kendaraan/detail/' + response.data.data.id;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            cancel() {
                this.item = {};
                $('#modal-create-penghapusan').modal("hide");
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('open-modal', this.open);
            }.bind(this));
        },
    }
</script>
