<template>
    <div class="d-flex">
        <template v-if="tipe=='upload'">
            <template v-if="detail">
                <template v-if="detail.status == 'waiting_for_approval'">
                    <button type="button" class="btn btn-circle btn-alt-info mr-5 mb-5"
                            @click="fireModalUpload(detail, step)">
                        <i class="fa fa-upload"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-download"></i>
                    </button>
                </template>
                <template v-if="detail.status == 'rejected'">
                 <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-download"></i>
                    </button>
                </template>
                <template v-if="detail.status == 'rejected'">
                    <button type="button" class="btn btn-circle btn-alt-warning mr-5 mb-5"
                            @click="fireModalUpload(detail, step)">
                        <i class="fa fa-upload"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-download"></i>
                    </button>
                </template>
                <template v-if="detail.status == 'approved'">
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-check"></i>
                    </button>
                </template>
            </template>
            <template v-else>
                <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"
                        @click="fireModalUpload(detail, step)">
                    <i class="fa fa-upload"></i>
                </button>
            </template>
        </template>
        <template v-if="tipe=='template'">
            <template v-if="detail">
                <template v-if="detail.status == 'waiting_for_final' || detail.status == 'waiting_for_approval'">
                    <button type="button" class="btn btn-circle btn-alt-info mr-5 mb-5"
                            @click="fireModalUpload(detail, step)">
                        <i class="fa fa-upload"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-warning mr-5 mb-5"
                            @click="download(detail, step, 1)">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-download"></i>
                    </button>
                </template>
                <template v-if="detail.status == 'rejected'">
                    <button type="button" class="btn btn-circle btn-alt-warning mr-5 mb-5"
                            @click="fireModalUpload(detail, step)">
                        <i class="fa fa-upload"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-warning mr-5 mb-5"
                            @click="download(detail, step, 1)">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-download"></i>
                    </button>
                </template>
                <template v-if="detail.status == 'hapus'">
                    <button type="button" class="btn btn-circle btn-alt-warning mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-download"></i>
                    </button>
                </template>
                <template v-if="detail.status == 'approved'">
                    <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                            @click="download(detail, step)">
                        <i class="fa fa-check"></i>
                    </button>
                </template>

            </template>
            <template v-else>
                <!--                <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"-->
                <!--                        @click="fireModalTemplate(detail, step)">-->
                <!--                    <i class="fa fa-times"></i>-->
                <!--                </button>-->
                <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"
                        @click="fireModalUpload(detail, step)">
                    <i class="fa fa-upload"></i>
                </button>
                <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                        @click="download(detail, step, 1)">
                    <i class="fa fa-download"></i>
                </button>
            </template>
        </template>
    </div>
</template>
<script>
    export default {
        props     : ['detail', 'step', 'tipe', 'penghapusanid'],
        components: {},
        data() {
            return {
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            fireModalUpload(item, step) {
                window.eventHub.$emit('open-modal', 'modal-upload-penghapusan-detail', item, step);
                window.eventHub.$emit('alter-step', 'form-upload-penghapusan', 1);
            },
            fireModalTemplate(item, step) {
                window.eventHub.$emit('open-modal', 'modal-template-penghapusan-detail', item, step);
            },
            download(item, step, regenerate = 0) {
                if (regenerate)
                    window.location.href = base_url + "/admin/pengajuan-penghapusan-kendaraan/download/" + this.penghapusanid + "/" + step + "/" + regenerate;
                else
                    window.location.href = base_url + "/admin/pengajuan-penghapusan-kendaraan/download/" + this.penghapusanid + "/" + step;
            },
        },
        mounted() {
            this.$nextTick(function () {
            }.bind(this));
        }
    }
</script>
