<template>
    <div>
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[1]" step="1"
                                             tipe="upload"></detail-penghapusan-icon-new>
                </th>
                <td>1.</td>
                <td>Surat Keputusan Kuasa Penguna Barang</td>
                <td>
                    <detail-penghapusan-label :detail="details[1]" step="1" tipe="upload"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[2]" step="2"
                                             tipe="template"></detail-penghapusan-icon-new>
                </th>
                <td>2.</td>
                <td>Berita Acara Penelitian beserta dengan lampirannya</td>
                <td>
                    <detail-penghapusan-label :detail="details[2]" step="2" tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[4]" step="4"
                                             tipe="upload"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>4.</td>-->
                <td>3.</td>
                <td>Surat Keterangan Kondisi Kendaraan dari bengkel resmi</td>
                <td>
                    <detail-penghapusan-label :detail="details[4]" step="4" tipe="upload"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[5]" step="5"
                                             tipe="upload"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>5.</td>-->
                <td>4.</td>
                <td>Fotocopy Bukti Kepemilikan Kendaraan Bermotor (STNK)</td>
                <td>
                    <detail-penghapusan-label :detail="details[5]" step="5" tipe="upload"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[6]" step="6"
                                             tipe="upload"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>6.</td>-->
                <td>5.</td>
                <td>Kartu Identitas Barang (KIB) <strong>(SIMAK-BMN)</strong></td>
                <td>
                    <detail-penghapusan-label :detail="details[6]" step="6" tipe="upload"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[8]" step="8"
                                             tipe="upload"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>8.</td>-->
                <td>6.</td>
                <td>Laporan Kondisi Barang <strong>(SIMAK-BMN)</strong></td>
                <td>
                    <detail-penghapusan-label :detail="details[8]" step="8" tipe="upload"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[10]" step="10"
                                             tipe="template"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>10.</td>-->
                <td>7.</td>
                <td>Foto Berwarna kendaraan dinas yang akan dihapuskan</td>
                <td>
                    <detail-penghapusan-label :detail="details[10]" step="10"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[11]" step="11"
                                             tipe="template"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>11.</td>-->
                <td>8.</td>
                <td>Surat Pernyataan Kuasa Pengguna Barang yang menyatakan bahwa penghapusan kendaraan dinas tidak akan
                    mengganggu tugas dan fungsi perwakilan
                </td>
                <td>
                    <detail-penghapusan-label :detail="details[11]" step="11"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[12]" step="12"
                                             tipe="template"></detail-penghapusan-icon-new>
                </th>
                <!--                <td>12.</td>-->
                <td>9.</td>
                <td>Surat Pernyataan Surat Keputusan Kuasa Penguna Barang yang menyatakan bertanggungjawab atas kebenaran dan keabsahan dokumen / nilai limit penjualan
                </td>
                <td>
                    <detail-penghapusan-label :detail="details[12]" step="12"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon-new :penghapusanid="penghapusanid" :detail="details[13]" step="13"
                                             tipe="upload"></detail-penghapusan-icon-new>
                </th>
                <td>10.</td>
                <td>Surat keputusan status penggunaan</td>
                <td>
                    <detail-penghapusan-label :detail="details[13]" step="13" tipe="upload"></detail-penghapusan-label>
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</template>

<style scoped="">
    .table th, .table td {
        vertical-align: middle;
    }

    .table th, .table td {
        padding: 10px 20px;
    }
</style>

<script>
    export default {
        props     : ['penghapusanid', 'approver'],
        components: {},
        data() {
            return {
                details : [],
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            fireModalUpload(item, step) {
                window.eventHub.$emit('open-modal', 'modal-upload-penghapusan-detail', item, step);
                window.eventHub.$emit('alter-step', 'form-upload-penghapusan', 1);
            },
            fireModalTemplate(item, step) {
                window.eventHub.$emit('open-modal', 'modal-template-penghapusan-detail', item, step);
            },
            download(item, step) {
                window.location.href = base_url + "/admin/pengajuan-penghapusan-kendaraan/download/" + this.penghapusanid + "/" + step;
            },
            getData() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-detail/' + this.penghapusanid).then(response => {
                    this.loading = false;
                    this.details = response.data.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            refresher() {
                this.getData();
                setTimeout(this.refresher, 2000);
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('refresh-details', this.getData);
                this.refresher();
            }.bind(this));
        }
    }
</script>
