<template>
    <div class="d-flex flex-column" style="width: 200px;">
        <template v-if="detail">
            <template v-if="detail.status == 'waiting_for_approval'">
                <span class="alert alert-warning text-center">
                    Menunggu Persetujuan
                </span>
                <template v-if="approveron">
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                                @click="approve(detail, step)">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                        <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"
                                @click="reject(detail, step)">
                            <i class="fa fa-close"></i>
                        </button>
                        <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"
                                @click="reject(detail, step)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </template>
            </template>
            <template v-if="detail.status == 'waiting_for_final'">
                <span class="alert alert-info text-center">
                    Menunggu Final (TTD)
                </span>
            </template>
            <template v-if="detail.status == 'rejected'">
                <span class="alert alert-danger text-center">
                    Dokumen diulang
                </span>
            </template>
            <template v-if="detail.status == 'locked'">
                <span class="alert alert-danger text-center">
                    Dokumen dikunci
                </span>
                <div class="text-center mt-3">
                        <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"
                                @click="approve(detail, step)">
                            <i class="fa fa-paper-plane"></i>
                        </button>
                        <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"
                                @click="reject(detail, step)">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
            </template>
            <template v-if="detail.status == 'hapus'">
                <span class="alert alert-danger text-center">
                    Dokumen dihapus
                </span>
            </template>

            <template v-if="detail.status == 'approved'">
                <span class="alert alert-success text-center">
                    Disetujui
                </span>
                <!--                <template v-if="approveron">-->
                <!--                    <div class="text-center mt-3">-->
                <!--                        <button type="button" class="btn btn-circle btn-alt-success mr-5 mb-5"-->
                <!--                                @click="approve(detail, step)">-->
                <!--                            <i class="fa fa-check"></i>-->
                <!--                        </button>-->
                <!--                        <button type="button" class="btn btn-circle btn-alt-danger mr-5 mb-5"-->
                <!--                                @click="reject(detail, step)">-->
                <!--                            <i class="fa fa-close"></i>-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </template>-->
            </template>
        </template>
        <template v-else>
            <span class="alert alert-danger text-center">
                Menunggu Upload
            </span>
        </template>
    </div>
</template>

<style scoped="">
    .alert {
        margin-bottom: 0;
    }
</style>

<script>
    export default {
        props     : ['detail', 'step', 'tipe'],
        components: {},
        data() {
            return {
                loading   : false,
                errors    : [],
                base_url  : base_url,
                approveron: approveron,
            }
        },
        methods   : {
            approve(item, step) {
                if (confirm('Are you sure you want to approve this document?')) {
                    this.errors  = [];
                    this.loading = true;
                    axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/approve/' + this.detail.pengajuan_penghapusan_id + "/" + step).then(response => {
                        this.loading = false;
                        window.eventHub.$emit('refresh-details');
                        window.location.href = "";
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
                }
            },
            reject(item, step) {
                if (confirm('Are you sure you want to repeat this document?')) {
                    this.errors  = [];
                    this.loading = true;
                    axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/reject/' + this.detail.pengajuan_penghapusan_id + "/" + step).then(response => {
                        this.loading = false;
                        window.eventHub.$emit('refresh-details');
                        window.location.href = "";
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
                }
            },
        },
        mounted() {
            this.$nextTick(function () {
            }.bind(this));
        }
    }
</script>
