<template>
 <div class="row">
        <div class="col-md-12">
            <hr/>
            <ladda-reference :loading="loading2" @click="finish" :text="'Selesai'"></ladda-reference>
            <hr/>
        </div>

        <div>
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon :penghapusanid="penghapusanid" :detail="details[101]" step="101"
                                             tipe="template"></detail-penghapusan-icon>
                </th>
                <td>1.</td>
                <td>Nota Dinas</td>
                <td>
                    <detail-penghapusan-label :detail="details[101]" step="101"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon :penghapusanid="penghapusanid" :detail="details[102]" step="102"
                                             tipe="template"></detail-penghapusan-icon>
                </th>
                <td>2.</td>
                <td>Surat Usulan Sekretaris Jendral</td>
                <td>
                    <detail-penghapusan-label :detail="details[102]" step="102"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon :penghapusanid="penghapusanid" :detail="details[103]" step="103"
                                             tipe="template"></detail-penghapusan-icon>
                </th>
                <td>3.</td>
                <td>Surat Pernyataan TUSI</td>
                <td>
                    <detail-penghapusan-label :detail="details[103]" step="103"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon :penghapusanid="penghapusanid" :detail="details[104]" step="104"
                                             tipe="template"></detail-penghapusan-icon>
                </th>
                <td>4.</td>
                <td>Surat Pernyataan LIMIT</td>
                <td>Jika Pemusnahan tidak perlu masukan surat pernyataan nilai limit</td>
                <td>
                    <detail-penghapusan-label :detail="details[104]" step="104"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <detail-penghapusan-icon :penghapusanid="penghapusanid" :detail="details[105]" step="105"
                                             tipe="template"></detail-penghapusan-icon>
                </th>
                <td>5.</td>
                <td>Surat Pernyataan PEMUSNAHAN</td>
                <td>Khusus Pemusnahan</td>
                <td>
                    <detail-penghapusan-label :detail="details[105]" step="105"
                                              tipe="template"></detail-penghapusan-label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
 </div>
</template>

<style scoped="">
    .table th, .table td {
        vertical-align: middle;
    }

    .table th, .table td {
        padding: 10px 20px;
    }
</style>

<script>
    export default {
        props     : ['penghapusanid', 'approver'],
        components: {},
        data() {
            return {
                details : [],
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            fireModalUpload(item, step) {
                window.eventHub.$emit('open-modal', 'modal-upload-penghapusan-detail', item, step);
                window.eventHub.$emit('alter-step', 'form-upload-penghapusan', 1);
            },
            fireModalTemplate(item, step) {
                window.eventHub.$emit('open-modal', 'modal-template-penghapusan-detail', item, step);
            },
            download(item, step) {
                window.location.href = base_url + "/admin/pengajuan-penghapusan-kendaraan/download/" + this.penghapusanid + "/" + step;
            },
            getData() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-detail-pimpinan/' + this.penghapusanid).then(response => {
                    this.loading = false;
                    this.details = response.data.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            finish() {
                if (confirm('Are you sure you want to finish?')) {
                    var formData = new FormData();
                    formData.append('_token', this.$root.csrf_token);

                    this.errors  = [];
                    this.loading = true;
                    axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/finish-all/' + this.penghapusanid, formData).then(response => {
                        this.loading         = false;
                        window.location.href = '';
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
                }
            },
            refresher() {
                this.getData();
                setTimeout(this.refresher, 2000);
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.eventHub.$on('refresh-details', this.getData);
                this.refresher();
            }.bind(this));
        }
    }
</script>
