<template>
    <form @submit.prevent="">
        <div class="form-group row">
            <div class="col-12">
                <div class="custom-file">
                    <input type="file" ref="file" v-on:change="handleFileUpload" class="custom-file-input"
                           id="example-file-input-custom" accept="application/pdf"
                           name="example-file-input-custom" data-toggle="custom-file-input"/>
                    <label class="custom-file-label" for="example-file-input-custom">Choose file</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <ladda-reference class="btn btn-alt-primary" :loading="loading" @click="save"
                                 :text="'Submit'"></ladda-reference>
            </div>
        </div>
    </form>
</template>
<script>
    export default {
        props     : ['penghapusanid'],
        components: {},
        data() {
            return {
                step    : "",
                item    : {
                    file: null,
                },
                loading : false,
                errors  : [],
                base_url: base_url
            }
        },
        methods   : {
            handleFileUpload() {
                this.item.file = this.$refs.file.files[0];
            },
            changeStep(oid, step) {
                alert('asdf');
                if (oid == 'form-upload-penghapusan') {
                    console.log('asdf' + step);
                    this.step = step;
                }
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('file', this.item.file);

                this.errors  = [];
                this.loading = true;
                console.log('penghapusanid: ' + this.penghapusanid);
                console.log('step: ' + this.step);
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/upload/' + this.penghapusanid + '/' + this.step, formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                    this.loading = false;
                    window.eventHub.$emit('refresh-details');
                    this.$root.makeNotification('Your file has been uploaded successfully!', 'ok');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            mounted() {
                this.$nextTick(function () {
                    window.eventHub.$on('alter-step', this.changeStep);
                }.bind(this));
            }
        },
    }
</script>
