<template>
    <div class="row">
        <div class="col-md-12">
            <hr/>

            <button type="button" class="btn btn-info min-width-125 mb-1" style="height: 40px !important;"
                    @click="fireModalAddKendaraan()">
                + Add Kendaraan
            </button>
             <button type="button" class="btn btn-info min-width-125 mb-1" style="height: 40px !important;"
                    @click="fireModalEditSignature()">
                + Edit Surat Pernyataan Signature
            </button>
            <button type="button" class="btn btn-info min-width-125 mb-1" style="height: 40px !important;"
                    @click="fireModalEditKendaraan()">
                + Edit Panitia Penghapusan
            </button>
            <ladda-reference :loading="loading" @click="save" :text="'Save'"></ladda-reference>
            <ladda-reference :loading="loading2" @click="finish" :text="'Next'"></ladda-reference>
            <hr/>

            <template v-for="kendaraan in kendaraans">
                <fieldset>
                    <legend>
                        {{ kendaraan.kendaraan.kode_barang }} -
                        {{ kendaraan.kendaraan.nup }} -
                        {{ kendaraan.kendaraan.kib }}
                    </legend>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Merk / Type
                                </label>
                                <input type="text" disabled class="form-control" :value="kendaraan.kendaraan.merk_type"
                                       placeholder="Merk Not Available"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Tanggal Perolehan
                                </label>
                                <input type="text" disabled class="form-control"
                                       :value="kendaraan.kendaraan.tanggal_perolehan | fullDateDay"
                                       placeholder="Merk Not Available"/>
                            </div>

                            <button type="button" class="btn btn-danger min-width-125 mb-3"
                                    @click="removeKendaraan(kendaraan)">
                                Remove Kendaraan
                            </button>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="control-label">
                                    No Rangka
                                </label>
                                <input type="text" class="form-control" v-model="kendaraan.no_rangka"
                                       placeholder="Enter no rangka here">
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Tahun Pembuatan
                                </label>
                                <input type="text" class="form-control" v-model="kendaraan.tahun_pembuatan"
                                       placeholder="Enter tahun pembuatan here">
                            </div>

                            <!--                            <div class="form-group">-->
                            <!--                                <label class="control-label">-->
                            <!--                                    Tipe Template Penghapusan-->
                            <!--                                </label>-->
                            <!--                                <select class="form-control" v-model="kendaraan.tipe">-->
                            <!--                                    <option value="">&#45;&#45; pilih tipe template &#45;&#45;</option>-->
                            <!--                                    <option value="nilai_limit">-->
                            <!--                                        Nilai Limit-->
                            <!--                                    </option>-->
                            <!--                                    <option value="umur">-->
                            <!--                                        Umur Kendaraan-->
                            <!--                                    </option>-->
                            <!--                                </select>-->
                            <!--                                <error-reference v-if="errors.tipe"-->
                            <!--                                                 :message="errors.tipe[0]"></error-reference>-->
                            <!--                            </div>-->

                            <!--                            <div class="form-group">-->
                            <!--                                <label class="control-label">-->
                            <!--                                    Nilai Wajar-->
                            <!--                                </label>-->
                            <!--                                <vue-autonumeric-->
                            <!--                                    :placeholder="'Enter nilai wajar here'"-->
                            <!--                                    ref="premi"-->
                            <!--                                    :class="'form-control'"-->
                            <!--                                    v-model="kendaraan.nilai_wajar"-->
                            <!--                                    :options="{-->
                            <!--                                         digitGroupSeparator: ',',-->
                            <!--                                         decimalCharacter: '.',-->
                            <!--                                         decimalCharacterAlternative: '.',-->
                            <!--                                         roundingMethod: 'U',-->
                            <!--                                         minimumValue: '0',-->
                            <!--                                         modifyValueOnWheel: false,-->
                            <!--                                     }"-->
                            <!--                                ></vue-autonumeric>-->
                            <!--                            </div>-->

                            <div class="form-group">
                                <label class="control-label">
                                    Nilai Taksiran (Jika Pemusnahan harga nilai limit ini di isi Rp. 0)
                                </label>
                                <vue-autonumeric
                                    :placeholder="'Pilih nilai taksiran'"
                                    ref="premi"
                                    :class="'form-control'"
                                    v-model="kendaraan.nilai_limit"
                                    :options="{
                                         digitGroupSeparator: ',',
                                         decimalCharacter: '.',
                                         decimalCharacterAlternative: '.',
                                         roundingMethod: 'U',
                                         minimumValue: '0',
                                         modifyValueOnWheel: false,
                                     }"
                                ></vue-autonumeric>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    Alasan Penghapusan
                                </label>
                                <textarea class="form-control" v-model="kendaraan.alasan_penghapusan"
                                          placeholder="Enter alasan kategori penghapusan here"></textarea>
                            </div>

                        </div>

                    </div>

                    <hr/>

                </fieldset>
            </template>
        </div>
    </div>
</template>
<script>
    export default {
        props     : ['penghapusanid'],
        components: {},
        data() {
            return {
                params    : [],
                kendaraans: [],
                loading   : false,
                loading2  : false,
                errors    : [],
                base_url  : base_url
            }
        },
        methods   : {
            fireModalAddKendaraan() {
                window.eventHub.$emit('open-modal', 'modal-add-kendaraan-penghapusan');
            },
            fireModalEditKendaraan(){
                window.eventHub.$emit('open-modal', 'modal-edit-penghapusan-panitia')
            },
            fireModalEditSignature(){
                window.eventHub.$emit('open-modal', 'modal-edit-penghapusan-signature')
            },
            getKendaraans() {
                this.errors  = [];
                this.loading = true;
                axios.get(window.base_url + '/admin/api/pengajuan-penghapusan/get-kendaraan/' + this.penghapusanid).then(response => {
                    this.loading    = false;
                    this.kendaraans = response.data;
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            },
            removeKendaraan(kendaraan) {
                if (confirm('Are you sure you want to remove this kendaraan?')) {
                    this.errors  = [];
                    this.loading = true;
                    axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/remove-kendaraan/' + kendaraan.id).then(response => {
                        this.loading = false;
                        window.eventHub.$emit('refresh-data-kendaraan-penghapusan');
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
                }
            },
            finish() {
                if (confirm('Are you sure you want to finish?')) {
                    var formData = new FormData();
                    formData.append('_token', this.$root.csrf_token);

                    this.errors  = [];
                    this.loading = true;
                    axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/finish-kendaraan/' + this.penghapusanid, formData).then(response => {
                        this.loading         = false;
                        window.location.href = '';
                    }, (error) => {
                        this.loading = false;
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        } else {
                            this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                        }
                    });
                }
            },
            save() {
                var formData = new FormData();
                formData.append('_token', this.$root.csrf_token);
                formData.append('kendaraans', JSON.stringify(this.kendaraans));

                this.errors  = [];
                this.loading = true;
                axios.post(window.base_url + '/admin/api/pengajuan-penghapusan/save-kendaraan/' + this.penghapusanid, formData).then(response => {
                    this.loading = false;
                    window.eventHub.$emit('refresh-data-kendaraan-penghapusan');
                    this.$root.makeNotification('New Pengajuan Penghapusan has been added!', 'ok');
                }, (error) => {
                    this.loading = false;
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    } else {
                        this.$root.makeNotification('There is an unknown error. Please contact admin!', 'Oops', 'danger');
                    }
                });
            }
        },
        mounted() {
            this.$nextTick(function () {
                this.getKendaraans();
                window.eventHub.$on('refresh-data-kendaraan-penghapusan', this.getKendaraans);
            }.bind(this));
        }
    }
</script>
